<div class="col">
    <h4>Businesses & Communities</h4>
    <ul>
        <li><a href="#">Business Directory</a></li>
        <li><a href="#">Community Information</a></li>
    </ul>
</div>
<div class="col">
    <h4>Help & Support</h4>
    <ul>
        <li><a href="#">How it Works</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
<div class="col">
    <h4>Company</h4>
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">News</a></li>
    </ul>
</div>
<div class="col">
    <h4>Privacy & Security</h4>
    <ul>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
    </ul>
</div>

<p class="copy">Copyright &copy; @DateTime.Now.Year <a href="http://wwww.gisplanning.com">GIS Planning Inc.</a> Patent Pending. All Rights Reserved.</p>
