<a id="logo" href="/"><img src="@Url.Content("~/Content/images/sizeup.png")" alt="SizeUp Logo"/></a>
<div id="menu">
<ul>
<li><a href="#" class="disabled">My Business</a></li>
<li><span>|</span></li>
<li><a href="#">Competition</a></li>
<li><span>|</span></li>
<li><a href="#">Advertising</a></li>
<li><span>|</span></li>
<li><a href="#">Top Places</a></li>
<li><span>|</span></li>
<li><a href="#">Sign In</a></li>
<li><a href="#">Sign Out (NAME)</a></li>
</ul>
</div>

