<a id="logo" href="/"><img src="@Url.Content("~/Content/images/sizeup.png")" alt="SizeUp Logo"/></a>
@if(!ViewBag.Header.HideMenu){
<div id="menu">
<ul>
@if (!ViewBag.Header.HideNavigation && ViewBag.CurrentInfo.CurrentPlace != null && ViewBag.CurrentInfo.CurrentIndustry != null)
{
if(ViewBag.Header.ActiveTab == SizeUp.Web.Models.NavItems.Dashboard){
<li><a class="disabled">My Business</a></li>
}else{
<li><a href="/dashboard/@ViewBag.CurrentInfo.CurrentPlace.State.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.County.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.City.SEOKey/@ViewBag.CurrentInfo.CurrentIndustry.SEOKey">My Business</a></li>
}
<li><span>|</span></li>
if(ViewBag.Header.ActiveTab == SizeUp.Web.Models.NavItems.Competition){
<li><a class="disabled">Competition</a></li>
}else{
<li><a href="/competition/@ViewBag.CurrentInfo.CurrentPlace.State.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.County.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.City.SEOKey/@ViewBag.CurrentInfo.CurrentIndustry.SEOKey">Competition</a></li>
}
<li><span>|</span></li>
if(ViewBag.Header.ActiveTab == SizeUp.Web.Models.NavItems.Advertising){
<li><a class="disabled">Advertising</a></li>
}else{
<li><a href="/advertising/@ViewBag.CurrentInfo.CurrentPlace.State.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.County.SEOKey/@ViewBag.CurrentInfo.CurrentPlace.City.SEOKey/@ViewBag.CurrentInfo.CurrentIndustry.SEOKey">Advertising</a></li>
}

<li><span>|</span></li>
if(ViewBag.Header.ActiveTab == SizeUp.Web.Models.NavItems.TopPlaces){
<li class="lastMenuItem"><a class="disabled">Top Places</a></li>
}else{
<li class="lastMenuItem"><a href="/topPlaces/@ViewBag.CurrentInfo.CurrentIndustry.SEOKey">Top Places</a></li>
}

}
@if(SizeUp.Core.Identity.Identity.CurrentUser==null){
<li><a href="javascript:sizeup.core.profile.signIn();">Sign In</a></li>
}else{
<li id="userMenu">
    <a href="javascript:void(0);">@SizeUp.Core.Identity.Identity.CurrentUser.DisplayName</a>
    <ul>
        <li><a href="/user/profile">Account Settings</a></li>
        <li><a href="javascript:sizeup.core.profile.signOut();">Sign Out</a></li>
    </ul>

</li>
}
</ul>
</div>
}

