<a id="logo" href="/"><img src="@Url.Content("~/Content/images/sizeup.png")" alt="SizeUp Logo"/></a>
@if(!ViewBag.Header.HideMenu){
<div id="menu">
<ul>
@if(!ViewBag.Header.HideNavigation){
if(ViewBag.Header.ActiveTab == SizeUp.Web.Models.NavItems.Dashboard){
<li><a class="disabled">My Business</a></li>
}else{
<li><a href="/dashboard/@SizeUp.Core.Web.WebContext.Current.CurrentCity.State.Abbreviation/@SizeUp.Core.Web.WebContext.Current.CurrentCity.SEOKey/@SizeUp.Core.Web.WebContext.Current.CurrentIndustry.SEOKey">My Business</a></li>
}
<li><span>|</span></li>
if(ViewBag.Header.ActiveTab == SizeUp.Web.Models.NavItems.Competition){
<li><a class="disabled">Competition</a></li>
}else{
<li><a href="/competition/@SizeUp.Core.Web.WebContext.Current.CurrentCity.State.Abbreviation/@SizeUp.Core.Web.WebContext.Current.CurrentCity.SEOKey/@SizeUp.Core.Web.WebContext.Current.CurrentIndustry.SEOKey">Competition</a></li>
}
<li><span>|</span></li>
if(ViewBag.Header.ActiveTab == SizeUp.Web.Models.NavItems.Advertising){
<li><a class="disabled">Advertising</a></li>
}else{
<li><a href="/advertising/@SizeUp.Core.Web.WebContext.Current.CurrentCity.State.Abbreviation/@SizeUp.Core.Web.WebContext.Current.CurrentCity.SEOKey/@SizeUp.Core.Web.WebContext.Current.CurrentIndustry.SEOKey">Advertising</a></li>
}
<li><span>|</span></li>
if(ViewBag.Header.ActiveTab == SizeUp.Web.Models.NavItems.TopPlaces){
<li class="lastMenuItem"><a class="disabled">Top Places</a></li>
}else{
<li class="lastMenuItem"><a href="/topPlaces/@SizeUp.Core.Web.WebContext.Current.CurrentIndustry.SEOKey">Top Places</a></li>
}
}
@if(SizeUp.Core.Identity.Identity.CurrentUser==null){
<li><a href="/user/signin/?returnurl=@Server.UrlEncode(Request.Url.PathAndQuery)">Sign In</a></li>
}else{
<li><a href="/user/signout/?returnurl=@Server.UrlEncode(Request.Url.PathAndQuery)">Sign Out (@SizeUp.Core.Identity.Identity.CurrentUser.DisplayName)</a></li>
}
</ul>
</div>
}

