<nav id="home-navbar" class="navbar" role="navigation">
    <a id="logo" class="pull-left col-xs-6 col-sm-4 col-md-3" href="/" style="padding-left:0;"><img class="img-responsive" src="@Url.Content("~/Content/images/sizeup.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="SizeUp Logo"/></a>
    

    @if(SizeUp.Core.Identity.Identity.CurrentUser==null){
        
    <a href="javascript:sizeup.core.profile.signIn();" id="login-btn" class="col-xs-4 col-sm-4 col-md-1 col-lg-1 btn btn-blue navbar-btn pull-right">Sign in</a>
        
    }
    else
    {
        <li id="userMenu" class="dropdown pull-right">
          <span class="btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" style="padding-right:5px;">
              @SizeUp.Core.Identity.Identity.CurrentUser.DisplayName 
              <img src="@Url.Content("~/Content/images/cog-wheel.png")?@SizeUp.Core.Web.CacheBuster.Buster" alt="Cog Wheel"/></span>
          <ul id="user-menu-list" class="dropdown-menu" style="color:#005687;">
            <div class="arrow-up-border"></div>
            <div class="arrow-up"></div>
            <li style="padding:1em 2em;"><a href="/user/profile">Account settings</a></li>
            <li  style="padding:1em 2em;border-top:1px solid #ddd;"><a href="javascript:sizeup.core.profile.signOut();">Sign out</a></li>
          </ul>
        </li>
    }

</nav>