<div class="signinPanel form hidden">
    <p>
        <span>Please Sign In to see more results.</span>
        <span>Don't have an account? Complete a <a href="javascript:sizeup.core.profile.register();">free registration</a>. </span>
    </p>
    <form class="signinForm"  method="post" name="form" action="javascript:void(0);">
    <ul>
        <li>
            <label>Email:</label>
            <input type="text" class="signInEmail" />
        </li>
        <li>
            <label>Password:</label>
            <input type="password" class="signInPassword" />
        </li>
        <li>
            <label>Remember Me:</label>
            <input type="checkbox" class="remeberMe" />
            <input type="submit" class="button" value="Sign In" />
        </li>
    </ul>
    </form>
    <p class="info error hidden failed">Your email address or your password was incorrect. Try again or complete a <a href="javascript:sizeup.core.profile.register();">free registration</a>.
        <br /> 
        Need to <a class="resetLink" href="javascript:void(0);">reset your password?</a>
        <br />
        <span class="passwordReset hidden">An email to reset your password has been sent to your inbox. Please follow the instructions in the email to reset your password.</span>
    </p>
    <p class="info error hidden unvalidated">Please verify your e-mail address by clicking the <strong>verify</strong> link in the welcome e-mail you received or <a class="resendVerifiyLink" href="javascript:void(0);">resend the verification email.</a>
         <br />
        <span class="resendVerifyMessage hidden">An account activation email has been sent to your inbox. Please follow the instructions in the email to activate your account.</span>
    </p>
    <p class="info error hidden locked">An error occured signing in. Please <a href="/help/contact" target="_blank">Contact Support</a>.</p>
</div>