#yearStarted,
#heatmap { color: #1c1c1c; }
#yearStarted  h1,
#heatmap h1 { font-size: 2em; margin:0 0 1em 0; }
#heatmap h2 { font-size: 1.5em; }
#heatmap ul li { margin: 0 0 0.5em 1em; }

#yearStarted table {  }
#yearStarted table tbody{   }
#yearStarted table tr td{ width:13em; padding:0.25em; text-align:right; }