@{
    Layout = "~/Areas/Widget/Views/Shared/_Layout.cshtml";
}

@section head{
<link href="@Url.Content("~/Content/widget/Views/help/help.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />


<title>Help</title>
}



<div id="help">
    <h2>How SizeUp Works</h2>
    <p>SizeUp provides three core features that enable business owners to make more intelligent decisions.</p>
    <a name="dashboard"></a>
    <h3>Benchmark your business</h3>
    <p>
    See how your business sizes up by comparing your performance to all other competitors
    in your industry. Isolate areas where you can improve and find ways you can save
    money.
    </p>
    <div class="video">
    <iframe src="//player.vimeo.com/video/42735744?title=0&amp;byline=0&amp;portrait=0"
        width="500" height="747" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
        </iframe>
        </div>  
        <a href="/widget/help/transcript/?wt=@ViewBag.WidgetToken#dashboard" target="_blank">Video Transcript</a>
      
    <a name="competition"></a>
    <h3>Map your competition</h3>
    <p>
    Map where your competitors, customers, and suppliers are located. Determine how
    you can best serve existing customers, find new customers, and pick suppliers. Use
    the map to isolate areas with many potential customers but little competition.</p>
    <p>
    <div class="video">
    <iframe src="//player.vimeo.com/video/42735746?title=0&amp;byline=0&amp;portrait=0"
        width="500" height="747" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
        </iframe>
        </div> 
        <a href="/widget/help/transcript/?wt=@ViewBag.WidgetToken#competition" target="_blank">Video Transcript</a>   
       

    <a name="advertising"></a>
    <h3>Find the best places to advertise</h3>
    <p>
    Identify the best areas to target your next advertising campaign. Choose from pre-set
    reports to find areas with the highest industry revenue, most underserved markets,
    and where average business revenue is highest, or create your own custom demographic
    and/or business report.</p>
    <p>
    <div class="video">
    <iframe src="//player.vimeo.com/video/42735745?title=0&amp;byline=0&amp;portrait=0"
        width="500" height="747" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
    </iframe>
    </div>
    <a href="/widget/help/transcript/?wt=@ViewBag.WidgetToken#advertising" target="_blank">Video Transcript</a>
</div>

