@{
    Layout = "~/Areas/Widget/Views/Shared/_Layout.cshtml";
}


@section head{
<link href="@Url.Content("~/Areas/Widget/Content/Views/help/help.css")" rel="stylesheet" type="text/css" />


<title>Help</title>
}

<div id="transcript">

    <a name="dashboard"></a>
    <h3>Benchmark your business</h3>
    <p>Let’s say that you own a shoe store in Santa Clara, CA.  What’s a little bit of
    information you can provide to see how you size up against your competitors? 
    </p>
    <p>We’ll enter in the revenue of your business as $678,910.  SizeUp supercrunches
    millions of data points to compare your shoe store against other shoe stores, and
    you can see that your shoe store makes less than the typical business in your city,
    county, metro, state, and the nation.  Down below, you can see a heatmap. 
    In red are the areas that have the highest average business annual revenue,
    and in yellow are areas where there is less.  Santa Clara is in the center,
    and you can see that there are areas around Santa Clara that have higher
    average annual revenue; these may be places where you want to target your next
    advertising campaign or open a future store.  Below are considerations and resources
    for your business.</p>

    <p>Now let’s enter in the year you started.  Let’s say it opened in 1999.  SizeUp plots the
    opening of shoe stores across the entire country.  You may not be interested in the national
    or state data, in which case you can turn off those layers and focus on the local level,
    where in this case there’s an upward trend of shoe stores opening in your metro.</p>

    <p>Now let’s see if you are paying more or less than the typical shoe store for your employees.
    At $25,000 a year, SizeUp shows that you are paying more.  The typical shoe store in your 
    county pays a little over $19,000 a year.   The map below shows the locations that have the
    highest salaries are in areas like Marin County and San Francisco.</p>

    <p>Let’s now enter in that you have seven employees.  SizeUp shows you that your shoe
    store is pretty typical in size.</p>

    <p>As you enter in information, SizeUp can create additional reports, for example, your cost effectiveness.
    Cost effectiveness is a measure of how much output you get relative to how much you’re spending.  </p>

    <p>We can also look at revenue per capita at the neighborhood level, and then zoom out
    to the regional, state, and even the national level.</p>

    <p>SizeUp also shows the local turnover rate for shoe stores.  This report shows that 
    about 14% of your employees are going to have to be replaced each year.   </p>

    <p>Let’s say that you spend $4,500 per employee per year on healthcare.  You can see
    that you pay $191 more for healthcare on a per employee basis than a typical business
    of a similar size and in a similar industry.  You can also enter in your workers’ 
    compensation rate.</p>

    <p>With just a few clicks, you can get an overall dashboard showing how your business sizes
    up to the competition.</p>

 
    <a name="competition"></a>
    <h3>Map your competition</h3>
    <p>A successful business will want to know where their potential competitors,
    customers, and suppliers are.  Let’s say we’re opening up a beauty salon
    in Beverly Hills.  SizeUp will show you the locations of your competitors.
    </p>
    <p>We also know that we’re going to target models, so we’re going to focus
    on the talent agencies where they work so they can send their models over
    to us before their interviews.  We’ll input that as a business we sell to,
    which will display the locations of talent agencies nearby on the
    customers tab. 
    </p>
    <p>We also know that we’re going to buy beauty supplies, so we’ll input that
    as a business category we buy from and SizeUp will map those nearby
    businesses on the suppliers tab. 
    </p>
    <p>In an ideal world, what you want is a location that doesn’t have a lot of 
    competition, but has many potential customers.   In orange, you can see areas where 
    there are high concentrations of competitors.  Visually on the map, you can also
    see areas in green where there are potential customers with not so many competitors
    nearby.  By following this method, we can find a good location to open up a beauty salon.
    </p>

    <a name="advertising"></a>
    <h3>Find the best places to advertise</h3>
    <p>
    A serious business will want to know where to market their products or services.
    Let’s say we’re a dentist in New York City.  Where should we advertise?
    With just that information, SizeUp can show us that the areas with the highest
    total annual revenue for dental offices are just south of Central Park.</p>

    <p>
    But maybe we want to focus on a different opportunity and we want to find
    the areas that are most underserved.  The report for Most Underserved Markets
    changes the map, showing that the best locations are in the Bronx and Springfield Gardens.</p>

    <p>
    Or perhaps you want to focus on a specific demographic of lower income households.
    Adjusting the advanced filters for income level, the map shows that the Bronx is still
    a good location, but also Newark, NJ.
    </p>

</div>
