@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>SizeUp - User Profile</title>
<link href="@Url.Content("~/Content/views/user/register.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/views/user/register.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
}

<h3>This page will redirect to a brochure page</h3>
<p class="details">
    ... which describes ways the user can get access to the SizeUp product. TODO write the brochure page.
</p>


