<div class="header">
    <div class="icon"></div>
    <h2>Revenue</h2>
    <span class="hint">Annual revenue of your business</span>
    <input type="text" class="valueBox" />
    <span class="prompt">Please enter <br />your annual revenue</span>
    <div class="gauge"></div>
    <a href="javascript:void(0)" class="button medium runReport">Run Report</a>
    <a href="javascript:void(0)" class="reportToggle"></a>
</div>
<div class="body">
    <div class="loading">
        <p class="title">Average Revenue Report</p>
        <img src="@Url.Content("~/content/images/Loading.gif")" alt="Loading" />
        <p class="message">Generating Report</p>
    </div>
    <div class="reportContainer">
        <div class="reportContent">
            <h3>How you size up</h3>
            <p>Your business generates less revenue than 99% of businesses in your industry in the nation.</p>
            <div class="chart">
                <a href="#">Hide Variations by Geography</a>
                <a href="#">View Data Table </a>
                <div class="container"></div>
            </div>
            <ul class="links">
                <li>
                    <a class="source" href="javascript:void(0);" data-toggleText="Hide">Source</a>
                </li>
            </ul>
            <div class="sourceContent " data-expandedClass="expanded">
                <p>Average revenue data for communities on SizeUp is aggregated from data on individual businesses,
                        which comes from hundreds of data sources including, but not limited to, IRS records, county 
                        courthouse filings, business publications, and corporate annual reports.
                </p>
            </div>
            <div class="map"></div>
        </div>
        <div class="reportSidebar">
            <div class="section">
                <h4>Considerations</h4>
                <p>Average annual revenue measures the income that the average business 
                    in the area generates from selling its goods and services. You can use this 
                    figure as a benchmark to determine where you should be setting goals for your 
                    own performance.</p>

                <p>The map shows the areas with the highest average revenue for businesses in your industry.
                    These are areas you may want to target a marketing campaign or open a future 
                    business location.</p>
            </div>
            <div class="section">
                <h4>Resources</h4>
                <p>Apply for a small business loan from <a href="http://www.ondeckcapital.com/size-up?utm_source=sizeup&utm_medium=sizeup&utm_campaign=sizeup"  target="_blank">On Deck</a>.</p>
		        <p>Connect with investors and receive a peer-to-peer loan from <a href="http://www.shareasale.com/r.cfm?b=262903&u=592999&m=29606&urllink=&afftrack=" target="_blank">Prosper</a>.</p>
		        <p>Get business assistance consulting from <a href="http://www.score.org" target="_blank">SCORE</a> or <a href="http://www.asbdc-us.org/" target="_blank">the Association of Small Business Development Centers</a>.</p>
                <p>Track revenue and expenses with <a href="http://quickbooks.intuit.com/" target="_blank">Quickbooks</a>, <a href="https://indinero.com/" target="_blank">inDinero</a>, or <a href="http://waveaccounting.com/" target="_blank">Wave Accounting</a>.</p>
		        <p>Develop a business plan and create forecasts using <a href="http://www.enloop.com" target="_blank">Enloop</a>.</p>       
		        <p>Easily visualize QuickBooks data with graphics using <a href="http://www.mybizhomepage.com/" target="_blank">MyBizHomepage</a>.</p> 
		        <p>Expand your business through franchising with <a href="http://www.bibbygroup.com/franchise-consultants.htm" target="_blank">the Bibby Group</a> or <a href="http://www.ifranchisegroup.com" target="_blank">the iFranchise Group</a>.</p>
		        <p>Expand your search engine presence with <a href="http://www.google.com/placesforbusiness" target="_blank">Google Places</a>.</p>
		        <p>Grow your business online with a website from <a href="http://www.dpbolvw.net/click-5633483-10378406" target="_blank">GoDaddy</a><img src="http://www.awltovhc.com/image-5633483-10378406" width="1" height="1" border="0"/>.</p>
		        <p>Get your free credit score from <a href="http://www.creditkarma.com/" target="_blank">Credit Karma</a> or <a href="http://equifax.com/freetrial" target="_blank">Equifax</a>.</p>
		        <p>Discover what your business is worth with <a href="https://www.bizequity.com/" target="_blank">BizEquity</a>.</p>
		        <p>Sell your business at <a href="http://www.bizbuysell.com/" target="_blank">BizBuySell</a>.</p>
            </div>
        </div>
    </div>
</div>