<div class="header">
    <div class="icon"></div>
    <h2>Local Turnover</h2>
    <span class="hint">Percentage of workers newly hired</span>
    <input type="text" class="valueBox" />
    <div class="gauge "></div>
    <a href="javascript:void(0)" class="button medium runReport ">Run Report</a>
</div>
<!--dont forget job change report here --->
<div class="body ">
    <div class="loading">
        <p class="title">Turnover Report</p>
        <img src="@Url.Content("~/content/images/Loading.gif")" alt="Loading" />
        <p class="message">Generating Report</p>
    </div>
    <div class="reportContainer ">
        <div class="reportContent">
            <h3>How you size up</h3>
            <p>The turnover rate in your county is 5.9% for <strong>Health and Personal Care Stores (Unclassified)</strong>,
                    which is the closest corresponding industry category for <strong>PHARMACIES</strong>. 
                The turnover rate is the percentage of workers that are new as of the most recent fiscal quarter.
                    The turnover rate depends on the numbers of hires and separations. Separations count 
                the number of workers whose jobs with a given employer ended in a quarter.
            </p>
            <div class="chart">
                <a href="#">Hide Variations by Geography</a>
                <a href="#">View Data Table </a>
                <div class="container"></div>
            </div>
            <ul class="links">
                <li>
                    <a class="source" href="javascript:void(0);" data-toggleText="Hide">Source</a>
                </li>
            </ul>
            <div class="sourceContent " data-expandedClass="expanded">
                <p>Turnover data is collected through the Federal Government. </p>
            </div>
            <div class="map"></div>
        </div>
        <div class="reportSidebar">
            <div class="section">
                <h4>Considerations</h4>
                <p>Turnover is a measure of employee stability.  Training employees takes time and money before they can be productive, 
                    so reducing turnover can reduce your expenses.
                </p>
		        <p>Some industries have higher turnover rates than others. If your job openings are entry level service jobs best suited
                    to people first entering the workforce, it may be hard to avoid high turnover rates.
		        </p>
		        <p>When economic times are good for your industry, talented workers may be drawn to other opportunities and companies.
		        </p>
            </div>
            <div class="section">
                <h4>Resources</h4>
                <p>Post available jobs at <a href="http://hiring.monster.com" target="_blank">Monster</a>, <a href="http://www.careerbuilder.com/jobposter/"  target="_blank">CareerBuilder</a>, <a href="http://success.simplyhired.com" target="_blank">Simply Hired</a>, or <a href=https://ads.indeed.com" target="_blank">Indeed</a>.</p>
		        <p>Search resumes at <a href="http://www.linkedin.com/" target="_blank">LinkedIn</a>, <a href="http://hiring.monster.com" target="_blank">Monster</a>, or <a href="http://www.careerbuilder.com/jobposter/"  target="_blank">CareerBuilder</a>.</p>
		        <p>Find temporary employees through <a href="http://www.manpower.com" target="_blank">Manpower</a>.</p>
	            <p>Augment salaries with a retention plan from <a href="http://retensa.com"  target="_blank">Retensa</a> and perks from <a href="http://betterworks.com"  target="_blank">BetterWorks</a>.</p>
                <p>Find salary data by occupation at <a href="http://salary.com"  target="_blank">Salary.com</a> or <a href="http://www.payscale.com/hr/solutions/salary-benchmarking"  target="_blank">PayScale</a>.</p>
		        <p>Enhance your employee benefits packages while saving your company money. Sign up for commuter benefit programs and flexible spending accounts through <a href="http://www.transitcenter.com/employers/"  target="_blank">TransitCheck</a>,
                <a href="https://www.flexdirect.adp.com/" target="_blank">FlexDirect</a>, or <a href="http://www.flex-plan.com/" target="_blank">Flex-Plan Services</a>.</p>
            </div>
        </div>
    </div>
</div>