<div class="header">
    <div class="icon"></div>
    <h2>Year Started</h2>
    <span class="hint">The year your business was started</span>
    <input type="text" class="valueBox" />
    <span class="prompt">Please enter <br />the year your business started</span>
    <div class="gauge "></div>
    <a href="javascript:void(0)" class="button medium runReport ">Run Report</a>
    <a href="javascript:void(0)" class="reportToggle"></a>
</div>
<div class="body ">
    <div class="loading">
        <p class="title">Years In Business Report</p>
        <img src="@Url.Content("~/content/images/Loading.gif")" alt="Loading" />
        <p class="message">Generating Report</p>
    </div>
    <div class="reportContainer ">
         <div class="reportContent noDataError">
            <p>There is no data available for this report with this industry and city</p>
        </div>
        <div class="reportContent reportData">
            <h3>How you size up</h3>
            <p class="description">
                <div data-template="description">
                @Html.Raw(ViewBag.Strings["Dashboard.Salary.Description"])


                    <p>Your business started in 1999. In the same year, 0 businesses in your industry started in your city,
                    0 started in your county, 2 started in your metro area, 19 started in your state, and 142 started nationally.
                    </p>
                    <p>In your industry, your business has been in operation longer than 47% of businesses in your city, 47% of 
                    businesses in your county, 51% of businesses in your metro area, 55% of businesses in your state, and 56% 
                    of businesses in the nation.
                    </p> 
                </div>
            </p>

           
            
            
            
            
                  
            <div class="chart">
                <div class="container"></div>
            </div>
            <ul class="links">
                <li>
                    <a class="source" href="javascript:void(0);" data-toggleText="Hide">Source</a>
                </li>
            </ul>
            <div class="sourceContent">
                @Html.Raw(ViewBag.Strings["Dashboard.Salary.Source"])

                 <p>The year started chart is based on data on the start date for individual businesses,
                    which comes from hundreds of data sources including IRS records, county courthouse filings,
                    Yellow Pages and White Pages, business publications, the U.S. Postal Service, and corporate annual reports.
                    This chart goes as far back as 1986 to show patterns in business formation.
                </p>
            </div>


        </div>
        <div class="reportSidebar">
            <div class="section considerations collapsable">
                <h4>Considerations</h4>
                <p>This chart measures both business formation and survival, and can be used to assess the relative stability or 
                    volatility of your industry in your area.  The chart measures the starts per year of all businesses that are 
                    still in operation.
                </p>
		        <p>If most of the local businesses have formed within the past few years, your industry may be growing.  It also may 
                    be a very volatile industry where branding and longevity have little value, resulting in a high level of churn from 
                    businesses opening and closing.
		        </p>
		        <p>A dip in this chart for a given year could mean that fewer businesses formed then, or that businesses formed in that year
                    were less likely to survive until today.  If there is a downward trend in recent years, it may be that the industry is maturing
                        rather than declining.  If most of the businesses have been operating for many years, there may be significant barriers to 
                    entry that prevent startups from competing, which can result in a marketplace of well-established businesses.
		        </p>
		        <p>If you are mostly interested in local trends, click to hide the data at the national and state level.
		        </p>  

                <div class="question">
                    <span>Are you a <a href="javascript:void(0);" class="startup">startup</a> or an <a href="javascript:void(0);" class="established">established business</a>?</span>
                </div>
                <div class="startup answer collapsed hidden">
                    <h5>you are a startup</h5>
                    <a href="javascript:void(0);" class="clearer">[change]</a>
                    <p>
                        Refer to the chart to see the trends over time in business formation and to assess 
                        the level of risk for new businesses starting up.  If you see a recent spike in 
                        business formation, there may be opportunity but also greater competition.
                          If the business starts have recently dipped, there may be growing challenges 
                        facing start-ups in your industry that you should research.
                    </p>
				    <p>
                        If the national trend is downward but your local trend is upward, you are likely in
                         a good position.  This may mean that you are in a generally maturing industry 
                        that is at an earlier stage in your area, and by joining now, you may have advantages 
                        later when the industry matures.
				    </p>
                </div>
                <div class="established answer collapsed hidden">
                    <h5>you are an established business</h5>
                    <a href="javascript:void(0);" class="clearer">[change]</a>
                    <p>Determine whether you should be concerned about new competitors entering your space.</p>
                    <p>
                        If you are considering selling your business, use the chart to identify spikes in
                         business formation to see when the interest in acquiring your business may be highest.
                    </p>
                </div>

            </div>
            <a href="javascript:void(0);" class="considerationToggle fadeToggle" data-toggleText="More" data-toggleClass="collapsed">Less</a>
        </div>
    </div>
</div>