/****
base style guide for the site. Should only contain basic stylings
of elements and some common classes. Nothing more!
****/

body{font-size:10px;position:relative; font-family:"Trebuchet MS",Arial, Verdana, Sans-Serif; text-align: left; color: #606060; background-image:url(images/home-gradient.png); background-repeat:repeat-x; background-color:#0099CC;  }

[data-template] { display: none; }

ol, ol li { list-style: decimal outside none; }
a,
p,
span {font-size:1.3em;}

span a,
p span,
p a,
a span { font-size: 1em;  }

a {color: #e78500;text-decoration: none;font-weight: bold;}
a:hover {color: #0099cc;}

a.inverse { color: #606060; }
a.inverse:hover { color: #e78500;  }

h1 {font-size:2.4em; font-weight:bold;}
h2 {font-size:1.75em; font-weight: bold;}
h3 {font-size:1.5em;}
h4 {font-size:1.25em; font-weight:bold;}


input[type=password],
input[type=text] {border: 1px solid #CCC; color:#606060; font-size: 1.9em;margin: 0;padding: 0.25em;}
input[type=password].blank,
input[type=text].blank {color:#A0A0A0;}
label { font-size: 1.85em; display: inline-block; }




.clear { clear: both; }
.hidden {display:none !important;}


ul.ui-autocomplete {background-color: white; border-color: #80947B #80947B #6F816A #ADBBAA;border-style: solid;border-width: 1px; font-family: Arial,Sans-Serif; overflow:auto; max-height:19.5em; float: left; position:absolute; }
ul.ui-autocomplete li.ui-menu-item a {color:#303030; text-decoration: none; font-weight: normal;display:block;padding: 0.25em 0.5em;}
ul.ui-autocomplete li.ui-menu-item{ cursor: default;display: block; line-height: 1.5em; margin: 0;overflow: hidden;}
ul.ui-autocomplete li.ui-menu-item.odd {background:#EEEEEE;}
ul.ui-autocomplete li.ui-menu-item .ui-state-hover {background:#FFD86A; border:none;}



span.hint {color: #aaa;}
p.info { background-color: #FFFFF0; border: solid 1px #ddd; padding: 1em; text-align: center; border-radius:1em;-moz-border-radius:1em;-webkit-border-radius: 1em;  }
p.info span { display: block;padding: 0.25em; }
span.error,
p.error { color: #ff0000; }
span.error { padding: 0.25em; font-size: 1.5em; }

a.button,
.button  {color: #fff;display:inline-block;padding: 0.25em 2em; cursor: pointer; border-radius:0.4em; background-color: #e78500; background-size: 100% 100%; font-size:2.6em; border:none; box-shadow: 1px 1px 1px #aaa; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAvCAYAAADaU1s4AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wDDRURGTG9PrIAAAC8SURBVDjLrVRBDsMgDHOk/ns/r3spVZolwWxwoSBqY5vESH4gjAMA1YPn/W1un25NAOYRI7Jf0yNK1BboIvJDXdG/qOnQvkSMn/0dM1Rm9vhh8RqRGtVdM2opGYaUmGVNlToTBG9PabKKiM6ebMbIukqGVdbyC993kNsRzyrf+HC7MuAW1aaq5iriqyJniEtiLCJmLeXZi4illzMxe+yRakaKkKtViKwDV4j8uz9iZtFPVcjuAXeIZQ9vBV1EQ3POiyNDMgAAAABJRU5ErkJggg==);}
a.button:hover,
.button:hover{text-shadow: 0 0 0.1em #fff;}

a.button.inverse { background-color: #aaa; }
a.button.inverse:hover {background-color:#e78500; color:#fff; text-shadow:none; }

input[type=submit].button { font-family:"Trebuchet MS",Arial, Verdana, Sans-Serif; font-weight: bold; }

.button.tiny,
a.button.tiny { font-size: 1em;  }

.button.small,
a.button.small { font-size: 1.5em; }

.button.medium,
a.button.medium { font-size: 1.9em; }



a.menu {color: #fff;display:inline-block;padding: 0.6em 1em 0.6em 0.75em; cursor: pointer; border-radius:0.4em;-moz-border-radius:0.4em;-webkit-border-radius: 0.4em; background-color: #e78500; background-size: 100% 100%; font-size:1.6em; border:none; box-shadow: 1px 1px 1px #aaa; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAvCAYAAADaU1s4AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wDDRURGTG9PrIAAAC8SURBVDjLrVRBDsMgDHOk/ns/r3spVZolwWxwoSBqY5vESH4gjAMA1YPn/W1un25NAOYRI7Jf0yNK1BboIvJDXdG/qOnQvkSMn/0dM1Rm9vhh8RqRGtVdM2opGYaUmGVNlToTBG9PabKKiM6ebMbIukqGVdbyC993kNsRzyrf+HC7MuAW1aaq5iriqyJniEtiLCJmLeXZi4illzMxe+yRakaKkKtViKwDV4j8uz9iZtFPVcjuAXeIZQ9vBV1EQ3POiyNDMgAAAABJRU5ErkJggg==);}
a.menu:after {content: "."; color:transparent; background :url(images/menuTriangle.png) no-repeat 0.3em 0.4em; position:relative; left:0.5em; border-left:solid 0.1em #fff; display:inline-block; width:1.25em;}

.loading { text-align: center; }
.loading p { font-size: 1.6em; padding: 1.5em; }
.loading .title { font-weight: bold; color: #6EAB24; }
.loading .message { color: #c0c0c0; }


.map p,
.map a,
.map span { font-size: 1em; }


a.sorter { font-size:1em; display: inline-block; background: url(images/up-down.png) no-repeat right -10px; padding:0 1.5em 0 0; vertical-align:top; }
a.sorter.asc { background-position:right -23px; }
a.sorter.desc { background-position:right 3px; }


.signinPanel.form p { margin: 1em 0; }
.signinPanel.form label { font-size:1.3em; width:7em; }
.signinPanel.form input[type=text],
.signinPanel.form input[type=password] { width:20em; }
.signinPanel.form ul li { margin: 0.5em 0; }
.signinPanel.form a.button { position: relative; left: 7em; }



.mapWrapper { text-align: right; }
.mapWrapper .map .titleContainer { max-width: 80%; }
.mapWrapper .map .titleWrap {display:block; float:right; }
.mapWrapper .map .backdrop {background-color:rgba(0, 0, 0, 0.6);  float:right; display:block; background-color: #444\0/; }
.mapWrapper .map .backdrop.edge { border-bottom-left-radius: 1em; }
.mapWrapper .map .legend .text {color:#fff; line-height: 1.5em; }
.mapWrapper .map .legend .title { font-size: 1.2em;text-align:left;  min-width: 15em; padding: 0.5em 1em; }
.mapWrapper .map ul.legend { padding:0.25em 1em 1em; text-align:left; }
.mapWrapper .map .legend .range { font-size:1.1em; padding: 0 0 0 0.5em; text-align:left;  display:inline-block;  }
.mapWrapper .map ul.legend li { line-height: 1.5em; padding:0 1em; }
.mapWrapper .map ul.legend .block { width: 1em; height: 1.5em; display: inline-block; position:relative; top:0.25em;  }

.mapWrapper .map .legend .options {background-color:#333; }

.mapWrapper .map .legend .radio {color:#fff; font-size:1.1em; padding:0.5em 1em 0.5em 0; display:inline-block; }
.mapWrapper .map .legend .radio:before { background: url(/content/images/onoff.png) no-repeat 0 0; content:" "; display:inline-block; width:10px; height:10px; margin:0 0.5em 0 1em;position:relative; top:-0.1em; }
.mapWrapper .map .legend .radio.active:before {background-position: 0 -13px; }



/**** experimental base styles*****/


.chzn-container {position:relative; z-index:9999999; }
.chzn-container .chzn-drop {position:absolute; background-color:#fff; border:1px solid #ccc; }
.chzn-container .chzn-drop .chzn-search { display: none; }
.chzn-container .chzn-drop .chzn-results .active-result {font-size:1.5em; padding:0.1em; color:#666; text-align:right; }
.chzn-container .chzn-drop .chzn-results .active-result.result-selected {background-color:#E6E6E6; }
.chzn-container .chzn-drop .chzn-results .active-result.highlighted {background-color:#FFD86A; }





