@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <title>It’s the Tinder for Banks and FinTech</title>

    <meta name="keywords" content="Tinder, Banks, FinTech" />
    <meta name="description" content="" />
    


    <link href="@Url.Content("~/Content/views/company/team.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
}

<div id="fintinder" style="font-size:14.5px;margin:0px">
    <div>
        

<p class=MsoNormal align=center style='text-align:center'><b style='mso-bidi-font-weight:
normal'>It’s the Tinder for Banks and FinTech<o:p></o:p></b></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>April 1, 2016 (SAN FRANCISCO) – Discovering innovative FinTech
companies to partner with has been complicated, expensive, and time-consuming
for banks. However, with today’s launch of a new app from <a
href="http://www.SizeUp.com">SizeUp</a> called FinTinder, all of that has
changed. <o:p></o:p></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

        
      
<p class=MsoNormal>“We have vastly improved the process of introducing banks
and FinTechs by inventing a new app inspired by Tinder. Now all bank innovation
staff have to do is swipe right if you see a FinTech you want to do business
with or swipe left if you don’t.<span style='mso-spacerun:yes'>  </span>It’s
the same process for FinTechs with banks. <img style="float:right; margin:5px" src="@Url.Content("~/content/images/Blog-Tinder-SizeUp.png")" allign="LEFT"/>If a bank and a FinTech are both interested
in each other the app makes a connection so they can get together. It’s that
simple because that’s how simple is should be,” said Luke Bizzy, Product
Designer of FinTinder.   <o:p></o:p></p></div>

@*<p class=MsoNormal>“We have vastly improved the process of introducing banks
and FinTechs by inventing a new app inspired by Tinder. Now all bank innovation
staff have to do is swipe right if you see a FinTech you want to do business
with or swipe left if you don’t.<span style='mso-spacerun:yes'>  </span>It’s
the same process for FinTechs with banks. If a bank and a FinTech are both interested
in each other the app makes a connection so they can get together. It’s that
simple because that’s how simple is should be,” said Luke Bizzy, Product
Designer of FinTinder. <o:p></o:p></p>*@

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>The 23 year-old SizeUp programmer who came up with the idea,
Noah Vale, explains that, “Some people tell me ‘Tinder is just for hooking up.’
To which I always replied, ‘Exactly!’ But now I also tell them that it has also
inspired the new way for banks and FinTechs to meet each other.” <o:p></o:p></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>The product has been a hit with bankers that received VIP
beta invites to preview the technology. “I haven’t been in banking very long
but it immediately occurred to me that swiping left and right on my iPhone is a
lot easier than taking week-long business trips to Silicon Valley, London, and
Singapore to meet FinTechs in countries that aren’t even considerate enough to
keep the same time zones. Why would you want to do that when you could just download
an app from the Apple App Store instead?” said Springfield economic analyst,
Nadia Geddit. <o:p></o:p></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>“<a
href="https://wellsfargoworks.com/competitive-intelligence-tool">Banks that have
seen SizeUp</a> <a href="https://dbunternehmerportal.com/de/unternehmermarkt">want
to work with us</a> to help them <a
href="https://www.sizeup.com/help/financialinstitutionsdownload">better serve
their small business customers</a>. But not every bank has seen us. That’s why
banks using FinTinder can see our picture and in seconds they know that we’re a
hot FinTech they want to get with,” said Les Ismore, SizeUp VP of Business
Development. <o:p></o:p></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>Bank innovation staff Floyds Bank have already experienced
successful results. “I’m getting even more matches on the FinTinder app than I
do on <a href="https://www.gotinder.com">Tinder</a>!” said innovation banker
Pat McCann. <o:p></o:p></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>SizeUp’s marketing director, Anita Idia, said she came up
with the app name “FinTinder” by combining the words <i style='mso-bidi-font-style:
normal'>FinTech</i> and <i style='mso-bidi-font-style:normal'>Tinder</i>. “It’s
my best work ever,” said Idia. <span style='mso-spacerun:yes'> </span><o:p></o:p></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>This new app could spell trouble for incumbent FinTech
conferences. “Going to conferences like <a href="http://finovate.com/">Finovate</a>,
<a href="http://www.money2020.com/">Money 2020</a>, <a
href="https://moneyconf.com/">MoneyConf</a>, <a href="http://fintechstage.com/">FinTech
Stage</a>, <a href="http://innotribe.com/">Innotribe</a>, <a
href="https://nextbank.org/">Next Bank</a>, and <a
href="http://www.terrapinn.com/exhibition/cards-and-payments-middle-east">Card
&amp; Payments</a> have traditionally been a great way for financial
institutions to discover FinTechs. But at all these conferences you actually
have to meet people. In today’s culture of Facebook and twitter, people don’t
even want to spend face-to-face time with their best friends. The FinTinder app
is going to be a huge success,” said analyst Bea Esser from the banking
futurist company Douse and Burnham. “Also with an app no one gets angry when
you’re having a meeting with them at the same time you’re looking at your
smartphone.” <o:p></o:p></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>The anti-bank FinTechs are skeptical. “This is the stupidest
app I’ve ever heard of. My FinTech company BankedOver will never join FinTinder.
We don’t want to work with banks. We want to destroy them,” said Hizzy Fitz,
CEO of BitcoinSecurityRemitanceRoboAdvisorWealthPal. “What is this, April Fools
Day?” <o:p></o:p></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>To download the FinTinder app, <a
href="http://www.SizeUp.com">please visit SizeUp.com</a>. <o:p></o:p></p>


    </div>
</div>
