@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <title>The Team</title>

    <meta name="title" content="It’s the Tinder for Banks and FinTech" />
    <meta name="keywords" content="Tinder, Banks, FinTech" />
    <meta name="description" content="" />


    <link href="@Url.Content("~/Content/views/company/team.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
}

<div id="fintinder">
    <div>
        <h1 style="text-align: center;">It’s the Tinder for Banks and FinTech </h1>
        <p>April 1, 2016 (SAN FRANCISCO) – Discovering innovative FinTech companies to partner with has been complicated, expensive, and time-consuming for banks. However, with today’s launch of a new app from SizeUp called FinTinder, all of that has changed. </p>
        <p>“We have vastly improved the process of introducing banks and FinTechs by inventing a new app inspired by Tinder. Now all bank innovation staff have to do is swipe right if you see a FinTech you want to do business with or swipe left if you don’t.  It’s the same process for FinTechs with banks. If a bank and a FinTech are both interested in each other the app makes a connection so they can get together. It’s that simple because that’s how simple is should be,” said Luke Bizzy, Product Designer of FinTinder.</p>
        <p>“Banks that have seen SizeUp want to work with us to help them better serve their small business customers. But not every bank has seen us. That’s why banks using FinTinder can see our picture and in seconds they know that we’re a hot FinTech they want to get with,” said Les Ismore, SizeUp VP of Business Development. </p>
        <p>Bank innovation staff Floyds Bank have already experienced successful results. “I’m getting even more matches on the FinTinder app than I do on Tinder!” said innovation banker Pat McCann. </p>
        <p>SizeUp’s marketing director, Anita Idia, said she came up with the app name “FinTinder” by combining the words FinTech and Tinder. “It’s my best work ever,” said Idia.  </p>
        <p>This new app could spell trouble for incumbent FinTech conferences. “Going to conferences like Finovate, Money 2020, MoneyConf, FinTech Stage, Innotribe, Next Bank, and Card & Payments have traditionally been a great way for financial institutions to discover FinTechs. But at all these conferences you actually have to meet people. In today’s culture of Facebook and twitter, people don’t even want to spend face-to-face time with their best friends. The FinTinder app is going to be a huge success,” said analyst Bea Esser from the banking futurist company Douse and Burnham. “Also with an app no one gets angry when you’re having a meeting with them at the same time you’re looking at your smartphone.” </p>
        <p>The anti-bank FinTechs are skeptical. “This is the stupidest app I’ve ever heard of. My FinTech company BankedOver will never join FinTinder. We don’t want to work with banks. We want to destroy them,” said Hizzy Fitz, CEO of BitcoinSecurityRemitanceRoboAdvisorWealthPal. “What is this, April Fools Day?” </p>
        <p>To download the FinTinder app, please visit SizeUp.com</p>

    </div>
</div>






