/****** Object:  Table [dbo].[LegacyBusinessSEOKey]    Script Date: 11/06/2012 15:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LegacyBusinessSEOKey](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SEOKey] [nvarchar](255) NOT NULL,
	[businessId] [bigint] NOT NULL,
 CONSTRAINT [PK_LegacyBusinessSEOKey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_LegacyBusinessSEOKey_SEOKey] ON [dbo].[LegacyBusinessSEOKey] 
(
	[SEOKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LegacyBusinessSEOKey]  WITH NOCHECK ADD  CONSTRAINT [FK_LegacyBusinessSEOKey_Business] FOREIGN KEY([businessId])
REFERENCES [dbo].[Business] ([Id])
GO
ALTER TABLE [dbo].[LegacyBusinessSEOKey] CHECK CONSTRAINT [FK_LegacyBusinessSEOKey_Business]
GO
