USE [SizeUp2]
GO
/****** Object:  Table [dbo].[City]    Script Date: 06/19/2012 22:47:24 ******/
ALTER TABLE [dbo].[City] DROP CONSTRAINT [FK_City_State]
GO
ALTER TABLE [dbo].[City] DROP CONSTRAINT [FK_City_State]
GO
ALTER TABLE [dbo].[City] DROP CONSTRAINT [DF__City__South__324172E1]
GO
ALTER TABLE [dbo].[City] DROP CONSTRAINT [DF__City__North__3335971A]
GO
ALTER TABLE [dbo].[City] DROP CONSTRAINT [DF__City__East__3429BB53]
GO
ALTER TABLE [dbo].[City] DROP CONSTRAINT [DF__City__West__351DDF8C]
GO
DROP TABLE [dbo].[City]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[FIPS] [nvarchar](10) NOT NULL,
	[CensusClassCode] [nvarchar](3) NOT NULL,
	[SEOKey] [nvarchar](150) NULL,
	[Geography] [geography] NOT NULL,
	[StateId] [bigint] NOT NULL,
	[South] [float] NOT NULL DEFAULT ((0)),
	[North] [float] NOT NULL DEFAULT ((0)),
	[East] [float] NOT NULL DEFAULT ((0)),
	[West] [float] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_City_FIPS] ON [dbo].[City] 
(
	[FIPS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE SPATIAL INDEX [IX_City_Geography_1H_2H_3M_4L_64] ON [dbo].[City] 
(
	[Geography]
)USING  GEOGRAPHY_GRID 
WITH (
GRIDS =(LEVEL_1 = HIGH,LEVEL_2 = HIGH,LEVEL_3 = MEDIUM,LEVEL_4 = LOW), 
CELLS_PER_OBJECT = 64, PAD_INDEX  = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_City_SEOKey] ON [dbo].[City] 
(
	[SEOKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_City_StateId] ON [dbo].[City] 
(
	[StateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[City]  WITH NOCHECK ADD  CONSTRAINT [FK_City_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_State]
GO
