USE [SizeUp2]
GO
/****** Object:  Table [dbo].[Metro]    Script Date: 06/19/2012 22:47:39 ******/
ALTER TABLE [dbo].[Metro] DROP CONSTRAINT [DF__Metro__South__2AA05119]
GO
ALTER TABLE [dbo].[Metro] DROP CONSTRAINT [DF__Metro__North__2B947552]
GO
ALTER TABLE [dbo].[Metro] DROP CONSTRAINT [DF__Metro__East__2C88998B]
GO
ALTER TABLE [dbo].[Metro] DROP CONSTRAINT [DF__Metro__West__2D7CBDC4]
GO
DROP TABLE [dbo].[Metro]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metro](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FIPS] [nvarchar](5) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Geography] [geography] NOT NULL,
	[South] [float] NOT NULL DEFAULT ((0)),
	[North] [float] NOT NULL DEFAULT ((0)),
	[East] [float] NOT NULL DEFAULT ((0)),
	[West] [float] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_Metro] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Metro_FIPS] ON [dbo].[Metro] 
(
	[FIPS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE SPATIAL INDEX [IX_Metro_Geography_1H_2H_3H_4H_64] ON [dbo].[Metro] 
(
	[Geography]
)USING  GEOGRAPHY_GRID 
WITH (
GRIDS =(LEVEL_1 = HIGH,LEVEL_2 = HIGH,LEVEL_3 = HIGH,LEVEL_4 = HIGH), 
CELLS_PER_OBJECT = 64, PAD_INDEX  = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE SPATIAL INDEX [IX_Metro_Geography_1H_2H_3M_4L_4096] ON [dbo].[Metro] 
(
	[Geography]
)USING  GEOGRAPHY_GRID 
WITH (
GRIDS =(LEVEL_1 = HIGH,LEVEL_2 = HIGH,LEVEL_3 = MEDIUM,LEVEL_4 = LOW), 
CELLS_PER_OBJECT = 4096, PAD_INDEX  = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
