/****** Object:  Table [dbo].[LegacyCommunitySEOKey]    Script Date: 11/06/2012 15:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LegacyCommunitySEOKey](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SEOKey] [nvarchar](255) NOT NULL,
	[CityId] [bigint] NOT NULL,
 CONSTRAINT [PK_LegacyCommunitySEOKey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_LegacyCommunitySEOKey_SEOKey] ON [dbo].[LegacyCommunitySEOKey] 
(
	[SEOKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LegacyCommunitySEOKey]  WITH NOCHECK ADD  CONSTRAINT [FK_LegacyCommunitySEOKey_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[LegacyCommunitySEOKey] CHECK CONSTRAINT [FK_LegacyCommunitySEOKey_City]
GO
