USE [SizeUp2]
GO
/****** Object:  Table [dbo].[SicToNAICSMapping]    Script Date: 06/19/2012 22:47:44 ******/
ALTER TABLE [dbo].[SicToNAICSMapping] DROP CONSTRAINT [FK_SicToNAICSMapping_Industry]
GO
ALTER TABLE [dbo].[SicToNAICSMapping] DROP CONSTRAINT [FK_SicToNAICSMapping_NAICS]
GO
ALTER TABLE [dbo].[SicToNAICSMapping] DROP CONSTRAINT [FK_SicToNAICSMapping_Industry]
GO
ALTER TABLE [dbo].[SicToNAICSMapping] DROP CONSTRAINT [FK_SicToNAICSMapping_NAICS]
GO
DROP TABLE [dbo].[SicToNAICSMapping]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SicToNAICSMapping](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IndustryId] [bigint] NOT NULL,
	[NAICSId] [bigint] NOT NULL,
 CONSTRAINT [PK_SicToNAICSMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SicToNAICSMapping_IndustryId] ON [dbo].[SicToNAICSMapping] 
(
	[IndustryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SicToNAICSMapping]  WITH NOCHECK ADD  CONSTRAINT [FK_SicToNAICSMapping_Industry] FOREIGN KEY([IndustryId])
REFERENCES [dbo].[Industry] ([Id])
GO
ALTER TABLE [dbo].[SicToNAICSMapping] CHECK CONSTRAINT [FK_SicToNAICSMapping_Industry]
GO
ALTER TABLE [dbo].[SicToNAICSMapping]  WITH NOCHECK ADD  CONSTRAINT [FK_SicToNAICSMapping_NAICS] FOREIGN KEY([NAICSId])
REFERENCES [dbo].[NAICS] ([Id])
GO
ALTER TABLE [dbo].[SicToNAICSMapping] CHECK CONSTRAINT [FK_SicToNAICSMapping_NAICS]
GO
