/****** Object:  Table [dbo].[LegacyIndustrySEOKey]    Script Date: 11/06/2012 15:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LegacyIndustrySEOKey](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SEOKey] [nvarchar](255) NOT NULL,
	[IndustryId] [bigint] NOT NULL,
 CONSTRAINT [PK_LegacyIndustrySEOKey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_LegacyIndustrySEOKey_SEOKey] ON [dbo].[LegacyIndustrySEOKey] 
(
	[SEOKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LegacyIndustrySEOKey]  WITH NOCHECK ADD  CONSTRAINT [FK_LegacyIndustrySEOKey_Industry] FOREIGN KEY([IndustryId])
REFERENCES [dbo].[Industry] ([Id])
GO
ALTER TABLE [dbo].[LegacyIndustrySEOKey] CHECK CONSTRAINT [FK_LegacyIndustrySEOKey_Industry]
GO
