/****** Object:  Table [dbo].[ZipCodeCityMapping]    Script Date: 11/06/2012 15:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZipCodeCityMapping](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CityId] [bigint] NOT NULL,
	[ZipCodeId] [bigint] NOT NULL,
 CONSTRAINT [PK_ZipCodeCityMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ZipCodeCityMapping_CityId] ON [dbo].[ZipCodeCityMapping] 
(
	[CityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ZipCodeCityMapping_ZipCodeId] ON [dbo].[ZipCodeCityMapping] 
(
	[ZipCodeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ZipCodeCityMapping]  WITH NOCHECK ADD  CONSTRAINT [FK_ZipCodeCityMapping_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[ZipCodeCityMapping] CHECK CONSTRAINT [FK_ZipCodeCityMapping_City]
GO
ALTER TABLE [dbo].[ZipCodeCityMapping]  WITH NOCHECK ADD  CONSTRAINT [FK_ZipCodeCityMapping_ZipCode] FOREIGN KEY([ZipCodeId])
REFERENCES [dbo].[ZipCode] ([Id])
GO
ALTER TABLE [dbo].[ZipCodeCityMapping] CHECK CONSTRAINT [FK_ZipCodeCityMapping_ZipCode]
GO
