USE [SizeUp2]
GO
/****** Object:  Table [dbo].[County]    Script Date: 06/19/2012 22:47:27 ******/
ALTER TABLE [dbo].[County] DROP CONSTRAINT [FK_County_Metro]
GO
ALTER TABLE [dbo].[County] DROP CONSTRAINT [FK_County_State]
GO
ALTER TABLE [dbo].[County] DROP CONSTRAINT [FK_County_Metro]
GO
ALTER TABLE [dbo].[County] DROP CONSTRAINT [FK_County_State]
GO
ALTER TABLE [dbo].[County] DROP CONSTRAINT [DF__County__South__2E70E1FD]
GO
ALTER TABLE [dbo].[County] DROP CONSTRAINT [DF__County__North__2F650636]
GO
ALTER TABLE [dbo].[County] DROP CONSTRAINT [DF__County__East__30592A6F]
GO
ALTER TABLE [dbo].[County] DROP CONSTRAINT [DF__County__West__314D4EA8]
GO
DROP TABLE [dbo].[County]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[County](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SEOKey] [nvarchar](200) NOT NULL,
	[FIPS] [nvarchar](10) NOT NULL,
	[Geography] [geography] NOT NULL,
	[StateId] [bigint] NOT NULL,
	[MetroId] [bigint] NULL,
	[South] [float] NOT NULL DEFAULT ((0)),
	[North] [float] NOT NULL DEFAULT ((0)),
	[East] [float] NOT NULL DEFAULT ((0)),
	[West] [float] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_County] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_County_FIPS] ON [dbo].[County] 
(
	[FIPS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE SPATIAL INDEX [IX_County_Geography_1H_2H_3H_4H_64] ON [dbo].[County] 
(
	[Geography]
)USING  GEOGRAPHY_GRID 
WITH (
GRIDS =(LEVEL_1 = HIGH,LEVEL_2 = HIGH,LEVEL_3 = HIGH,LEVEL_4 = HIGH), 
CELLS_PER_OBJECT = 64, PAD_INDEX  = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE SPATIAL INDEX [IX_County_Geography_1H_2H_3M_4L_4096] ON [dbo].[County] 
(
	[Geography]
)USING  GEOGRAPHY_GRID 
WITH (
GRIDS =(LEVEL_1 = HIGH,LEVEL_2 = HIGH,LEVEL_3 = MEDIUM,LEVEL_4 = LOW), 
CELLS_PER_OBJECT = 4096, PAD_INDEX  = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_County_MetroId] ON [dbo].[County] 
(
	[MetroId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_County_SEOKey] ON [dbo].[County] 
(
	[SEOKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_County_StateId] ON [dbo].[County] 
(
	[StateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[County]  WITH NOCHECK ADD  CONSTRAINT [FK_County_Metro] FOREIGN KEY([MetroId])
REFERENCES [dbo].[Metro] ([Id])
GO
ALTER TABLE [dbo].[County] CHECK CONSTRAINT [FK_County_Metro]
GO
ALTER TABLE [dbo].[County]  WITH NOCHECK ADD  CONSTRAINT [FK_County_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([Id])
GO
ALTER TABLE [dbo].[County] CHECK CONSTRAINT [FK_County_State]
GO
