USE [SizeUp2]
GO
/****** Object:  Table [dbo].[AverageSalaryByState]    Script Date: 06/19/2012 22:47:19 ******/
ALTER TABLE [dbo].[AverageSalaryByState] DROP CONSTRAINT [FK_AverageSalaryByState_NAICS]
GO
ALTER TABLE [dbo].[AverageSalaryByState] DROP CONSTRAINT [FK_AverageSalaryByState_State]
GO
ALTER TABLE [dbo].[AverageSalaryByState] DROP CONSTRAINT [FK_AverageSalaryByState_NAICS]
GO
ALTER TABLE [dbo].[AverageSalaryByState] DROP CONSTRAINT [FK_AverageSalaryByState_State]
GO
DROP TABLE [dbo].[AverageSalaryByState]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AverageSalaryByState](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Year] [bigint] NULL,
	[NAICSId] [bigint] NULL,
	[StateId] [bigint] NULL,
	[AverageSalary] [bigint] NULL,
 CONSTRAINT [PK_AverageSalaryByState] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_AverageSalaryByState_AverageSalary_YearNAICSIdStateId] ON [dbo].[AverageSalaryByState] 
(
	[AverageSalary] ASC
)
INCLUDE ( [Year],
[NAICSId],
[StateId]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_AverageSalaryByState_NAICSIdAverageSalary_YearStateId] ON [dbo].[AverageSalaryByState] 
(
	[NAICSId] ASC,
	[AverageSalary] ASC
)
INCLUDE ( [Year],
[StateId]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AverageSalaryByState]  WITH NOCHECK ADD  CONSTRAINT [FK_AverageSalaryByState_NAICS] FOREIGN KEY([NAICSId])
REFERENCES [dbo].[NAICS] ([Id])
GO
ALTER TABLE [dbo].[AverageSalaryByState] CHECK CONSTRAINT [FK_AverageSalaryByState_NAICS]
GO
ALTER TABLE [dbo].[AverageSalaryByState]  WITH NOCHECK ADD  CONSTRAINT [FK_AverageSalaryByState_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([Id])
GO
ALTER TABLE [dbo].[AverageSalaryByState] CHECK CONSTRAINT [FK_AverageSalaryByState_State]
GO
