/*****
Main style page. Should only contain general layout styles for the layout page.
*****/
body { width: 100%; }

#header,
#content {width:100%; clear:both; }

/****headery things goes here******/
#header {background-color: #F8F8F8; border-bottom: 2px solid #EEEEEE; height:3.1em; }
#header ul { position: relative; text-align:right; margin: 0 1em;}
#header ul li { display: inline-block; vertical-align: top; }
#header ul li a { display: block; padding:0.5em; }
#header ul li a.disabled { background-color: #F7D6AA; }
#header ul li a.disabled:hover { color: #e78500; }

#header ul li.dashboard {float:left; }
#header ul li.competition {float:left;  }
#header ul li.advertising {float:left;  }

#header ul li.signin {  }
#header ul li.startOver { }
    

#header ul li a.help {display:block; position:relative; top:-0.2em; font-family:Arial; font-size:1.75em; color:#6699AA; font-weight:bold;}
#menu .print .print {display:block; background-image:url(/content/images/print.png); background-repeat:no-repeat; color:transparent; width:15px; height:15px; background-position:5px 10px; }

/********contenty things go here*************/
#content {height: auto; min-height: 25em; position: relative; }
#contentWrap {overflow:auto; overflow-x:hidden; padding:0 2em;}







