#community { }
#community h1 { margin: 0 0 1em 0; }
#community h2 { margin: 0 0 0 1em; }
#community input.button[type="submit"] { font-size: 1.5em; }
#community address span { display: block; }

#community form { margin: 1em auto; width: 72em;  }
#community form ul {  }
#community form ul li { margin: 0.5em 0; }
#community form ul li.ui-menu-item { margin: 0; }
#community form ul li label{ width: 8em; text-align: right; margin-right: 1em;}
#community form ul li select { width: 20.7em; text-align: center; padding:0.5em; font-size:1.9em; color:#606060; }
#community form ul li select option { text-align: right;  }
#community form ul li input[type="text"] { width: 20em; text-align: center;  }
#community form  input[type="submit"] {  position:relative;left: 30.5em; margin:  0 0 1em 0;}



#community .col { display: inline-block; width: 30em; vertical-align: top; text-align: center; }
#community .col ul li{ margin: 0.5em 0; }
#community .col ul li span{ display:block; }

#community #buttonContainer { margin:  2em 0 0 0; position: relative; height: 2em; }

#community #next { position:absolute; right: 0; }


