/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Name]
      ,[FIPS]
      ,[SEOKey]
      ,[StateId]
      ,[CityTypeId]
  FROM [LBISizeUp2].[dbo].[City] where Name like '%las cruces%'
  
  SELECT TOP 1000 [Id]
      ,[Name]
      ,[SEOKey]
      ,[FIPS]
      ,[StateId]
      ,[MetroId]
  FROM [LBISizeUp2].[dbo].[County] where (Name  in ('Clinton', 'Muscatine', 'Scott') and StateId=16)

  or (Name in ('Henry', 'Mercer', 'Rock Island') and StateId=14)


  --or
  

  
  --then http://public.lbi.sizeup.com/Api/ClientSetup/GetPlacesByCityIDs/?Id=2380
  --or
  --http://public.lbi.sizeup.com/Api/ClientSetup/GetPlacesbyCountyIDs/?id=199&id=211


--MAKE SURE TO CHANGE CLIENT ID IMPORTANT!!!!!!

  update CityListings
set lbicitylisting='[{"Id":8394,"DisplayName":"Abington, IL","City":{"Id":29573,"Name":"Abington","SEOKey":"abington-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7367,"DisplayName":"Alba, IL","City":{"Id":30636,"Name":"Alba","SEOKey":"alba-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8400,"DisplayName":"Aledo, IL","City":{"Id":6182,"Name":"Aledo","SEOKey":"aledo-city","TypeName":"City","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8401,"DisplayName":"Alexis, IL (Mercer County - Village)","City":{"Id":6181,"Name":"Alexis","SEOKey":"alexis-village","TypeName":"Village","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7388,"DisplayName":"Alpha, IL","City":{"Id":7069,"Name":"Alpha","SEOKey":"alpha-village","TypeName":"Village","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8830,"DisplayName":"Andalusia, IL (Rock Island County - Township)","City":{"Id":29925,"Name":"Andalusia","SEOKey":"andalusia-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8817,"DisplayName":"Andalusia, IL (Rock Island County - Village)","City":{"Id":6571,"Name":"Andalusia","SEOKey":"andalusia-village","TypeName":"Village","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11349,"DisplayName":"Andover, IA","City":{"Id":8153,"Name":"Andover","SEOKey":"andover-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":7368,"DisplayName":"Andover, IL (Henry County - Township)","City":{"Id":30637,"Name":"Andover","SEOKey":"andover-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7387,"DisplayName":"Andover, IL (Henry County - Village)","City":{"Id":7068,"Name":"Andover","SEOKey":"andover-village","TypeName":"Village","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7386,"DisplayName":"Annawan, IL (Henry County - Town)","City":{"Id":7067,"Name":"Annawan","SEOKey":"annawan-town","TypeName":"Town","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7369,"DisplayName":"Annawan, IL (Henry County - Township)","City":{"Id":30638,"Name":"Annawan","SEOKey":"annawan-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11896,"DisplayName":"Atalissa, IA","City":{"Id":8129,"Name":"Atalissa","SEOKey":"atalissa-city","TypeName":"City","Counties":null},"County":{"Id":863,"Name":"Muscatine","SEOKey":"muscatine"},"Metro":{"Id":587,"Name":"Muscatine, IA","SEOKey":"muscatine-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":7385,"DisplayName":"Atkinson, IL (Henry County - Town)","City":{"Id":7066,"Name":"Atkinson","SEOKey":"atkinson-town","TypeName":"Town","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7353,"DisplayName":"Atkinson, IL (Henry County - Township)","City":{"Id":30639,"Name":"Atkinson","SEOKey":"atkinson-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11701,"DisplayName":"Bettendorf, IA","City":{"Id":8595,"Name":"Bettendorf","SEOKey":"bettendorf-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":7379,"DisplayName":"Bishop Hill, IL","City":{"Id":7065,"Name":"Bishop Hill","SEOKey":"bishop-hill-village","TypeName":"Village","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8829,"DisplayName":"Blackhawk, IL","City":{"Id":29926,"Name":"Blackhawk","SEOKey":"blackhawk-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11901,"DisplayName":"Blue Grass, IA (Muscatine County - City)","City":{"Id":8597,"Name":"Blue Grass","SEOKey":"blue-grass-city","TypeName":"City","Counties":null},"County":{"Id":863,"Name":"Muscatine","SEOKey":"muscatine"},"Metro":{"Id":587,"Name":"Muscatine, IA","SEOKey":"muscatine-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11703,"DisplayName":"Blue Grass, IA (Scott County - City)","City":{"Id":8597,"Name":"Blue Grass","SEOKey":"blue-grass-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8828,"DisplayName":"Bowling, IL","City":{"Id":29927,"Name":"Bowling","SEOKey":"bowling-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8839,"DisplayName":"Buffalo Prairie, IL","City":{"Id":29928,"Name":"Buffalo Prairie","SEOKey":"buffalo-prairie-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11697,"DisplayName":"Buffalo, IA","City":{"Id":8594,"Name":"Buffalo","SEOKey":"buffalo-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":7354,"DisplayName":"Burns, IL","City":{"Id":30640,"Name":"Burns","SEOKey":"burns-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11350,"DisplayName":"Calamus, IA","City":{"Id":8152,"Name":"Calamus","SEOKey":"calamus-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11340,"DisplayName":"Camanche, IA","City":{"Id":8151,"Name":"Camanche","SEOKey":"camanche-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":7355,"DisplayName":"Cambridge, IL (Henry County - Township)","City":{"Id":30647,"Name":"Cambridge","SEOKey":"cambridge-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7378,"DisplayName":"Cambridge, IL (Henry County - Village)","City":{"Id":7064,"Name":"Cambridge","SEOKey":"cambridge-village","TypeName":"Village","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8838,"DisplayName":"Canoe Creek, IL","City":{"Id":29929,"Name":"Canoe Creek","SEOKey":"canoe-creek-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8805,"DisplayName":"Carbon Cliff, IL","City":{"Id":6550,"Name":"Carbon Cliff","SEOKey":"carbon-cliff-village","TypeName":"Village","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11341,"DisplayName":"Charlotte, IA","City":{"Id":8150,"Name":"Charlotte","SEOKey":"charlotte-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":7377,"DisplayName":"Cleveland, IL","City":{"Id":7063,"Name":"Cleveland","SEOKey":"cleveland-village","TypeName":"Village","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11342,"DisplayName":"Clinton, IA","City":{"Id":8149,"Name":"Clinton","SEOKey":"clinton-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":7356,"DisplayName":"Clover, IL","City":{"Id":30648,"Name":"Clover","SEOKey":"clover-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7376,"DisplayName":"Coal Valley, IL (Henry County - Village)","City":{"Id":7062,"Name":"Coal Valley","SEOKey":"coal-valley-village","TypeName":"Village","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8837,"DisplayName":"Coal Valley, IL (Rock Island County - Township)","City":{"Id":29930,"Name":"Coal Valley","SEOKey":"coal-valley-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8815,"DisplayName":"Coal Valley, IL (Rock Island County - Village)","City":{"Id":7062,"Name":"Coal Valley","SEOKey":"coal-valley-village","TypeName":"Village","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8836,"DisplayName":"Coe, IL","City":{"Id":29931,"Name":"Coe","SEOKey":"coe-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7384,"DisplayName":"Colona, IL (Henry County - City)","City":{"Id":7061,"Name":"Colona","SEOKey":"colona-city","TypeName":"City","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7357,"DisplayName":"Colona, IL (Henry County - Township)","City":{"Id":30649,"Name":"Colona","SEOKey":"colona-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11897,"DisplayName":"Conesville, IA","City":{"Id":8128,"Name":"Conesville","SEOKey":"conesville-city","TypeName":"City","Counties":null},"County":{"Id":863,"Name":"Muscatine","SEOKey":"muscatine"},"Metro":{"Id":587,"Name":"Muscatine, IA","SEOKey":"muscatine-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8835,"DisplayName":"Cordova, IL (Rock Island County - Township)","City":{"Id":29932,"Name":"Cordova","SEOKey":"cordova-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8806,"DisplayName":"Cordova, IL (Rock Island County - Village)","City":{"Id":6549,"Name":"Cordova","SEOKey":"cordova-village","TypeName":"Village","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7358,"DisplayName":"Cornwall, IL","City":{"Id":30650,"Name":"Cornwall","SEOKey":"cornwall-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8814,"DisplayName":"Coyne Center, IL","City":{"Id":7373,"Name":"Coyne Center","SEOKey":"coyne-center-cdp","TypeName":"Census Designated Place","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11696,"DisplayName":"Davenport, IA","City":{"Id":8593,"Name":"Davenport","SEOKey":"davenport-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11351,"DisplayName":"De Witt, IA","City":{"Id":8147,"Name":"De Witt","SEOKey":"de-witt-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11343,"DisplayName":"Delmar, IA","City":{"Id":8148,"Name":"Delmar","SEOKey":"delmar-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11695,"DisplayName":"Dixon, IA","City":{"Id":8592,"Name":"Dixon","SEOKey":"dixon-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11694,"DisplayName":"Donahue, IA","City":{"Id":8591,"Name":"Donahue","SEOKey":"donahue-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8827,"DisplayName":"Drury, IL","City":{"Id":29933,"Name":"Drury","SEOKey":"drury-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8393,"DisplayName":"Duncan, IL","City":{"Id":29574,"Name":"Duncan","SEOKey":"duncan-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11899,"DisplayName":"Durant, IA (Muscatine County - City)","City":{"Id":8876,"Name":"Durant","SEOKey":"durant-city","TypeName":"City","Counties":null},"County":{"Id":863,"Name":"Muscatine","SEOKey":"muscatine"},"Metro":{"Id":587,"Name":"Muscatine, IA","SEOKey":"muscatine-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11698,"DisplayName":"Durant, IA (Scott County - City)","City":{"Id":8876,"Name":"Durant","SEOKey":"durant-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8807,"DisplayName":"East Moline, IL","City":{"Id":6548,"Name":"East Moline","SEOKey":"east-moline-city","TypeName":"City","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7370,"DisplayName":"Edford, IL","City":{"Id":30651,"Name":"Edford","SEOKey":"edford-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8826,"DisplayName":"Edgington, IL","City":{"Id":29936,"Name":"Edgington","SEOKey":"edgington-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11700,"DisplayName":"Eldridge, IA","City":{"Id":8590,"Name":"Eldridge","SEOKey":"eldridge-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8392,"DisplayName":"Eliza, IL","City":{"Id":29575,"Name":"Eliza","SEOKey":"eliza-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11898,"DisplayName":"Fruitland, IA","City":{"Id":8127,"Name":"Fruitland","SEOKey":"fruitland-city","TypeName":"City","Counties":null},"County":{"Id":863,"Name":"Muscatine","SEOKey":"muscatine"},"Metro":{"Id":587,"Name":"Muscatine, IA","SEOKey":"muscatine-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":7383,"DisplayName":"Galva, IL (Henry County - City)","City":{"Id":7060,"Name":"Galva","SEOKey":"galva-city","TypeName":"City","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7371,"DisplayName":"Galva, IL (Henry County - Township)","City":{"Id":30652,"Name":"Galva","SEOKey":"galva-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7382,"DisplayName":"Geneseo, IL (Henry County - City)","City":{"Id":7059,"Name":"Geneseo","SEOKey":"geneseo-city","TypeName":"City","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7372,"DisplayName":"Geneseo, IL (Henry County - Township)","City":{"Id":30653,"Name":"Geneseo","SEOKey":"geneseo-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11352,"DisplayName":"Goose Lake, IA","City":{"Id":8146,"Name":"Goose Lake","SEOKey":"goose-lake-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11353,"DisplayName":"Grand Mound, IA","City":{"Id":8145,"Name":"Grand Mound","SEOKey":"grand-mound-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8399,"DisplayName":"Greene, IL (Mercer County - Township)","City":{"Id":29576,"Name":"Greene","SEOKey":"greene-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8834,"DisplayName":"Hampton, IL (Rock Island County - Township)","City":{"Id":29937,"Name":"Hampton","SEOKey":"hampton-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8818,"DisplayName":"Hampton, IL (Rock Island County - Village)","City":{"Id":6547,"Name":"Hampton","SEOKey":"hampton-village","TypeName":"Village","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7373,"DisplayName":"Hanna, IL","City":{"Id":30654,"Name":"Hanna","SEOKey":"hanna-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8819,"DisplayName":"Hillsdale, IL","City":{"Id":6546,"Name":"Hillsdale","SEOKey":"hillsdale-village","TypeName":"Village","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7381,"DisplayName":"Hooppole, IL","City":{"Id":7058,"Name":"Hooppole","SEOKey":"hooppole-village","TypeName":"Village","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8402,"DisplayName":"Joy, IL","City":{"Id":6180,"Name":"Joy","SEOKey":"joy-village","TypeName":"Village","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8407,"DisplayName":"Keithsburg, IL (Mercer County - City)","City":{"Id":6179,"Name":"Keithsburg","SEOKey":"keithsburg-city","TypeName":"City","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8413,"DisplayName":"Keithsburg, IL (Mercer County - Township)","City":{"Id":29577,"Name":"Keithsburg","SEOKey":"keithsburg-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7380,"DisplayName":"Kewanee, IL (Henry County - City)","City":{"Id":7057,"Name":"Kewanee","SEOKey":"kewanee-city","TypeName":"City","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7359,"DisplayName":"Kewanee, IL (Henry County - Township)","City":{"Id":30655,"Name":"Kewanee","SEOKey":"kewanee-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11707,"DisplayName":"Le Claire, IA","City":{"Id":8573,"Name":"Le Claire","SEOKey":"le-claire-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11706,"DisplayName":"Long Grove, IA","City":{"Id":8572,"Name":"Long Grove","SEOKey":"long-grove-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":7351,"DisplayName":"Loraine, IL (Henry County - Township)","City":{"Id":30656,"Name":"Loraine","SEOKey":"loraine-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11354,"DisplayName":"Lost Nation, IA","City":{"Id":8144,"Name":"Lost Nation","SEOKey":"lost-nation-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11344,"DisplayName":"Low Moor, IA","City":{"Id":8143,"Name":"Low Moor","SEOKey":"low-moor-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":7352,"DisplayName":"Lynn, IL (Henry County - Township)","City":{"Id":30657,"Name":"Lynn","SEOKey":"lynn-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11348,"DisplayName":"Maquoketa, IA (Clinton County - City)","City":{"Id":8210,"Name":"Maquoketa","SEOKey":"maquoketa-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8408,"DisplayName":"Matherville, IL","City":{"Id":6178,"Name":"Matherville","SEOKey":"matherville-village","TypeName":"Village","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11704,"DisplayName":"Maysville, IA","City":{"Id":8570,"Name":"Maysville","SEOKey":"maysville-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11705,"DisplayName":"McCausland, IA","City":{"Id":8571,"Name":"McCausland","SEOKey":"mccausland-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8412,"DisplayName":"Mercer, IL","City":{"Id":29578,"Name":"Mercer","SEOKey":"mercer-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8816,"DisplayName":"Milan, IL (Rock Island County - Village)","City":{"Id":6545,"Name":"Milan","SEOKey":"milan-village","TypeName":"Village","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8672,"DisplayName":"Millersburg, IL","City":{"Id":29579,"Name":"Millersburg","SEOKey":"millersburg-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8820,"DisplayName":"Moline, IL (Rock Island County - City)","City":{"Id":6544,"Name":"Moline","SEOKey":"moline-city","TypeName":"City","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8833,"DisplayName":"Moline, IL (Rock Island County - Township)","City":{"Id":29938,"Name":"Moline","SEOKey":"moline-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7350,"DisplayName":"Munson, IL","City":{"Id":30665,"Name":"Munson","SEOKey":"munson-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11903,"DisplayName":"Muscatine, IA","City":{"Id":8126,"Name":"Muscatine","SEOKey":"muscatine-city","TypeName":"City","Counties":null},"County":{"Id":863,"Name":"Muscatine","SEOKey":"muscatine"},"Metro":{"Id":587,"Name":"Muscatine, IA","SEOKey":"muscatine-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8409,"DisplayName":"New Boston, IL (Mercer County - City)","City":{"Id":6177,"Name":"New Boston","SEOKey":"new-boston-city","TypeName":"City","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8671,"DisplayName":"New Boston, IL (Mercer County - Township)","City":{"Id":29580,"Name":"New Boston","SEOKey":"new-boston-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11693,"DisplayName":"New Liberty, IA","City":{"Id":8569,"Name":"New Liberty","SEOKey":"new-liberty-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11904,"DisplayName":"Nichols, IA","City":{"Id":8125,"Name":"Nichols","SEOKey":"nichols-city","TypeName":"City","Counties":null},"County":{"Id":863,"Name":"Muscatine","SEOKey":"muscatine"},"Metro":{"Id":587,"Name":"Muscatine, IA","SEOKey":"muscatine-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8415,"DisplayName":"North Henderson, IL (Mercer County - Township)","City":{"Id":29581,"Name":"North Henderson","SEOKey":"north-henderson-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8410,"DisplayName":"North Henderson, IL (Mercer County - Village)","City":{"Id":6176,"Name":"North Henderson","SEOKey":"north-henderson-village","TypeName":"Village","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8821,"DisplayName":"Oak Grove, IL","City":{"Id":6543,"Name":"Oak Grove","SEOKey":"oak-grove-village","TypeName":"Village","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8398,"DisplayName":"Ohio Grove, IL","City":{"Id":29582,"Name":"Ohio Grove","SEOKey":"ohio-grove-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7375,"DisplayName":"Orion, IL (Henry County - Village)","City":{"Id":7056,"Name":"Orion","SEOKey":"orion-village","TypeName":"Village","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7360,"DisplayName":"Osco, IL","City":{"Id":30666,"Name":"Osco","SEOKey":"osco-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7361,"DisplayName":"Oxford, IL","City":{"Id":30667,"Name":"Oxford","SEOKey":"oxford-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11692,"DisplayName":"Panorama Park, IA","City":{"Id":8568,"Name":"Panorama Park","SEOKey":"panorama-park-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11699,"DisplayName":"Park View, IA","City":{"Id":9079,"Name":"Park View","SEOKey":"park-view-cdp","TypeName":"Census Designated Place","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8397,"DisplayName":"Perryton, IL","City":{"Id":29583,"Name":"Perryton","SEOKey":"perryton-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7363,"DisplayName":"Phenix, IL","City":{"Id":30668,"Name":"Phenix","SEOKey":"phenix-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8832,"DisplayName":"Port Byron, IL (Rock Island County - Township)","City":{"Id":29939,"Name":"Port Byron","SEOKey":"port-byron-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8808,"DisplayName":"Port Byron, IL (Rock Island County - Village)","City":{"Id":6542,"Name":"Port Byron","SEOKey":"port-byron-village","TypeName":"Village","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8396,"DisplayName":"Preemption, IL","City":{"Id":29584,"Name":"Preemption","SEOKey":"preemption-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11691,"DisplayName":"Princeton, IA","City":{"Id":8567,"Name":"Princeton","SEOKey":"princeton-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8809,"DisplayName":"Rapids City, IL","City":{"Id":6541,"Name":"Rapids City","SEOKey":"rapids-city-village","TypeName":"Village","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8403,"DisplayName":"Reynolds, IL (Mercer County - Village)","City":{"Id":6175,"Name":"Reynolds","SEOKey":"reynolds-village","TypeName":"Village","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8812,"DisplayName":"Reynolds, IL (Rock Island County - Village)","City":{"Id":6175,"Name":"Reynolds","SEOKey":"reynolds-village","TypeName":"Village","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8395,"DisplayName":"Richland Grove, IL","City":{"Id":29585,"Name":"Richland Grove","SEOKey":"richland-grove-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11690,"DisplayName":"Riverdale, IA","City":{"Id":8566,"Name":"Riverdale","SEOKey":"riverdale-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8414,"DisplayName":"Rivoli, IL","City":{"Id":29586,"Name":"Rivoli","SEOKey":"rivoli-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8813,"DisplayName":"Rock Island Arsenal, IL","City":{"Id":7374,"Name":"Rock Island Arsenal","SEOKey":"rock-island-arsenal-cdp","TypeName":"Census Designated Place","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8810,"DisplayName":"Rock Island, IL (Rock Island County - City)","City":{"Id":6516,"Name":"Rock Island","SEOKey":"rock-island-city","TypeName":"City","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8831,"DisplayName":"Rock Island, IL (Rock Island County - Township)","City":{"Id":29940,"Name":"Rock Island","SEOKey":"rock-island-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8825,"DisplayName":"Rural, IL (Rock Island County - Township)","City":{"Id":29941,"Name":"Rural","SEOKey":"rural-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8404,"DisplayName":"Seaton, IL","City":{"Id":6174,"Name":"Seaton","SEOKey":"seaton-village","TypeName":"Village","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8405,"DisplayName":"Sherrard, IL","City":{"Id":6173,"Name":"Sherrard","SEOKey":"sherrard-village","TypeName":"Village","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8811,"DisplayName":"Silvis, IL","City":{"Id":6515,"Name":"Silvis","SEOKey":"silvis-city","TypeName":"City","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8824,"DisplayName":"South Moline, IL","City":{"Id":29942,"Name":"South Moline","SEOKey":"south-moline-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8823,"DisplayName":"South Rock Island, IL","City":{"Id":29943,"Name":"South Rock Island","SEOKey":"south-rock-island-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11905,"DisplayName":"Stockton, IA","City":{"Id":8124,"Name":"Stockton","SEOKey":"stockton-city","TypeName":"City","Counties":null},"County":{"Id":863,"Name":"Muscatine","SEOKey":"muscatine"},"Metro":{"Id":587,"Name":"Muscatine, IA","SEOKey":"muscatine-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8673,"DisplayName":"Suez, IL","City":{"Id":29587,"Name":"Suez","SEOKey":"suez-township","TypeName":"Township","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11345,"DisplayName":"Toronto, IA","City":{"Id":8142,"Name":"Toronto","SEOKey":"toronto-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8406,"DisplayName":"Viola, IL (Mercer County - Village)","City":{"Id":6172,"Name":"Viola","SEOKey":"viola-village","TypeName":"Village","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11902,"DisplayName":"Walcott, IA (Muscatine County - City)","City":{"Id":8596,"Name":"Walcott","SEOKey":"walcott-city","TypeName":"City","Counties":null},"County":{"Id":863,"Name":"Muscatine","SEOKey":"muscatine"},"Metro":{"Id":587,"Name":"Muscatine, IA","SEOKey":"muscatine-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11702,"DisplayName":"Walcott, IA (Scott County - City)","City":{"Id":8596,"Name":"Walcott","SEOKey":"walcott-city","TypeName":"City","Counties":null},"County":{"Id":875,"Name":"Scott","SEOKey":"scott"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":7364,"DisplayName":"Weller, IL","City":{"Id":30669,"Name":"Weller","SEOKey":"weller-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11347,"DisplayName":"Welton, IA","City":{"Id":8141,"Name":"Welton","SEOKey":"welton-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11906,"DisplayName":"West Liberty, IA","City":{"Id":8123,"Name":"West Liberty","SEOKey":"west-liberty-city","TypeName":"City","Counties":null},"County":{"Id":863,"Name":"Muscatine","SEOKey":"muscatine"},"Metro":{"Id":587,"Name":"Muscatine, IA","SEOKey":"muscatine-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":7365,"DisplayName":"Western, IL","City":{"Id":30670,"Name":"Western","SEOKey":"western-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7366,"DisplayName":"Wethersfield, IL","City":{"Id":30671,"Name":"Wethersfield","SEOKey":"wethersfield-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":11346,"DisplayName":"Wheatland, IA","City":{"Id":8140,"Name":"Wheatland","SEOKey":"wheatland-city","TypeName":"City","Counties":null},"County":{"Id":816,"Name":"Clinton","SEOKey":"clinton"},"Metro":{"Id":180,"Name":"Clinton, IA","SEOKey":"clinton-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":11900,"DisplayName":"Wilton, IA (Muscatine County - City)","City":{"Id":8875,"Name":"Wilton","SEOKey":"wilton-city","TypeName":"City","Counties":null},"County":{"Id":863,"Name":"Muscatine","SEOKey":"muscatine"},"Metro":{"Id":587,"Name":"Muscatine, IA","SEOKey":"muscatine-ia"},"State":{"Id":16,"Name":"Iowa","Abbreviation":"IA","SEOKey":"iowa"},"Region":{"Id":4,"RegionName":"Midwest","Name":"West North Central"}},{"Id":8411,"DisplayName":"Windsor, IL (Mercer County - Village)","City":{"Id":6171,"Name":"Windsor","SEOKey":"windsor-village","TypeName":"Village","Counties":null},"County":{"Id":665,"Name":"Mercer","SEOKey":"mercer"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7374,"DisplayName":"Woodhull, IL","City":{"Id":7055,"Name":"Woodhull","SEOKey":"woodhull-village","TypeName":"Village","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":7362,"DisplayName":"Yorktown, IL","City":{"Id":30672,"Name":"Yorktown","SEOKey":"yorktown-township","TypeName":"Township","Counties":null},"County":{"Id":636,"Name":"Henry","SEOKey":"henry"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}},{"Id":8822,"DisplayName":"Zuma, IL","City":{"Id":29944,"Name":"Zuma","SEOKey":"zuma-township","TypeName":"Township","Counties":null},"County":{"Id":680,"Name":"Rock Island","SEOKey":"rock-island"},"Metro":{"Id":222,"Name":"Davenport-Moline-Rock Island, IA-IL","SEOKey":"davenport-moline-rock-island-ia-il"},"State":{"Id":14,"Name":"Illinois","Abbreviation":"IL","SEOKey":"illinois"},"Region":{"Id":3,"RegionName":"Midwest","Name":"East North Central"}}]' 
FROM [LBISizeUp].[dbo].[CityListings] where ClientId='F0C28D03-A612-4207-87C0-4FB2F6F176D9'
