@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<title>404 Page Not found</title>
}


<h2>404 Page Not Found</h2>
<p>Whoops! The page you have requested doesn't exist. You can <a href="/">SizeUp your business</a> to compare yourself to local industry competitors, map your competitors, customers, and suppliers, and find the best places to advertise.
      You can also access our <a href="/find-business">business directory</a> or our <a href="/find-community">community directory</a>.

</p>
