<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.84.4790.14417" targetFramework="net45" />
  <package id="Antlr4.StringTemplate" version="4.0.6.9004" />
  <package id="Bundler.NET" version="1.5.7" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="jQuery" version="1.6.2" />
  <package id="jQuery.Ajax.Unobtrusive" version="2.0.20126.16343" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.Validation" version="1.8.1" />
  <package id="jQuery.Validation.Unobtrusive" version="2.0.20126.16343" />
  <package id="knockoutjs" version="2.0.0.0" />
  <package id="mcapi.net" version="1.3.0.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="10.50.1600.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.0.6" />
  <package id="Newtonsoft.Json" version="5.0.4" targetFramework="net45" />
  <package id="nQuant" version="1.0.3" targetFramework="net45" />
  <package id="Svg" version="1.5.0" targetFramework="net45" />
  <package id="WebGrease" version="1.1.0" targetFramework="net45" />
</packages>