<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="Membership" connectionString="Data Source=gisp-stg-db01.gisplanning.net;Initial Catalog=SizeUpMembership;Persist Security Info=True;User ID=sizeup;Password=sizeupmaps4u!" providerName="System.Data.SqlClient" />
    <add name="SizeUpContext" connectionString="metadata=res://*/SizeUpContext.csdl|res://*/SizeUpContext.ssdl|res://*/SizeUpContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-stg-db01.gisplanning.net;initial catalog=SizeUpData_20140228;persist security info=True;user id=sizeup;password=sizeupmaps4u!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AnalyticsContext" connectionString="metadata=res://*/Analytics.AnalyticsContext.csdl|res://*/Analytics.AnalyticsContext.ssdl|res://*/Analytics.AnalyticsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-stg-db01.gisplanning.net;initial catalog=SizeUpAnalytics;persist security info=True;user id=sizeup;password=sizeupmaps4u!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserDataContext" connectionString="metadata=res://*/UserData.UserDataContext.csdl|res://*/UserData.UserDataContext.ssdl|res://*/UserData.UserDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-stg-db01.gisplanning.net;initial catalog=SizeUpUserData;persist security info=True;user id=SizeUp;password=sizeupmaps4u!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APIContext" connectionString="metadata=res://*/API.APIContext.csdl|res://*/API.APIContext.ssdl|res://*/API.APIContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-stg-db01.gisplanning.net;initial catalog=SizeUpAPI;persist security info=True;user id=sizeup;password=sizeupmaps4u!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="Membership" connectionString="Data Source=gisp-prod-db01.gisplanning.net;Initial Catalog=SizeUpMembership;Persist Security Info=True;User ID=sizeup;Password=sizeupmaps4u!" providerName="System.Data.SqlClient" />
    <add name="SizeUpContext" connectionString="metadata=res://*/SizeUpContext.csdl|res://*/SizeUpContext.ssdl|res://*/SizeUpContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-stg-db01.gisplanning.net;initial catalog=SizeUpData;persist security info=True;user id=sizeup;password=sizeupmaps4u!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AnalyticsContext" connectionString="metadata=res://*/Analytics.AnalyticsContext.csdl|res://*/Analytics.AnalyticsContext.ssdl|res://*/Analytics.AnalyticsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-stg-db01.gisplanning.net;initial catalog=SizeUpAnalytics;persist security info=True;user id=sizeup;password=sizeupmaps4u!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserDataContext" connectionString="metadata=res://*/UserData.UserDataContext.csdl|res://*/UserData.UserDataContext.ssdl|res://*/UserData.UserDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-stg-db01.gisplanning.net;initial catalog=SizeUpUserData;persist security info=True;user id=SizeUp;password=sizeupmaps4u!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APIContext" connectionString="metadata=res://*/API.APIContext.csdl|res://*/API.APIContext.ssdl|res://*/API.APIContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-stg-db01.gisplanning.net;initial catalog=SizeUpAPI;persist security info=True;user id=sizeup;password=sizeupmaps4u!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Crypto.Password" value="G0goG4dgetMaps!" />
    <add key="Crypto.Salt" value="0xA3d121FF5D2A960122" />

    
    
    
    <add key="GoogleAPI" value="AIzaSyBYmAqm62QJXA2XRi1KkKVtWa6-BVTZ7WE" />
    <add key="SizeUpAPI" value="6388E63C-3D44-472B-A424-712395B1AD51" />
    <add key="MailChimpAPIKey" value="1e7e491a2f6d2675cdd51a0704d54ded-us4" />
    <add key="MailChimpListId" value="883430592e" />
    <add key="Data.MinimumBusinessCount" value="3" />
    <add key="API.TokenName" value="t" />
    <add key="API.OriginName" value="o" />
    <add key="API.InstanceName" value="i" />
    <add key="API.WidgetTokenName" value="wt" />
    <add key="API.TokenExpiration" value="10" />
    <add key="API.Url" value="api.sizeup.com" />
    <!--<add key="API.Url" value="api.beta.sizeup.com" />-->
    <!--<add key="API.Url" value="api.sizeup.localhost" />-->
    <add key="Corporate.Url" value="http://corporate.sizeup.com" />
    <add key="TimeSlice.Industry.Year" value="2018" />
    <add key="TimeSlice.Industry.Quarter" value="1" />
    <add key="TimeSlice.Demographics.Year" value="2012" />
    <add key="TimeSlice.Demographics.Quarter" value="1" />
    <add key="TimeSlice.ConsumerExpenditures.Year" value="2012" />
    <add key="TimeSlice.ConsumerExpenditures.Quarter" value="1" />
    <add key="Facebook:AppId" value="826195430736015" />
    <add key="Facebook:AppSecret" value="e0bc38e997562f5e7bd95f284eb7882f" />
    <add key="Facebook:AppNamespace" value="" />
    <!--<add key="HostingEnvironment" value="LOCALHOST"/>-->
    <add key="HostingEnvironment" value="PROD" />
    
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" requestValidationType="SizeUp.Core.Web.RequestValidator" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="SizeUpAuth2" loginUrl="~/user/signin" timeout="120" />
    </authentication>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Membership" applicationName="SizeUp" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="999999" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="1" />
      </providers>
    </membership>
    <profile defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Membership" applicationName="SizeUp" />
      </providers>
      <properties>
        <add name="FullName" />
        <add name="OptOut" />
      </properties>
    </profile>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <machineKey decryptionKey="5DA3F90B042BF788696540B806A38E97898DFFCA2B174707" validationKey="1ECF331703240FBDBE65E062C0743A666EE8A5C773ABEF5DDDE1F042AD7B525A01E7DDC8CD5F15063806D1EB8CC0CBCCD52BA555071B64DB2CE560F2832A015B" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="TimingModule" type="SizeUp.Core.Diagnostics.TimingModule, SizeUp.Core" />
      <add name="P3PHeader" type="SizeUp.Core.Web.P3PHeader, SizeUp.Core" />
    </modules>
    <!--Staging/Production Redirect all requests to HTTPS -->
    <rewrite>
      <rules>
        <rule name="sizeuplbi.com" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="sizeuplbi.com" />
          </conditions>
          <action type="Redirect" url="sizeup.com/lbi" />
        </rule>
        <rule name="Ignore Default.aspx" enabled="true" stopProcessing="true">
          <match url="^debugattach\.aspx" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="None" />
        </rule>
        <rule name="Force Https" enabled="false" stopProcessing="true">
          <match url="healthcheck.html" negate="true" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect URLs Moved To Corporate" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{MovedToCorporate:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false" redirectType="Found" />
        </rule>
        <rule name="Redirect Root URL to Corporate" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^www.sizeup.com" />
            <add input="{HTTP_HOST}" pattern="^sizeup.com" />
            <add input="{HTTP_HOST}" pattern="^beta.sizeup.com" />
          </conditions>
          <action type="Redirect" url="http://corporate.sizeup.com/" appendQueryString="false" redirectType="Found" />
        </rule>
      </rules>
      <rewriteMaps>
        <rewriteMap name="MovedToCorporate">
          <add key="/help/enterprisepartners" value="http://corporate.sizeup.com/product-and-industries/industries-served/" />
          <add key="/help/financialinstitutionsdownload" value="http://corporate.sizeup.com/white-papers/financial-institution/" />
          <add key="/help/enterprisepartnersdownload" value="http://corporate.sizeup.com/industries-served/small-business-portal/" />
          <add key="/lbi" value="http://corporate.sizeup.com/product-and-industries/industries-served/" />
          <add key="/help/how-it-works" value="http://corporate.sizeup.com/product-and-industries/how-sizeup-works/" />
          <add key="/help/faq" value="http://corporate.sizeup.com/product-and-industries/faqs/" />
          <add key="/company/about" value="http://corporate.sizeup.com/company/about/" />
          <add key="/company/team" value="http://corporate.sizeup.com/company/leadership/" />
          <add key="/company/jobs" value="http://corporate.sizeup.com/company/jobs/" />
          <add key="/company/benefits" value="http://corporate.sizeup.com/company/values/" />
          <add key="/help/contact" value="http://corporate.sizeup.com/contact-us/" />
          <add key="/product/terms" value="http://corporate.sizeup.com/legal/internet-web-site-terms-of-use/" />
          <add key="/product/privacy-policy" value="http://corporate.sizeup.com/legal/sizeups-privacy-policy/" />
        </rewriteMap>
      </rewriteMaps>
    </rewrite>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="noreply@sizeup.com" deliveryMethod="Network">
        <network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587" password="9q,L3PKcREGpkPn" userName="noreply@sizeup.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <location path="accessibility">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="advertising">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="competition">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="dashboard">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="user/optout">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="user/profile">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="user/signout">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

</configuration>