<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="Membership" connectionString="Data Source=gisp-prod-db01.gisplanning.net;Initial Catalog=SizeUpMembership;Persist Security Info=True;User ID=sizeup;Password=sizeupmaps4u!" providerName="System.Data.SqlClient" />
    <add name="SizeUpContext" connectionString="metadata=res://*/SizeUpContext.csdl|res://*/SizeUpContext.ssdl|res://*/SizeUpContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-prod-db01.gisplanning.net;initial catalog=SizeUpData;persist security info=True;user id=sizeup;password=sizeupmaps4u!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AnalyticsContext" connectionString="metadata=res://*/Analytics.AnalyticsContext.csdl|res://*/Analytics.AnalyticsContext.ssdl|res://*/Analytics.AnalyticsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-prod-db01.gisplanning.net;initial catalog=SizeUpAnalytics;persist security info=True;user id=sizeup;password=sizeupmaps4u!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserDataContext" connectionString="metadata=res://*/UserData.UserDataContext.csdl|res://*/UserData.UserDataContext.ssdl|res://*/UserData.UserDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-prod-db01.gisplanning.net;initial catalog=SizeUpUserData;persist security info=True;user id=SizeUp;password=sizeupmaps4u!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APIContext" connectionString="metadata=res://*/API.APIContext.csdl|res://*/API.APIContext.ssdl|res://*/API.APIContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-prod-db01.gisplanning.net;initial catalog=SizeUpAPI;persist security info=True;user id=sizeup;password=sizeupmaps4u!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Condition(@key='MailChimpAPIKey')" key="MailChimpAPIKey" value="1e7e491a2f6d2675cdd51a0704d54ded-us4"/>
    <add xdt:Transform="Replace" xdt:Locator="Condition(@key='MailChimpListId')" key="MailChimpListId" value="2e03529c2e"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
      <customErrors mode="On" xdt:Transform="Replace">
        <error statusCode="404" redirect="/error/404" />
        <error statusCode="500" redirect="/error/500" />
      </customErrors>
  </system.web>


  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect domain.com to www" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.sizeup\.com$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.sizeup.com/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>