<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="Membership" connectionString="Data Source=szup-stagingdb.gisplanning.net;Initial Catalog=SizeUpMembership;Persist Security Info=True;User ID=imsuser;Password=maps4u!" providerName="System.Data.SqlClient" />
    <add name="SizeUpContext" connectionString="metadata=res://*/SizeUpContext.csdl|res://*/SizeUpContext.ssdl|res://*/SizeUpContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=szup-stagingdb.gisplanning.net;initial catalog=SizeUp2;persist security info=True;user id=imsuser;password=maps4u!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AnalyticsContext" connectionString="metadata=res://*/Analytics.AnalyticsContext.csdl|res://*/Analytics.AnalyticsContext.ssdl|res://*/Analytics.AnalyticsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=szup-stagingdb.gisplanning.net;initial catalog=Analytics2;persist security info=True;user id=imsuser;password=maps4u!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserDataContext" connectionString="metadata=res://*/UserData.UserDataContext.csdl|res://*/UserData.UserDataContext.ssdl|res://*/UserData.UserDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=szup-stagingdb.gisplanning.net;initial catalog=SizeUpUserData;persist security info=True;user id=imsuser;password=maps4u!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <customErrors mode="Off" xdt:Transform="Replace">
  </customErrors>

  <system.web>
  
  </system.web>
</configuration>