/****** Object:  Table [dbo].[APIKeyDomain]    Script Date: 11/06/2012 15:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIKeyDomain](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Domain] [nvarchar](255) NOT NULL,
	[APIKeyId] [bigint] NOT NULL,
 CONSTRAINT [PK_APIKeyDomain] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APIKeyDomain]  WITH CHECK ADD  CONSTRAINT [FK_APIKeyDomain_APIKey] FOREIGN KEY([APIKeyId])
REFERENCES [dbo].[APIKey] ([Id])
GO
ALTER TABLE [dbo].[APIKeyDomain] CHECK CONSTRAINT [FK_APIKeyDomain_APIKey]
GO
