/****** Object:  Table [dbo].[Geography]    Script Date: 11/06/2012 15:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Geography](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Geography] [geography] NOT NULL,
	[SourceId] [bigint] NOT NULL,
	[North] [float] NOT NULL,
	[South] [float] NOT NULL,
	[East] [float] NOT NULL,
	[West] [float] NOT NULL,
	[CenterLat] [float] NULL,
	[CenterLong] [float] NULL,
 CONSTRAINT [PK_Geography] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE SPATIAL INDEX [IX_Geography_Geography_1H_2H_3H_4H_4096] ON [dbo].[Geography] 
(
	[Geography]
)USING  GEOGRAPHY_GRID 
WITH (
GRIDS =(LEVEL_1 = HIGH,LEVEL_2 = HIGH,LEVEL_3 = HIGH,LEVEL_4 = HIGH), 
CELLS_PER_OBJECT = 4096, PAD_INDEX  = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE SPATIAL INDEX [IX_Geography_Geography_1H_2H_3H_4H_64] ON [dbo].[Geography] 
(
	[Geography]
)USING  GEOGRAPHY_GRID 
WITH (
GRIDS =(LEVEL_1 = HIGH,LEVEL_2 = HIGH,LEVEL_3 = HIGH,LEVEL_4 = HIGH), 
CELLS_PER_OBJECT = 64, PAD_INDEX  = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE SPATIAL INDEX [IX_Geography_Geography_1H_2M_3L_4L_16] ON [dbo].[Geography] 
(
	[Geography]
)USING  GEOGRAPHY_GRID 
WITH (
GRIDS =(LEVEL_1 = HIGH,LEVEL_2 = MEDIUM,LEVEL_3 = LOW,LEVEL_4 = LOW), 
CELLS_PER_OBJECT = 16, PAD_INDEX  = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE SPATIAL INDEX [IX_Geography_Geography_1L_2L_3L_4L_16] ON [dbo].[Geography] 
(
	[Geography]
)USING  GEOGRAPHY_GRID 
WITH (
GRIDS =(LEVEL_1 = LOW,LEVEL_2 = LOW,LEVEL_3 = LOW,LEVEL_4 = LOW), 
CELLS_PER_OBJECT = 16, PAD_INDEX  = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE SPATIAL INDEX [IX_Geography_Geography_1M_2M_3M_4M_16] ON [dbo].[Geography] 
(
	[Geography]
)USING  GEOGRAPHY_GRID 
WITH (
GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, PAD_INDEX  = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Geography_NorthSouthEastWest_Id] ON [dbo].[Geography] 
(
	[North] ASC,
	[South] ASC,
	[East] ASC,
	[West] ASC
)
INCLUDE ( [Id]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
ALTER INDEX [IX_Geography_NorthSouthEastWest_Id] ON [dbo].[Geography] DISABLE
GO
CREATE NONCLUSTERED INDEX [IX_Geography_NorthSouthEastWest_IdGeography] ON [dbo].[Geography] 
(
	[North] ASC,
	[South] ASC,
	[East] ASC,
	[West] ASC
)
INCLUDE ( [Id],
[Geography]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Geography]  WITH CHECK ADD  CONSTRAINT [FK_Geography_GeographySource] FOREIGN KEY([SourceId])
REFERENCES [dbo].[GeographySource] ([Id])
GO
ALTER TABLE [dbo].[Geography] CHECK CONSTRAINT [FK_Geography_GeographySource]
GO
ALTER TABLE [dbo].[Geography] ADD  DEFAULT ((0)) FOR [North]
GO
ALTER TABLE [dbo].[Geography] ADD  DEFAULT ((0)) FOR [South]
GO
ALTER TABLE [dbo].[Geography] ADD  DEFAULT ((0)) FOR [East]
GO
ALTER TABLE [dbo].[Geography] ADD  DEFAULT ((0)) FOR [West]
GO
