#topPlaces h2 span,
#topPlaces h2 a { font-size: 1em; }
#topPlaces h3 {font-weight:bold; margin:0 0 1em; }
#topPlaces { position:relative; margin:0 0 4em 0; }
#topPlaces .content.container { }

#topPlaces  { text-align:right;}
#topPlaces  h2 { font-size: 2em; font-weight:normal; text-align:left;}
#topPlaces h2 .selectList-container {font-weight:normal; }
#topPlaces h2 .selectList-list {font-size:0.75em; }
#topPlaces h2 #industryBox { font-size: 1em; width:12em; text-overflow:ellipsis; }
#topPlaces h2 .ui-autocomplete { font-size: 0.75em; }
#topPlaces h2 #selectList-regionMenu .selectList-list { max-height: 20em; overflow: auto; width:22em; }

#topPlaces .mapContent.container {  margin:1em 0 0 0; text-align:left;}
#topPlaces .mapContent.container .map{width:100%;height:40em;}
#topPlaces .mapContent .footer{background-color:#F6F6F0; padding:0.5em; font-family: Arial,Verdana,sans-serif; }
#topPlaces .mapContent .footer ul li { display: inline-block; width: 20%; }
#topPlaces .mapContent .footer ul li img { width: 1.5em; height: 1.5em; }
#topPlaces .mapContent .footer ul li span { font-size:1em; position:relative; top:-0.35em; }

#topPlaces .list.container {width:100%; }
#topPlaces .list.container table{width:100%; margin:2em 0; }
#topPlaces .list.container table .rank{width:5%; text-align: right; padding:0 1em 0 0; }
#topPlaces .list.container table .name{width:65%; text-align:left; }
#topPlaces .list.container table .value{ width:20%; text-align:right;}

#topPlaces .list.container table thead tr td { color: #aaa; padding:0.25em 0; font-size:1.1em; }

#topPlaces .list.container table tbody tr {border-top: 1px solid #ccc;}
#topPlaces .list.container table tbody tr td a { font-size: 1em; }
#topPlaces .list.container table tbody tr td { padding: 0.5em 0; font-size:1.5em;}


#topPlaces .list.container .noResults { text-align: center; font-size:1.5em; }



#topPlaces .filters {margin:1em 0; text-align:left; overflow: auto; height:25em; border:1px solid #ccc; padding:1em; }
#topPlaces .filters ul.options {margin:1em 0; }
#topPlaces .filters ul.options li { display: inline-block; width: 40em; margin:0.5em 0; }
#topPlaces .filters ul.options li .sliderWrap { margin: 0.5em 0 0 0;}
#topPlaces .filters ul.options li .sliderWrap .slider { width: 23em; display:inline-block;}
#topPlaces .filters ul.options li .sliderWrap .sliderLabel { display:inline-block; font-size:0.85em; padding:0 1em;}
#topPlaces .filters ul.options li .sliderWrap .sliderLabel.less {width:7em; text-align:right; }
#topPlaces .filters ul.options li .sliderWrap .sliderLabel.more {width:7em; }
#topPlaces .filters ul.options li.noFilter .slider .ui-widget-header { background: none; }
#topPlaces .filters .valueLabel .val { font-size: 1.1em; color:#606060; font-weight:bold;}
#topPlaces .filters .filtersToggle { margin: 1em 0 0 0; }
#topPlaces .filters label { font-size: 1.3em; display:block; }
#topPlaces .filters input[type=text] { font-size: 1.3em; }

