#topPlaces h2 span,
#topPlaces h2 a { font-size: 1em; }

#topPlaces { position:relative; margin:0 0 4em 0; }
#topPlaces .content.container { }

#topPlaces  { text-align:right;}
#topPlaces  h2 { font-size: 2.2em; font-weight:normal; margin: 0 0 0.5em 0; text-align:left;}

#topPlaces h2 .selectList-container {font-weight:normal; }
#topPlaces h2 .selectList-list {font-size:0.75em; }












#topPlaces .mapContent.container {  margin:1em 0 0 0;}
#topPlaces .mapContent.container .map{width:100%;height:40em;}


#topPlaces .list.container {width:100%; }
#topPlaces .list.container table{width:100%; margin:2em 0; }
#topPlaces .list.container table .rank{width:5%; text-align: right; padding:0 1em 0 0; }
#topPlaces .list.container table .name{width:85%; text-align:left; }
#topPlaces .list.container table .value{ width:10%; text-align:right;}

#topPlaces .list.container table thead tr td { color: #aaa; padding:0.25em 0; font-size:1.1em; }

#topPlaces .list.container table tbody tr {border-top: 1px solid #ccc;}
#topPlaces .list.container table tbody tr td a { font-size: 1em; }
#topPlaces .list.container table tbody tr td { padding: 0.5em 0; font-size:1.5em;}







#topPlaces .filters { display: none; }

#topPlaces .filters ul.options li.noFilter .slider .ui-widget-header { background: none; }





