/****** Object:  Table [dbo].[PlaceKeyword]    Script Date: 11/06/2012 15:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceKeyword](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PlaceId] [bigint] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_PlaceKeyword] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PlaceKeyword_Name_PlaceId] ON [dbo].[PlaceKeyword] 
(
	[Name] ASC
)
INCLUDE ( [PlaceId]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PlaceKeyword_PlaceId] ON [dbo].[PlaceKeyword] 
(
	[PlaceId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PlaceKeyword]  WITH NOCHECK ADD  CONSTRAINT [FK_PlaceKeyword_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[CityCountyMapping] ([Id])
GO
ALTER TABLE [dbo].[PlaceKeyword] CHECK CONSTRAINT [FK_PlaceKeyword_Place]
GO
