/****** Object:  Table [dbo].[ConsumerExpendituresByCity]    Script Date: 11/06/2012 15:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumerExpendituresByCity](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[Quarter] [int] NOT NULL,
	[CityId] [bigint] NOT NULL,
	[TCYTOTAL] [bigint] NULL,
	[XCYTOTAL] [float] NULL,
	[TCYAP] [bigint] NULL,
	[TCYCC] [bigint] NULL,
	[TCYED] [bigint] NULL,
	[TCYEN] [bigint] NULL,
	[TCYFB] [bigint] NULL,
	[TCYGI] [bigint] NULL,
	[TCYHC] [bigint] NULL,
	[TCYHF] [bigint] NULL,
	[TCYHO] [bigint] NULL,
	[TCYMI] [bigint] NULL,
	[TCYPC] [bigint] NULL,
	[TCYPI] [bigint] NULL,
	[TCYRD] [bigint] NULL,
	[TCYHH] [bigint] NULL,
	[TCYTB] [bigint] NULL,
	[TCYTR] [bigint] NULL,
	[TCYUT] [bigint] NULL,
	[TCYAP7] [bigint] NULL,
	[TCYAP2] [bigint] NULL,
	[TCYAP6] [bigint] NULL,
	[TCYAP4] [bigint] NULL,
	[TCYAP5] [bigint] NULL,
	[TCYAP1] [bigint] NULL,
	[TCYAP3] [bigint] NULL,
	[TCYED1] [bigint] NULL,
	[TCYED2] [bigint] NULL,
	[TCYEN1] [bigint] NULL,
	[TCYEN3] [bigint] NULL,
	[TCYEN2] [bigint] NULL,
	[TCYFB3] [bigint] NULL,
	[TCYFB1] [bigint] NULL,
	[TCYFB2] [bigint] NULL,
	[TCYGI9] [bigint] NULL,
	[TCYGI1] [bigint] NULL,
	[TCYGI2] [bigint] NULL,
	[TCYGI3] [bigint] NULL,
	[TCYGI5] [bigint] NULL,
	[TCYGI6] [bigint] NULL,
	[TCYGI7] [bigint] NULL,
	[TCYGI4] [bigint] NULL,
	[TCYGI8] [bigint] NULL,
	[TCYHC1] [bigint] NULL,
	[TCYHC2] [bigint] NULL,
	[TCYHC3] [bigint] NULL,
	[TCYHF3] [bigint] NULL,
	[TCYHF2] [bigint] NULL,
	[TCYHF5] [bigint] NULL,
	[TCYHF1] [bigint] NULL,
	[TCYHF4] [bigint] NULL,
	[TCYHO3] [bigint] NULL,
	[TCYHO1] [bigint] NULL,
	[TCYHO2] [bigint] NULL,
	[TCYHO4] [bigint] NULL,
	[TCYMI3] [bigint] NULL,
	[TCYMI2] [bigint] NULL,
	[TCYMI1] [bigint] NULL,
	[TCYMI4] [bigint] NULL,
	[TCYPC2] [bigint] NULL,
	[TCYPC4] [bigint] NULL,
	[TCYPC3] [bigint] NULL,
	[TCYPC1] [bigint] NULL,
	[TCYRD3] [bigint] NULL,
	[TCYRD2] [bigint] NULL,
	[TCYRD1] [bigint] NULL,
	[TCYHH3] [bigint] NULL,
	[TCYHH1] [bigint] NULL,
	[TCYHH5] [bigint] NULL,
	[TCYHH2] [bigint] NULL,
	[TCYHH4] [bigint] NULL,
	[TCYTB1] [bigint] NULL,
	[TCYTB2] [bigint] NULL,
	[TCYTR5] [bigint] NULL,
	[TCYTR3] [bigint] NULL,
	[TCYTR1] [bigint] NULL,
	[TCYTR9] [bigint] NULL,
	[TCYTR8] [bigint] NULL,
	[TCYTR2] [bigint] NULL,
	[TCYTR4] [bigint] NULL,
	[TCYTR7] [bigint] NULL,
	[TCYTR6] [bigint] NULL,
	[TCYUT2] [bigint] NULL,
	[TCYUT3] [bigint] NULL,
	[TCYUT1] [bigint] NULL,
	[TCYUT5] [bigint] NULL,
	[TCYUT4] [bigint] NULL,
	[TCYAP707] [bigint] NULL,
	[TCYAP706] [bigint] NULL,
	[TCYAP704] [bigint] NULL,
	[TCYAP701] [bigint] NULL,
	[TCYAP705] [bigint] NULL,
	[TCYAP702] [bigint] NULL,
	[TCYAP201] [bigint] NULL,
	[TCYAP209] [bigint] NULL,
	[TCYAP205] [bigint] NULL,
	[TCYAP207] [bigint] NULL,
	[TCYAP203] [bigint] NULL,
	[TCYAP208] [bigint] NULL,
	[TCYAP206] [bigint] NULL,
	[TCYAP202] [bigint] NULL,
	[TCYAP204] [bigint] NULL,
	[TCYAP602] [bigint] NULL,
	[TCYAP604] [bigint] NULL,
	[TCYAP601] [bigint] NULL,
	[TCYAP603] [bigint] NULL,
	[TCYAP407] [bigint] NULL,
	[TCYAP401] [bigint] NULL,
	[TCYAP402] [bigint] NULL,
	[TCYAP403] [bigint] NULL,
	[TCYAP405] [bigint] NULL,
	[TCYAP404] [bigint] NULL,
	[TCYAP406] [bigint] NULL,
	[TCYAP408] [bigint] NULL,
	[TCYAP505] [bigint] NULL,
	[TCYAP501] [bigint] NULL,
	[TCYAP502] [bigint] NULL,
	[TCYAP504] [bigint] NULL,
	[TCYAP503] [bigint] NULL,
	[TCYAP104] [bigint] NULL,
	[TCYAP106] [bigint] NULL,
	[TCYAP102] [bigint] NULL,
	[TCYAP108] [bigint] NULL,
	[TCYAP107] [bigint] NULL,
	[TCYAP101] [bigint] NULL,
	[TCYAP105] [bigint] NULL,
	[TCYAP103] [bigint] NULL,
	[TCYAP109] [bigint] NULL,
	[TCYAP310] [bigint] NULL,
	[TCYAP301] [bigint] NULL,
	[TCYAP312] [bigint] NULL,
	[TCYAP302] [bigint] NULL,
	[TCYAP306] [bigint] NULL,
	[TCYAP304] [bigint] NULL,
	[TCYAP307] [bigint] NULL,
	[TCYAP305] [bigint] NULL,
	[TCYAP308] [bigint] NULL,
	[TCYAP309] [bigint] NULL,
	[TCYAP311] [bigint] NULL,
	[TCYAP303] [bigint] NULL,
	[TCYED101] [bigint] NULL,
	[TCYED102] [bigint] NULL,
	[TCYED103] [bigint] NULL,
	[TCYED201] [bigint] NULL,
	[TCYED203] [bigint] NULL,
	[TCYED202] [bigint] NULL,
	[TCYEN102] [bigint] NULL,
	[TCYEN103] [bigint] NULL,
	[TCYEN106] [bigint] NULL,
	[TCYEN105] [bigint] NULL,
	[TCYEN101] [bigint] NULL,
	[TCYEN104] [bigint] NULL,
	[TCYEN301] [bigint] NULL,
	[TCYEN302] [bigint] NULL,
	[TCYEN303] [bigint] NULL,
	[TCYEN306] [bigint] NULL,
	[TCYEN305] [bigint] NULL,
	[TCYEN304] [bigint] NULL,
	[TCYEN205] [bigint] NULL,
	[TCYEN201] [bigint] NULL,
	[TCYEN208] [bigint] NULL,
	[TCYEN206] [bigint] NULL,
	[TCYEN207] [bigint] NULL,
	[TCYEN210] [bigint] NULL,
	[TCYEN202] [bigint] NULL,
	[TCYEN203] [bigint] NULL,
	[TCYEN209] [bigint] NULL,
	[TCYEN204] [bigint] NULL,
	[TCYFB307] [bigint] NULL,
	[TCYFB301] [bigint] NULL,
	[TCYFB304] [bigint] NULL,
	[TCYFB302] [bigint] NULL,
	[TCYFB306] [bigint] NULL,
	[TCYFB303] [bigint] NULL,
	[TCYFB305] [bigint] NULL,
	[TCYFB119] [bigint] NULL,
	[TCYFB106] [bigint] NULL,
	[TCYFB105] [bigint] NULL,
	[TCYFB111] [bigint] NULL,
	[TCYFB104] [bigint] NULL,
	[TCYFB107] [bigint] NULL,
	[TCYFB108] [bigint] NULL,
	[TCYFB114] [bigint] NULL,
	[TCYFB103] [bigint] NULL,
	[TCYFB120] [bigint] NULL,
	[TCYFB112] [bigint] NULL,
	[TCYFB118] [bigint] NULL,
	[TCYFB117] [bigint] NULL,
	[TCYFB109] [bigint] NULL,
	[TCYFB116] [bigint] NULL,
	[TCYFB115] [bigint] NULL,
	[TCYFB113] [bigint] NULL,
	[TCYFB110] [bigint] NULL,
	[TCYFB121] [bigint] NULL,
	[TCYFB205] [bigint] NULL,
	[TCYFB204] [bigint] NULL,
	[TCYFB206] [bigint] NULL,
	[TCYFB202] [bigint] NULL,
	[TCYFB207] [bigint] NULL,
	[TCYFB201] [bigint] NULL,
	[TCYFB203] [bigint] NULL,
	[TCYGI905] [bigint] NULL,
	[TCYGI901] [bigint] NULL,
	[TCYGI902] [bigint] NULL,
	[TCYGI903] [bigint] NULL,
	[TCYGI904] [bigint] NULL,
	[TCYGI107] [bigint] NULL,
	[TCYGI102] [bigint] NULL,
	[TCYGI106] [bigint] NULL,
	[TCYGI104] [bigint] NULL,
	[TCYGI105] [bigint] NULL,
	[TCYGI101] [bigint] NULL,
	[TCYGI103] [bigint] NULL,
	[TCYGI202] [bigint] NULL,
	[TCYGI201] [bigint] NULL,
	[TCYGI604] [bigint] NULL,
	[TCYGI602] [bigint] NULL,
	[TCYGI608] [bigint] NULL,
	[TCYGI601] [bigint] NULL,
	[TCYGI603] [bigint] NULL,
	[TCYGI606] [bigint] NULL,
	[TCYGI607] [bigint] NULL,
	[TCYGI605] [bigint] NULL,
	[TCYGI609] [bigint] NULL,
	[TCYGI402] [bigint] NULL,
	[TCYGI404] [bigint] NULL,
	[TCYGI401] [bigint] NULL,
	[TCYGI403] [bigint] NULL,
	[TCYHC102] [bigint] NULL,
	[TCYHC101] [bigint] NULL,
	[TCYHC103] [bigint] NULL,
	[TCYHC104] [bigint] NULL,
	[TCYHC105] [bigint] NULL,
	[TCYHC203] [bigint] NULL,
	[TCYHC204] [bigint] NULL,
	[TCYHC205] [bigint] NULL,
	[TCYHC202] [bigint] NULL,
	[TCYHC302] [bigint] NULL,
	[TCYHC303] [bigint] NULL,
	[TCYHC301] [bigint] NULL,
	[TCYHF207] [bigint] NULL,
	[TCYHF206] [bigint] NULL,
	[TCYHF204] [bigint] NULL,
	[TCYHF205] [bigint] NULL,
	[TCYHF201] [bigint] NULL,
	[TCYHF202] [bigint] NULL,
	[TCYHF208] [bigint] NULL,
	[TCYHF203] [bigint] NULL,
	[TCYHF101] [bigint] NULL,
	[TCYHF102] [bigint] NULL,
	[TCYHF104] [bigint] NULL,
	[TCYHF103] [bigint] NULL,
	[TCYHF107] [bigint] NULL,
	[TCYHF106] [bigint] NULL,
	[TCYHF105] [bigint] NULL,
	[TCYHF504] [bigint] NULL,
	[TCYHF511] [bigint] NULL,
	[TCYHF516] [bigint] NULL,
	[TCYHF512] [bigint] NULL,
	[TCYHF502] [bigint] NULL,
	[TCYHF509] [bigint] NULL,
	[TCYHF514] [bigint] NULL,
	[TCYHF505] [bigint] NULL,
	[TCYHF507] [bigint] NULL,
	[TCYHF510] [bigint] NULL,
	[TCYHF515] [bigint] NULL,
	[TCYHF508] [bigint] NULL,
	[TCYHF503] [bigint] NULL,
	[TCYHF513] [bigint] NULL,
	[TCYHF506] [bigint] NULL,
	[TCYHF406] [bigint] NULL,
	[TCYHF404] [bigint] NULL,
	[TCYHF403] [bigint] NULL,
	[TCYHF401] [bigint] NULL,
	[TCYHF409] [bigint] NULL,
	[TCYHF407] [bigint] NULL,
	[TCYHF402] [bigint] NULL,
	[TCYHF410] [bigint] NULL,
	[TCYHF405] [bigint] NULL,
	[TCYHF408] [bigint] NULL,
	[TCYHO301] [bigint] NULL,
	[TCYHO302] [bigint] NULL,
	[TCYHO101] [bigint] NULL,
	[TCYHO102] [bigint] NULL,
	[TCYHO103] [bigint] NULL,
	[TCYHO201] [bigint] NULL,
	[TCYHO202] [bigint] NULL,
	[TCYHO205] [bigint] NULL,
	[TCYHO207] [bigint] NULL,
	[TCYHO204] [bigint] NULL,
	[TCYHO206] [bigint] NULL,
	[TCYHO203] [bigint] NULL,
	[TCYHO402] [bigint] NULL,
	[TCYHO401] [bigint] NULL,
	[TCYHO403] [bigint] NULL,
	[TCYPC101] [bigint] NULL,
	[TCYPC102] [bigint] NULL,
	[TCYPC103] [bigint] NULL,
	[TCYPC403] [bigint] NULL,
	[TCYPC404] [bigint] NULL,
	[TCYPC401] [bigint] NULL,
	[TCYPC402] [bigint] NULL,
	[TCYPC301] [bigint] NULL,
	[TCYPC302] [bigint] NULL,
	[TCYHH503] [bigint] NULL,
	[TCYHH502] [bigint] NULL,
	[TCYHH501] [bigint] NULL,
	[TCYHH302] [bigint] NULL,
	[TCYHH301] [bigint] NULL,
	[TCYHH303] [bigint] NULL,
	[TCYHH304] [bigint] NULL,
	[TCYHH306] [bigint] NULL,
	[TCYHH402] [bigint] NULL,
	[TCYHH401] [bigint] NULL,
	[TCYHH403] [bigint] NULL,
	[TCYHH305] [bigint] NULL,
	[TCYHH101] [bigint] NULL,
	[TCYHH102] [bigint] NULL,
	[TCYHH201] [bigint] NULL,
	[TCYHH202] [bigint] NULL,
	[TCYTR502] [bigint] NULL,
	[TCYTR501] [bigint] NULL,
	[TCYTR503] [bigint] NULL,
	[TCYTR101] [bigint] NULL,
	[TCYTR102] [bigint] NULL,
	[TCYTR905] [bigint] NULL,
	[TCYTR901] [bigint] NULL,
	[TCYTR904] [bigint] NULL,
	[TCYTR902] [bigint] NULL,
	[TCYTR903] [bigint] NULL,
	[TCYTR801] [bigint] NULL,
	[TCYTR802] [bigint] NULL,
	[TCYTR803] [bigint] NULL,
	[TCYTR805] [bigint] NULL,
	[TCYTR804] [bigint] NULL,
	[TCYTR201] [bigint] NULL,
	[TCYTR202] [bigint] NULL,
	[TCYTR401] [bigint] NULL,
	[TCYTR402] [bigint] NULL,
	[TCYTR601] [bigint] NULL,
	[TCYTR602] [bigint] NULL,
	[TCYUT503] [bigint] NULL,
	[TCYUT502] [bigint] NULL,
	[TCYUT501] [bigint] NULL,
	[TCYUT402] [bigint] NULL,
	[TCYUT401] [bigint] NULL,
	[TCYAP10102] [bigint] NULL,
	[TCYAP10101] [bigint] NULL,
	[TCYAP10301] [bigint] NULL,
	[TCYAP10302] [bigint] NULL,
	[TCYAP10303] [bigint] NULL,
	[TCYAP10801] [bigint] NULL,
	[TCYAP10802] [bigint] NULL,
	[TCYAP10902] [bigint] NULL,
	[TCYAP10901] [bigint] NULL,
	[TCYAP20402] [bigint] NULL,
	[TCYAP20401] [bigint] NULL,
	[TCYAP20502] [bigint] NULL,
	[TCYAP20501] [bigint] NULL,
	[TCYAP20801] [bigint] NULL,
	[TCYAP20802] [bigint] NULL,
	[TCYAP20902] [bigint] NULL,
	[TCYAP20901] [bigint] NULL,
	[TCYAP30201] [bigint] NULL,
	[TCYAP30202] [bigint] NULL,
	[TCYAP30702] [bigint] NULL,
	[TCYAP30701] [bigint] NULL,
	[TCYAP30801] [bigint] NULL,
	[TCYAP30803] [bigint] NULL,
	[TCYAP30802] [bigint] NULL,
	[TCYAP40501] [bigint] NULL,
	[TCYAP40502] [bigint] NULL,
	[TCYAP40701] [bigint] NULL,
	[TCYAP40801] [bigint] NULL,
	[TCYAP40802] [bigint] NULL,
	[TCYEN30301] [bigint] NULL,
	[TCYEN30302] [bigint] NULL,
	[TCYEN30303] [bigint] NULL,
	[TCYEN30402] [bigint] NULL,
	[TCYEN30401] [bigint] NULL,
	[TCYEN30501] [bigint] NULL,
	[TCYEN30503] [bigint] NULL,
	[TCYEN30502] [bigint] NULL,
	[TCYEN30601] [bigint] NULL,
	[TCYEN30602] [bigint] NULL,
	[TCYEN30603] [bigint] NULL,
	[TCYFB10301] [bigint] NULL,
	[TCYFB10304] [bigint] NULL,
	[TCYFB10303] [bigint] NULL,
	[TCYFB10302] [bigint] NULL,
	[TCYFB10305] [bigint] NULL,
	[TCYFB10603] [bigint] NULL,
	[TCYFB10604] [bigint] NULL,
	[TCYFB10602] [bigint] NULL,
	[TCYFB10601] [bigint] NULL,
	[TCYFB10605] [bigint] NULL,
	[TCYFB10606] [bigint] NULL,
	[TCYFB10701] [bigint] NULL,
	[TCYFB10702] [bigint] NULL,
	[TCYFB10705] [bigint] NULL,
	[TCYFB10703] [bigint] NULL,
	[TCYFB10704] [bigint] NULL,
	[TCYFB10802] [bigint] NULL,
	[TCYFB10804] [bigint] NULL,
	[TCYFB10801] [bigint] NULL,
	[TCYFB10803] [bigint] NULL,
	[TCYFB10903] [bigint] NULL,
	[TCYFB10905] [bigint] NULL,
	[TCYFB10902] [bigint] NULL,
	[TCYFB10901] [bigint] NULL,
	[TCYFB10904] [bigint] NULL,
	[TCYFB10906] [bigint] NULL,
	[TCYFB11001] [bigint] NULL,
	[TCYFB11003] [bigint] NULL,
	[TCYFB11002] [bigint] NULL,
	[TCYFB11102] [bigint] NULL,
	[TCYFB11101] [bigint] NULL,
	[TCYFB11104] [bigint] NULL,
	[TCYFB11103] [bigint] NULL,
	[TCYFB11203] [bigint] NULL,
	[TCYFB11201] [bigint] NULL,
	[TCYFB11204] [bigint] NULL,
	[TCYFB11202] [bigint] NULL,
	[TCYFB11206] [bigint] NULL,
	[TCYFB11205] [bigint] NULL,
	[TCYFB11502] [bigint] NULL,
	[TCYFB11501] [bigint] NULL,
	[TCYFB11602] [bigint] NULL,
	[TCYFB11604] [bigint] NULL,
	[TCYFB11601] [bigint] NULL,
	[TCYFB11603] [bigint] NULL,
	[TCYFB30101] [bigint] NULL,
	[TCYFB30102] [bigint] NULL,
	[TCYFB30202] [bigint] NULL,
	[TCYFB30201] [bigint] NULL,
	[TCYGI90302] [bigint] NULL,
	[TCYGI90303] [bigint] NULL,
	[TCYGI90301] [bigint] NULL,
	[TCYHC20503] [bigint] NULL,
	[TCYHC20501] [bigint] NULL,
	[TCYHC20504] [bigint] NULL,
	[TCYHC20502] [bigint] NULL,
	[TCYHH30504] [bigint] NULL,
	[TCYHH30507] [bigint] NULL,
	[TCYHH30505] [bigint] NULL,
	[TCYHH30501] [bigint] NULL,
	[TCYHH30502] [bigint] NULL,
	[TCYHH30503] [bigint] NULL,
	[TCYHH30506] [bigint] NULL,
	[TCYTR60216] [bigint] NULL,
	[TCYTR60212] [bigint] NULL,
	[TCYTR60217] [bigint] NULL,
	[TCYTR60203] [bigint] NULL,
	[TCYTR60205] [bigint] NULL,
	[TCYTR60214] [bigint] NULL,
	[TCYTR60207] [bigint] NULL,
	[TCYTR60213] [bigint] NULL,
	[TCYTR60210] [bigint] NULL,
	[TCYTR60215] [bigint] NULL,
	[TCYTR60208] [bigint] NULL,
	[TCYTR60209] [bigint] NULL,
	[TCYTR60202] [bigint] NULL,
	[TCYTR60211] [bigint] NULL,
	[TCYTR60206] [bigint] NULL,
	[TCYTR60201] [bigint] NULL,
	[TCYTR60204] [bigint] NULL,
	[TCYTR60218] [bigint] NULL,
	[XCYAP] [float] NULL,
	[XCYCC] [float] NULL,
	[XCYED] [float] NULL,
	[XCYEN] [float] NULL,
	[XCYFB] [float] NULL,
	[XCYGI] [float] NULL,
	[XCYHC] [float] NULL,
	[XCYHF] [float] NULL,
	[XCYHO] [float] NULL,
	[XCYMI] [float] NULL,
	[XCYPC] [float] NULL,
	[XCYPI] [float] NULL,
	[XCYRD] [float] NULL,
	[XCYHH] [float] NULL,
	[XCYTB] [float] NULL,
	[XCYTR] [float] NULL,
	[XCYUT] [float] NULL,
	[XCYAP7] [float] NULL,
	[XCYAP2] [float] NULL,
	[XCYAP6] [float] NULL,
	[XCYAP4] [float] NULL,
	[XCYAP5] [float] NULL,
	[XCYAP1] [float] NULL,
	[XCYAP3] [float] NULL,
	[XCYED1] [float] NULL,
	[XCYED2] [float] NULL,
	[XCYEN1] [float] NULL,
	[XCYEN3] [float] NULL,
	[XCYEN2] [float] NULL,
	[XCYFB3] [float] NULL,
	[XCYFB1] [float] NULL,
	[XCYFB2] [float] NULL,
	[XCYGI9] [float] NULL,
	[XCYGI1] [float] NULL,
	[XCYGI2] [float] NULL,
	[XCYGI3] [float] NULL,
	[XCYGI5] [float] NULL,
	[XCYGI6] [float] NULL,
	[XCYGI7] [float] NULL,
	[XCYGI4] [float] NULL,
	[XCYGI8] [float] NULL,
	[XCYHC1] [float] NULL,
	[XCYHC2] [float] NULL,
	[XCYHC3] [float] NULL,
	[XCYHF3] [float] NULL,
	[XCYHF2] [float] NULL,
	[XCYHF5] [float] NULL,
	[XCYHF1] [float] NULL,
	[XCYHF4] [float] NULL,
	[XCYHO3] [float] NULL,
	[XCYHO1] [float] NULL,
	[XCYHO2] [float] NULL,
	[XCYHO4] [float] NULL,
	[XCYMI3] [float] NULL,
	[XCYMI2] [float] NULL,
	[XCYMI1] [float] NULL,
	[XCYMI4] [float] NULL,
	[XCYPC2] [float] NULL,
	[XCYPC4] [float] NULL,
	[XCYPC3] [float] NULL,
	[XCYPC1] [float] NULL,
	[XCYRD3] [float] NULL,
	[XCYRD2] [float] NULL,
	[XCYRD1] [float] NULL,
	[XCYHH3] [float] NULL,
	[XCYHH1] [float] NULL,
	[XCYHH5] [float] NULL,
	[XCYHH2] [float] NULL,
	[XCYHH4] [float] NULL,
	[XCYTB1] [float] NULL,
	[XCYTB2] [float] NULL,
	[XCYTR5] [float] NULL,
	[XCYTR3] [float] NULL,
	[XCYTR1] [float] NULL,
	[XCYTR9] [float] NULL,
	[XCYTR8] [float] NULL,
	[XCYTR2] [float] NULL,
	[XCYTR4] [float] NULL,
	[XCYTR7] [float] NULL,
	[XCYTR6] [float] NULL,
	[XCYUT2] [float] NULL,
	[XCYUT3] [float] NULL,
	[XCYUT1] [float] NULL,
	[XCYUT5] [float] NULL,
	[XCYUT4] [float] NULL,
	[XCYAP707] [float] NULL,
	[XCYAP706] [float] NULL,
	[XCYAP704] [float] NULL,
	[XCYAP701] [float] NULL,
	[XCYAP705] [float] NULL,
	[XCYAP702] [float] NULL,
	[XCYAP201] [float] NULL,
	[XCYAP209] [float] NULL,
	[XCYAP205] [float] NULL,
	[XCYAP207] [float] NULL,
	[XCYAP203] [float] NULL,
	[XCYAP208] [float] NULL,
	[XCYAP206] [float] NULL,
	[XCYAP202] [float] NULL,
	[XCYAP204] [float] NULL,
	[XCYAP602] [float] NULL,
	[XCYAP604] [float] NULL,
	[XCYAP601] [float] NULL,
	[XCYAP603] [float] NULL,
	[XCYAP407] [float] NULL,
	[XCYAP401] [float] NULL,
	[XCYAP402] [float] NULL,
	[XCYAP403] [float] NULL,
	[XCYAP405] [float] NULL,
	[XCYAP404] [float] NULL,
	[XCYAP406] [float] NULL,
	[XCYAP408] [float] NULL,
	[XCYAP505] [float] NULL,
	[XCYAP501] [float] NULL,
	[XCYAP502] [float] NULL,
	[XCYAP504] [float] NULL,
	[XCYAP503] [float] NULL,
	[XCYAP104] [float] NULL,
	[XCYAP106] [float] NULL,
	[XCYAP102] [float] NULL,
	[XCYAP108] [float] NULL,
	[XCYAP107] [float] NULL,
	[XCYAP101] [float] NULL,
	[XCYAP105] [float] NULL,
	[XCYAP103] [float] NULL,
	[XCYAP109] [float] NULL,
	[XCYAP310] [float] NULL,
	[XCYAP301] [float] NULL,
	[XCYAP312] [float] NULL,
	[XCYAP302] [float] NULL,
	[XCYAP306] [float] NULL,
	[XCYAP304] [float] NULL,
	[XCYAP307] [float] NULL,
	[XCYAP305] [float] NULL,
	[XCYAP308] [float] NULL,
	[XCYAP309] [float] NULL,
	[XCYAP311] [float] NULL,
	[XCYAP303] [float] NULL,
	[XCYED101] [float] NULL,
	[XCYED102] [float] NULL,
	[XCYED103] [float] NULL,
	[XCYED201] [float] NULL,
	[XCYED203] [float] NULL,
	[XCYED202] [float] NULL,
	[XCYEN102] [float] NULL,
	[XCYEN103] [float] NULL,
	[XCYEN106] [float] NULL,
	[XCYEN105] [float] NULL,
	[XCYEN101] [float] NULL,
	[XCYEN104] [float] NULL,
	[XCYEN301] [float] NULL,
	[XCYEN302] [float] NULL,
	[XCYEN303] [float] NULL,
	[XCYEN306] [float] NULL,
	[XCYEN305] [float] NULL,
	[XCYEN304] [float] NULL,
	[XCYEN205] [float] NULL,
	[XCYEN201] [float] NULL,
	[XCYEN208] [float] NULL,
	[XCYEN206] [float] NULL,
	[XCYEN207] [float] NULL,
	[XCYEN210] [float] NULL,
	[XCYEN202] [float] NULL,
	[XCYEN203] [float] NULL,
	[XCYEN209] [float] NULL,
	[XCYEN204] [float] NULL,
	[XCYFB307] [float] NULL,
	[XCYFB301] [float] NULL,
	[XCYFB304] [float] NULL,
	[XCYFB302] [float] NULL,
	[XCYFB306] [float] NULL,
	[XCYFB303] [float] NULL,
	[XCYFB305] [float] NULL,
	[XCYFB119] [float] NULL,
	[XCYFB106] [float] NULL,
	[XCYFB105] [float] NULL,
	[XCYFB111] [float] NULL,
	[XCYFB104] [float] NULL,
	[XCYFB107] [float] NULL,
	[XCYFB121] [float] NULL,
	[XCYFB117] [float] NULL,
	[XCYFB109] [float] NULL,
	[XCYFB116] [float] NULL,
	[XCYFB115] [float] NULL,
	[XCYFB113] [float] NULL,
	[XCYFB110] [float] NULL,
	[XCYFB108] [float] NULL,
	[XCYFB114] [float] NULL,
	[XCYFB103] [float] NULL,
	[XCYFB120] [float] NULL,
	[XCYFB112] [float] NULL,
	[XCYFB118] [float] NULL,
	[XCYFB205] [float] NULL,
	[XCYFB204] [float] NULL,
	[XCYFB206] [float] NULL,
	[XCYFB202] [float] NULL,
	[XCYFB207] [float] NULL,
	[XCYFB201] [float] NULL,
	[XCYFB203] [float] NULL,
	[XCYGI905] [float] NULL,
	[XCYGI901] [float] NULL,
	[XCYGI902] [float] NULL,
	[XCYGI903] [float] NULL,
	[XCYGI904] [float] NULL,
	[XCYGI107] [float] NULL,
	[XCYGI102] [float] NULL,
	[XCYGI106] [float] NULL,
	[XCYGI104] [float] NULL,
	[XCYGI105] [float] NULL,
	[XCYGI101] [float] NULL,
	[XCYGI103] [float] NULL,
	[XCYGI202] [float] NULL,
	[XCYGI201] [float] NULL,
	[XCYGI604] [float] NULL,
	[XCYGI602] [float] NULL,
	[XCYGI608] [float] NULL,
	[XCYGI601] [float] NULL,
	[XCYGI603] [float] NULL,
	[XCYGI606] [float] NULL,
	[XCYGI607] [float] NULL,
	[XCYGI605] [float] NULL,
	[XCYGI609] [float] NULL,
	[XCYGI402] [float] NULL,
	[XCYGI404] [float] NULL,
	[XCYGI401] [float] NULL,
	[XCYGI403] [float] NULL,
	[XCYHC102] [float] NULL,
	[XCYHC101] [float] NULL,
	[XCYHC103] [float] NULL,
	[XCYHC104] [float] NULL,
	[XCYHC105] [float] NULL,
	[XCYHC203] [float] NULL,
	[XCYHC204] [float] NULL,
	[XCYHC205] [float] NULL,
	[XCYHC202] [float] NULL,
	[XCYHC302] [float] NULL,
	[XCYHC303] [float] NULL,
	[XCYHC301] [float] NULL,
	[XCYHF207] [float] NULL,
	[XCYHF206] [float] NULL,
	[XCYHF204] [float] NULL,
	[XCYHF205] [float] NULL,
	[XCYHF201] [float] NULL,
	[XCYHF202] [float] NULL,
	[XCYHF208] [float] NULL,
	[XCYHF203] [float] NULL,
	[XCYHF504] [float] NULL,
	[XCYHF511] [float] NULL,
	[XCYHF516] [float] NULL,
	[XCYHF512] [float] NULL,
	[XCYHF502] [float] NULL,
	[XCYHF509] [float] NULL,
	[XCYHF503] [float] NULL,
	[XCYHF513] [float] NULL,
	[XCYHF506] [float] NULL,
	[XCYHF514] [float] NULL,
	[XCYHF505] [float] NULL,
	[XCYHF507] [float] NULL,
	[XCYHF510] [float] NULL,
	[XCYHF515] [float] NULL,
	[XCYHF508] [float] NULL,
	[XCYHF101] [float] NULL,
	[XCYHF102] [float] NULL,
	[XCYHF104] [float] NULL,
	[XCYHF103] [float] NULL,
	[XCYHF107] [float] NULL,
	[XCYHF106] [float] NULL,
	[XCYHF105] [float] NULL,
	[XCYHF406] [float] NULL,
	[XCYHF404] [float] NULL,
	[XCYHF403] [float] NULL,
	[XCYHF401] [float] NULL,
	[XCYHF409] [float] NULL,
	[XCYHF407] [float] NULL,
	[XCYHF402] [float] NULL,
	[XCYHF410] [float] NULL,
	[XCYHF405] [float] NULL,
	[XCYHF408] [float] NULL,
	[XCYHO301] [float] NULL,
	[XCYHO302] [float] NULL,
	[XCYHO101] [float] NULL,
	[XCYHO102] [float] NULL,
	[XCYHO103] [float] NULL,
	[XCYHO201] [float] NULL,
	[XCYHO202] [float] NULL,
	[XCYHO205] [float] NULL,
	[XCYHO207] [float] NULL,
	[XCYHO204] [float] NULL,
	[XCYHO206] [float] NULL,
	[XCYHO203] [float] NULL,
	[XCYHO402] [float] NULL,
	[XCYHO401] [float] NULL,
	[XCYHO403] [float] NULL,
	[XCYPC403] [float] NULL,
	[XCYPC404] [float] NULL,
	[XCYPC401] [float] NULL,
	[XCYPC402] [float] NULL,
	[XCYPC301] [float] NULL,
	[XCYPC302] [float] NULL,
	[XCYPC101] [float] NULL,
	[XCYPC102] [float] NULL,
	[XCYPC103] [float] NULL,
	[XCYHH302] [float] NULL,
	[XCYHH301] [float] NULL,
	[XCYHH303] [float] NULL,
	[XCYHH304] [float] NULL,
	[XCYHH306] [float] NULL,
	[XCYHH305] [float] NULL,
	[XCYHH101] [float] NULL,
	[XCYHH102] [float] NULL,
	[XCYHH503] [float] NULL,
	[XCYHH502] [float] NULL,
	[XCYHH501] [float] NULL,
	[XCYHH201] [float] NULL,
	[XCYHH202] [float] NULL,
	[XCYHH402] [float] NULL,
	[XCYHH401] [float] NULL,
	[XCYHH403] [float] NULL,
	[XCYTR502] [float] NULL,
	[XCYTR501] [float] NULL,
	[XCYTR503] [float] NULL,
	[XCYTR101] [float] NULL,
	[XCYTR102] [float] NULL,
	[XCYTR905] [float] NULL,
	[XCYTR901] [float] NULL,
	[XCYTR904] [float] NULL,
	[XCYTR902] [float] NULL,
	[XCYTR903] [float] NULL,
	[XCYTR801] [float] NULL,
	[XCYTR802] [float] NULL,
	[XCYTR803] [float] NULL,
	[XCYTR805] [float] NULL,
	[XCYTR804] [float] NULL,
	[XCYTR201] [float] NULL,
	[XCYTR202] [float] NULL,
	[XCYTR401] [float] NULL,
	[XCYTR402] [float] NULL,
	[XCYTR601] [float] NULL,
	[XCYTR602] [float] NULL,
	[XCYUT503] [float] NULL,
	[XCYUT502] [float] NULL,
	[XCYUT501] [float] NULL,
	[XCYUT402] [float] NULL,
	[XCYUT401] [float] NULL,
	[XCYAP20901] [float] NULL,
	[XCYAP20902] [float] NULL,
	[XCYAP20502] [float] NULL,
	[XCYAP20501] [float] NULL,
	[XCYAP20801] [float] NULL,
	[XCYAP20802] [float] NULL,
	[XCYAP20402] [float] NULL,
	[XCYAP20401] [float] NULL,
	[XCYAP40701] [float] NULL,
	[XCYAP40501] [float] NULL,
	[XCYAP40502] [float] NULL,
	[XCYAP40802] [float] NULL,
	[XCYAP40801] [float] NULL,
	[XCYAP10801] [float] NULL,
	[XCYAP10802] [float] NULL,
	[XCYAP10102] [float] NULL,
	[XCYAP10101] [float] NULL,
	[XCYAP10302] [float] NULL,
	[XCYAP10303] [float] NULL,
	[XCYAP10301] [float] NULL,
	[XCYAP10901] [float] NULL,
	[XCYAP10902] [float] NULL,
	[XCYAP30201] [float] NULL,
	[XCYAP30202] [float] NULL,
	[XCYAP30701] [float] NULL,
	[XCYAP30702] [float] NULL,
	[XCYAP30803] [float] NULL,
	[XCYAP30801] [float] NULL,
	[XCYAP30802] [float] NULL,
	[XCYEN30301] [float] NULL,
	[XCYEN30302] [float] NULL,
	[XCYEN30303] [float] NULL,
	[XCYEN30601] [float] NULL,
	[XCYEN30602] [float] NULL,
	[XCYEN30603] [float] NULL,
	[XCYEN30501] [float] NULL,
	[XCYEN30503] [float] NULL,
	[XCYEN30502] [float] NULL,
	[XCYEN30402] [float] NULL,
	[XCYEN30401] [float] NULL,
	[XCYFB30101] [float] NULL,
	[XCYFB30102] [float] NULL,
	[XCYFB30202] [float] NULL,
	[XCYFB30201] [float] NULL,
	[XCYFB10603] [float] NULL,
	[XCYFB10604] [float] NULL,
	[XCYFB10602] [float] NULL,
	[XCYFB10601] [float] NULL,
	[XCYFB10605] [float] NULL,
	[XCYFB10606] [float] NULL,
	[XCYFB11102] [float] NULL,
	[XCYFB11101] [float] NULL,
	[XCYFB11104] [float] NULL,
	[XCYFB11103] [float] NULL,
	[XCYFB10701] [float] NULL,
	[XCYFB10702] [float] NULL,
	[XCYFB10705] [float] NULL,
	[XCYFB10703] [float] NULL,
	[XCYFB10704] [float] NULL,
	[XCYFB10903] [float] NULL,
	[XCYFB10905] [float] NULL,
	[XCYFB10902] [float] NULL,
	[XCYFB10901] [float] NULL,
	[XCYFB10904] [float] NULL,
	[XCYFB10906] [float] NULL,
	[XCYFB11602] [float] NULL,
	[XCYFB11604] [float] NULL,
	[XCYFB11601] [float] NULL,
	[XCYFB11603] [float] NULL,
	[XCYFB11502] [float] NULL,
	[XCYFB11501] [float] NULL,
	[XCYFB11001] [float] NULL,
	[XCYFB11003] [float] NULL,
	[XCYFB11002] [float] NULL,
	[XCYFB10802] [float] NULL,
	[XCYFB10804] [float] NULL,
	[XCYFB10801] [float] NULL,
	[XCYFB10803] [float] NULL,
	[XCYFB10301] [float] NULL,
	[XCYFB10304] [float] NULL,
	[XCYFB10303] [float] NULL,
	[XCYFB10302] [float] NULL,
	[XCYFB10305] [float] NULL,
	[XCYFB11203] [float] NULL,
	[XCYFB11201] [float] NULL,
	[XCYFB11204] [float] NULL,
	[XCYFB11202] [float] NULL,
	[XCYFB11206] [float] NULL,
	[XCYFB11205] [float] NULL,
	[XCYGI90302] [float] NULL,
	[XCYGI90303] [float] NULL,
	[XCYGI90301] [float] NULL,
	[XCYHC20503] [float] NULL,
	[XCYHC20501] [float] NULL,
	[XCYHC20504] [float] NULL,
	[XCYHC20502] [float] NULL,
	[XCYHH30504] [float] NULL,
	[XCYHH30507] [float] NULL,
	[XCYHH30505] [float] NULL,
	[XCYHH30501] [float] NULL,
	[XCYHH30502] [float] NULL,
	[XCYHH30503] [float] NULL,
	[XCYHH30506] [float] NULL,
	[XCYTR60216] [float] NULL,
	[XCYTR60212] [float] NULL,
	[XCYTR60217] [float] NULL,
	[XCYTR60203] [float] NULL,
	[XCYTR60205] [float] NULL,
	[XCYTR60214] [float] NULL,
	[XCYTR60202] [float] NULL,
	[XCYTR60211] [float] NULL,
	[XCYTR60206] [float] NULL,
	[XCYTR60201] [float] NULL,
	[XCYTR60204] [float] NULL,
	[XCYTR60218] [float] NULL,
	[XCYTR60207] [float] NULL,
	[XCYTR60213] [float] NULL,
	[XCYTR60210] [float] NULL,
	[XCYTR60215] [float] NULL,
	[XCYTR60208] [float] NULL,
	[XCYTR60209] [float] NULL,
 CONSTRAINT [PK_ConsumerExpendituresByCity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConsumerExpendituresByCity]  WITH CHECK ADD  CONSTRAINT [FK_ConsumerExpendituresByCity_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[ConsumerExpendituresByCity] CHECK CONSTRAINT [FK_ConsumerExpendituresByCity_City]
GO
