<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>C:\Development\sizeup2\SizeUp.DeployPackages\SizeUp.Web.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AnalyticsContext" Order="1" Enabled="False">
          <Destination Path="Data Source=sizeup-staging.crhtkzst9oxj.us-east-1.rds.amazonaws.com;Initial Catalog=SizeUpAnalytics;Persist Security Info=True;User ID=imsuser;Password=gismaps4u!" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=localhost\DEV;Initial Catalog=Analytics2;Persist Security Info=True;User ID=imsuser;Password=maps4u!;Application Name=EntityFramework" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AnalyticsContext_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Analytics.AnalyticsContext.csdl|res://*/Analytics.AnalyticsContext.ssdl|res://*/Analytics.AnalyticsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\DEV;initial catalog=Analytics2;persist security info=True;user id=imsuser;password=maps4u!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SizeUpContext" Order="2" Enabled="False">
          <Destination Path="Data Source=sizeup-staging.crhtkzst9oxj.us-east-1.rds.amazonaws.com;Initial Catalog=SizeUp;Persist Security Info=True;User ID=imsuser;Password=gismaps4u!" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=szup-stagingdb.gisplanning.net;Initial Catalog=SizeUp2;Persist Security Info=True;User ID=imsuser;Password=maps4u!;Application Name=EntityFramework" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SizeUpContext_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SizeUpContext.csdl|res://*/SizeUpContext.ssdl|res://*/SizeUpContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=szup-stagingdb.gisplanning.net;initial catalog=SizeUp2;persist security info=True;user id=imsuser;password=maps4u!;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Membership" Order="3" Enabled="False">
          <Destination Path="Data Source=sizeup-staging.crhtkzst9oxj.us-east-1.rds.amazonaws.com;Initial Catalog=SizeUpMembership;Persist Security Info=True;User ID=sizeupdb;Password=gismaps4u!" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=localhost\DEV;Initial Catalog=SizeUpMembership;Persist Security Info=True;User ID=imsuser;Password=maps4u!" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Membership_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost\DEV;Initial Catalog=SizeUpMembership;Persist Security Info=True;User ID=imsuser;Password=maps4u!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AnalyticsContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Analytics.AnalyticsContext.csdl|res://*/Analytics.AnalyticsContext.ssdl|res://*/Analytics.AnalyticsContext.msl;provider=System.Data.SqlClient;provider connection string="data source=sizeup-staging.crhtkzst9oxj.us-east-1.rds.amazonaws.com;initial catalog=SizeUpAnalytics;persist security info=True;user id=imsuser;password=gismaps4u!;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Membership-Web.config Connection String">
      <ParameterValue>Data Source=sizeup-staging.crhtkzst9oxj.us-east-1.rds.amazonaws.com;Initial Catalog=SizeUpMembership;Persist Security Info=True;User ID=sizeupdb;Password=gismaps4u!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SizeUpContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/SizeUpContext.csdl|res://*/SizeUpContext.ssdl|res://*/SizeUpContext.msl;provider=System.Data.SqlClient;provider connection string="data source=sizeup-staging.crhtkzst9oxj.us-east-1.rds.amazonaws.com;initial catalog=SizeUp;persist security info=True;user id=imsuser;password=gismaps4u!;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>