p.details { color: #999; text-indent: 1em; font-size: 1.5em;}
#form { margin:1em 0 0 5em; width: 45em;  display: inline-block; }
#form li{ padding: 1em; }
#form li label{width: 8em;  }
#form li input{width: 12em;  }

#sidebar { display: inline-block; position: relative; vertical-align: top; width: 40em; left: 1em; }
#sidebar li { padding:  1em 0; }

#submitContainer { padding: 2em; }
#continue {position: relative; left: 1.5em; }











