USE [NewData]
GO
/****** Object:  Table [dbo].[NAICS]    Script Date: 1/25/2018 2:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NAICS](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NAICSCode] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ParentId] [bigint] NULL,
 CONSTRAINT [PK_NAICS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_NAICS_NaicsCode]    Script Date: 1/25/2018 2:41:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_NAICS_NaicsCode] ON [dbo].[NAICS]
(
	[NAICSCode] ASC
)
INCLUDE ( 	[Id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_NAICS_ParentId]    Script Date: 1/25/2018 2:41:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_NAICS_ParentId] ON [dbo].[NAICS]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NAICS]  WITH CHECK ADD  CONSTRAINT [FK_NAICS_NAICS] FOREIGN KEY([ParentId])
REFERENCES [dbo].[NAICS] ([Id])
GO
ALTER TABLE [dbo].[NAICS] CHECK CONSTRAINT [FK_NAICS_NAICS]
GO
