@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Authorizing Your Browser</title>
</head>
<body>
    <p>Authorizing...</p>

<script type="text/javascript">
    window.close();
</script>
</body>
</html>
