@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>About Us</title>
<meta name="title" content="About SizeUp" />
<meta name="keywords" content="SizeUp, About" />
<meta name="description" content="The SizeUp Team" />
<link href="@Url.Content("~/Content/views/company/about.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
}
<div id="about">
    @Html.Raw(ViewBag.Content)
</div>