@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>SizeUp - Business Intelligence for All</title>
<link href="@Url.Content("~/Content/views/company/about.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
}
<div id="about">
    @Html.Raw(ViewBag.Content)
</div>