@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<title>The Team</title>
    
<meta name="title" content="Management Team | SizeUp – Best Small Business Intelligence Tool" />
<meta name="keywords" content="staff, company, team" />
<meta name="description" content="SizeUp has built a team of GIS industry &amp; technology veterans working together to provide quality business intelligence for small businesses in the US." />


<link href="@Url.Content("~/Content/views/company/team.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
}

@Html.Raw(ViewBag.Content)