

#advertising { position:relative; margin:0 0 4em 0; }
#advertising .content{ position: relative; margin: 0 0 5em 0; }

#advertising .heading { position: relative; margin: 0 0 1em 0; text-align:right;}
#advertising .heading h2 { font-size: 2.4em; font-weight:normal; position:relative; top:0.35em; float:left; margin: 0 0 0.5em 0;}
#advertising .heading .filterWrapper {float:right; margin: 0 0 0 0.5em;}
#advertising .heading label { color: #ccc; position: relative; display:inline-block; line-height:2.65em; vertical-align :middle; }
#advertising .heading .filter { background-image: url("/content/images/actionbutton.png"); background-repeat: no-repeat; height: 5em;width: 39.5em; position: relative; right: 0; top:0;  cursor:pointer;display:inline-block;}

#advertising #optionMenu { width: 24em; position:relative; top:1em; }
#advertising .heading .filter #optionMenu_chzn { top: 1.25em; left: 2em; font-family: "Trebuchet MS",Arial,Sans-Serif; text-align:left;}
#advertising .heading .filter #optionMenu_chzn .chzn-single{font-size:1.8em; color:#fff; font-weight:normal; display:block; }
#advertising .heading .filter #optionMenu_chzn .chzn-single:hover { color: #fff; }

#advertising #filterSettingsButton { color: transparent; height: 3.75em; position: absolute; right: 0; top: 0; width: 4.5em; }

#advertising #filterSettings {  }
#advertising #filterSettings h2 { font-size: 2em; font-weight: normal; }
#advertising #filterSettings h3 { font-size: 1.5em; font-weight: bold; }
#advertising #filterSettings p { text-indent: 1em; }
#advertising #filterSettings .section { border-top: 1px solid #ccc; padding:0 0 1em 0; margin:1em 0 0 0;}
#advertising #filterSettings .cancel { margin: 0 0 0 1em; }

#advertising #filterSettings ul.options li { display: inline-block; padding: 1em; text-align: left; width: 43em; }
#advertising #filterSettings ul.options li .valueLabel {font-size:1em; color:#aaa; }
#advertising #filterSettings ul.options li .valueLabel .val{font-size:1.4em; color:#FFA500; font-weight:bold; }
#advertising #filterSettings ul.options li .label { }
#advertising #filterSettings ul.options li .sliderLabel {font-size:1em; display:inline-block; }
#advertising #filterSettings ul.options li .sliderLabel.less { text-align: right; width:7em; }
#advertising #filterSettings ul.options li .sliderLabel.more { text-align: left; width:7em; }
#advertising #filterSettings ul.options li .sliderWrap { text-align: right; padding: 0.25em 0 0 0;}
#advertising #filterSettings ul.options li .slider { font-size: 0.85em; width:29em;  display:inline-block; margin: 0 1em;}

#advertising #filterSettings ul.options li.noFilter .slider .ui-widget-header { background: none; }

#advertising .mapContent {clear:both; }
#advertising .mapContent .map{width:100%;height:40em;}
#advertising .mapContent .footer{background-color:#F6F6F0; padding:0.5em; font-family: Arial,Verdana,sans-serif; }
#advertising .mapContent .footer ul li { display: inline-block; width: 20%; }
#advertising .mapContent .footer ul li img { width: 1.5em; height: 1.5em; }
#advertising .mapContent .footer ul li span { font-size:1em; position:relative; top:-0.35em; }
#advertising .listWrapper { padding: 0 3em; } 

#advertising .description { color: #aaa; padding: 0.5em 3em; display:inline-block; }

#advertising .sort {position:relative; margin:1em 0 0.5em; }
#advertising .sort .name {  }
#advertising .sort .value {font-size:1em;display :inline-block; float:right; }
#advertising .sort .value #valueMenu {width:15em;  }


#advertising ul.results {border-top:#eee solid 1px; font-family: Arial,Verdana,sans-serif;  }
#advertising ul.results li {border-bottom:#eee solid 1px; padding:1em 0; }
#advertising ul.results li .name { font-size: 1.5em; font-weight:bold; }
#advertising ul.results li .name.noCommunity { color: #606060; }
#advertising ul.results li .name.noCommunity:hover { color: #606060; }
#advertising ul.results li .value { font-size: 1.5em; float:right; }

#advertising ul.results li ul.details li { border: none; font-size: 1.1em; padding: 0 0 0 3.5em; color: #aaa; }





.chzn-container {position:relative; z-index:9999999; }
.chzn-container .chzn-drop {position:absolute; background-color:#fff; border:1px solid #ccc; }
.chzn-container .chzn-drop .chzn-search { display: none; }
.chzn-container .chzn-drop .chzn-results .active-result {font-size:1.5em; padding:0.1em; color:#666; text-align:right; }
.chzn-container .chzn-drop .chzn-results .active-result.result-selected {background-color:#E6E6E6; }
.chzn-container .chzn-drop .chzn-results .active-result.highlighted {background-color:#FFD86A; }

#advertising .sort .value a { font-size: 1em;  }
#advertising .sort .value .chzn-container .chzn-drop { }
#advertising .sort .value .chzn-container .chzn-drop .chzn-results .active-result { font-size: 1em; }
#advertising .sort .value .chzn-container { display: inline-block; text-align:right; }

#advertising .pager { position:relative; text-align: right; margin:1em 0 0 0; }
#advertising .pager,
#advertising .pager span,
#advertising .pager a { font-size: 0.95em; }
#advertising .pager span { margin:0 1em 0 0; }
#advertising .pager a,
#advertising .pager ul,
#advertising .pager ul li {display:inline;  font-weight:bold; }
#advertising .pager li.current a,
#advertising .pager li.current a:hover { color: #606060; }

#advertising .noResults {margin:1em 3em; }


#advertising .signinWrapper { padding: 1em 1em 0 2.75em; }
#advertising .signinWrapper .signinToggle { font-size:1.5em;  }
#advertising .signinWrapper .signinToggle .viewing { float: right; }
#advertising .signinWrapper .signinPanel.form input[type="text"],
#advertising .signinWrapper .signinPanel.form input[type="password"] {width: 13em;}
#advertising .signinWrapper .signinPanel.form a.button { left: 2em; }



