
    
    
    
    
    
    
    
#dashboard .report .body .reportContainer .reportContent { width: 60%; padding: 1em; margin:  0 0 1em 0; }
#dashboard .report .body .reportContainer .reportSidebar { width: 37%; margin:  0 0 1em 0; }
    
    
    
    
    
    
    
    
    
    
    
    