@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<title>SizeUp - API Documentation</title>
<link href="@Url.Content("~/Content/views/developers/documentation.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />


<script type="text/javascript" src="@Url.Content("~/Scripts/prettify/run_prettify.js")?@SizeUp.Core.Web.CacheBuster.Buster"></script>
}

<div id="documentation">
    <h1>API Documetation</h1>

    <h2>Getting Started</h2>
    <p>First, request and API key (MAKE THIS A LINK) blah blah blah</p>

    <p>Include a refernece to the api loader script in your head tag of your page.</p>

    <h2>Basic Example</h2>
<pre class="prettyprint">&lt;html&gt;
    &lt;head&gt;
        &lt;script src="http://www.sizeup.com/api/jsapi/?callback=loaded&amp;apikey=YOUR_API_KEY_HERE"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
              
        &lt;p id="placeResults"&gt;&lt;/p&gt;

        &lt;p id="industryResults"&gt;&lt;/p&gt;

        &lt;script type="text/javascript"&gt;
            var loaded = function () {       
                sizeup.api.data.findPlace({ term: 'bost' }, function (data) {
                    var d = '';
                    for (var x = 0; x &lt; data.length; x++) {
                        d = d + data[x].City.Name + ',' + data[x].State.Abbreviation + '&lt;br/&gt;';
                    }
                    document.getElementById('placeResults').innerHTML = d;
                });

                sizeup.api.data.findIndustry({ term: 'pharm' }, function (data) {
                    var d = '';
                    for (var x = 0; x &lt; data.length; x++) {
                        d = d + data[x].Name + '&lt;br/&gt;';
                    }
                    document.getElementById('industryResults').innerHTML = d;
                });
            };
        &lt;/script&gt;  
    &lt;/body&gt;
&lt;/html&gt;
</pre>

    <h2>Granularity <a name="granularity"></a></h2>
    <p>
    sizeup.api.granularity is an enumeration object that provides static values for granularity parameters in the Data API. 
    Granularity parameters are used to specify receiving values on the City, County, Metro etc. level.
    </p>
    <p>All supported granularity parameters are:</p>
    <pre class="prettyprint">    sizeup.api.granularity.ZIP_CODE;
    sizeup.api.granularity.CITY;
    sizeup.api.granularity.COUNTY;
    sizeup.api.granularity.PLACE;
    sizeup.api.granularity.METRO;
    sizeup.api.granularity.STATE;
    sizeup.api.granularity.NATION;
    </pre>

    <h2>Range <a name="range"></a></h2>
    <p>
    sizeup.api.range is range parameter used for some Data API methods.
    </p>
    <pre class="prettyprint">    //creates a range object and sets the minimun bound to 1 and the maximum bound to 5
    var range = sizeup.api.range(1, 5);
    //changes the bounds to 10 and 50
    range.min(10);
    range.max(50);
    //gets the min and max values in the range object.
    range.min();
    range.max();

    </pre>


    <h2>Data API</h2>
    <p>The data API is exposed via the sizeup.api.data object. The data API has a number of methods to access different types of data available through the API.</p>
    <p>Each method has the same basic signature:</p>
    <pre class="prettyprint">        sizeup.api.data.findPlace({ term: 'san franc', maxResults: 10 }, 
            function(data){
                //your code to handle the returned data
            }, 
            function(){
                //your code on error
            });
    </pre>


    <h2>Data API Methods</h2>
    <dl>
        <dt>Place</dt>
        <dd><a href="#findPlace">findPlace</a></dd>
        <dd><a href="#getPlace">getPlace</a></dd>
        <dt>Industry</dt>
        <dd><a href="#findIndustry">findIndustry</a></dd>
        <dd><a href="#getIndustry">getIndustry</a></dd>
    </dl>


    <h1>Place</h1>
      <div class="method">
        <h2>
            sizeup.api.data.findPlace
            <a name="findPlace"></a>
        </h2>
        <p>Returns a list of places based on a search term.</p>
        <table class="params">
            <thead>
                <tr>
                    <td class="param">Parameter</td>
                    <td class="type">Type</td>
                    <td class="default">Default Value</td>
                    <td class="description">Description</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="param">
                        term
                    </td>
                    <td class="type">string</td>
                    <td class="default">
                        Required
                    </td>
                    <td class="description">
                        Search string for a place.
                    </td>
                </tr> 
                <tr>
                    <td class="param">
                        maxResults
                    </td>
                    <td class="type">number</td>
                    <td class="default">
                        35
                    </td>
                    <td class="description">
                        Maximum number of results to return.
                    </td>
                </tr> 
            </tbody>
        </table>
        <h3>Usage</h3>
<pre class="prettyprint">sizeup.api.data.findPlace( {
    term: "san fran"
} );
</pre>
        <h3>Results</h3>
<pre class="prettyprint">[
    {
        Id: 3051,
        DisplayName: "San Francisco, CA",
        City: {
            Id: 82478,
            Name: "San Francisco",
            SEOKey: "san-francisco-city",
            TypeName: "City",
            Counties: null,
            LongName: "San Francisco, CA",
            ShortName: "San Francisco"
        },
        County: {
            Id: 126178,
            Name: "San Francisco",
            SEOKey: "san-francisco",
            LongName: "San Francisco, CA",
            ShortName: "San Francisco"
        },
        Metro: {
            Id: 129845,
            Name: "San Francisco-Oakland-Fremont, CA",
            SEOKey: "san-francisco-oakland-fremont-ca",
            LongName: "San Francisco-Oakland-Fremont, CA",
            ShortName: "San Francisco-Oakland-Fremont, CA"
        },
        State: {
            Id: 130073,
            Name: "California",
            Abbreviation: "CA",
            SEOKey: "california",
            LongName: "California",
            ShortName: "CA"
        },
        Region: {
            Id: 130063,
            RegionName: "West",
            Name: "Pacific",
            LongName: null,
            ShortName: null
        },
        Nation: {
            Id: 130055,
            Name: "United States",
            LongName: "United States",
            ShortName: null
        },
        LongName: "San Francisco, CA",
        ShortName: "San Francisco, CA"
    },
    {
        Id: 19062,
        DisplayName: "San Francisco, MN",
        City: {
            Id: 117148,
            Name: "San Francisco",
            SEOKey: "san-francisco-township",
            TypeName: "Township",
            Counties: null,
            LongName: "San Francisco, MN",
            ShortName: "San Francisco"
        },
        County: {
            Id: 127277,
            Name: "Carver",
            SEOKey: "carver",
            LongName: "Carver, MN",
            ShortName: "Carver"
        },
        Metro: {
            Id: 129648,
            Name: "Minneapolis-St. Paul-Bloomington, MN-WI",
            SEOKey: "minneapolis-st-paul-bloomington-mn-wi",
            LongName: "Minneapolis-St. Paul-Bloomington, MN-WI",
            ShortName: "Minneapolis-St. Paul-Bloomington, MN-WI"
        },
        State: {
            Id: 130092,
            Name: "Minnesota",
            Abbreviation: "MN",
            SEOKey: "minnesota",
            LongName: "Minnesota",
            ShortName: "MN"
        },
        Region: {
            Id: 130059,
            RegionName: "Midwest",
            Name: "West North Central",
            LongName: null,
            ShortName: null
        },
        Nation: {
            Id: 130055,
            Name: "United States",
            LongName: "United States",
            ShortName: null
        },
        LongName: "San Francisco, MN",
        ShortName: "San Francisco, MN"
    }
]</pre>
       
    </div>
      <div class="method">
        <h2>
            sizeup.api.data.getPlace
            <a name="getPlace"></a>
        </h2>
        <p>Returns a single place based on a place id.</p>
        <table class="params">
            <thead>
                <tr>
                    <td class="param">Parameter</td>
                    <td class="type">Type</td>
                    <td class="default">Default Value</td>
                    <td class="description">Description</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="param">
                        id
                    </td>
                    <td class="type">number</td>
                    <td class="default">
                        Required
                    </td>
                    <td class="description">
                        Place Id for the place to return
                    </td>
                </tr> 
            </tbody>
        </table>
        <h3>Usage</h3>
<pre class="prettyprint">sizeup.api.data.getPlace( {
    id: 3051
} );
</pre>
        <h3>Results</h3>
<pre class="prettyprint">[
    {
        Id: 3051,
        DisplayName: "San Francisco, CA",
        City: {
            Id: 82478,
            Name: "San Francisco",
            SEOKey: "san-francisco-city",
            TypeName: "City",
            Counties: null,
            LongName: "San Francisco, CA",
            ShortName: "San Francisco"
        },
        County: {
            Id: 126178,
            Name: "San Francisco",
            SEOKey: "san-francisco",
            LongName: "San Francisco, CA",
            ShortName: "San Francisco"
        },
        Metro: {
            Id: 129845,
            Name: "San Francisco-Oakland-Fremont, CA",
            SEOKey: "san-francisco-oakland-fremont-ca",
            LongName: "San Francisco-Oakland-Fremont, CA",
            ShortName: "San Francisco-Oakland-Fremont, CA"
        },
        State: {
            Id: 130073,
            Name: "California",
            Abbreviation: "CA",
            SEOKey: "california",
            LongName: "California",
            ShortName: "CA"
        },
        Region: {
            Id: 130063,
            RegionName: "West",
            Name: "Pacific",
            LongName: null,
            ShortName: null
        },
        Nation: {
            Id: 130055,
            Name: "United States",
            LongName: "United States",
            ShortName: null
        },
        LongName: "San Francisco, CA",
        ShortName: "San Francisco, CA"
    }
]</pre>
       
    </div>
    <h1>Industry</h1>
      <div class="method">
        <h2>
            sizeup.api.data.findIndustry
            <a name="findIndustry"></a>
        </h2>
        <p>Returns a list of industries based on a search term.</p>
        <table class="params">
            <thead>
                <tr>
                    <td class="param">Parameter</td>
                    <td class="type">Type</td>
                    <td class="default">Default Value</td>
                    <td class="description">Description</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="param">
                        term
                    </td>
                    <td class="type">string</td>
                    <td class="default">
                        Required
                    </td>
                    <td class="description">
                        Search string for an industry.
                    </td>
                </tr> 
                <tr>
                    <td class="param">
                        maxResults
                    </td>
                    <td class="type">number</td>
                    <td class="default">
                        35
                    </td>
                    <td class="description">
                        Maximum number of results to return.
                    </td>
                </tr> 
            </tbody>
        </table>
        <h3>Usage</h3>
<pre class="prettyprint">sizeup.api.data.findIndustry( {
    term: "pharma"
} );
</pre>
        <h3>Results</h3>
<pre class="prettyprint">[
    {
        Id: 6836,
        Name: "Pharmaceutical Products (Wholesale)",
        SICCode: null,
        SEOKey: "pharmaceutical-products-wholesale",
        ParentName: null,
        NAICS4: null,
        NAICS6: null
    },
    {
        Id: 8589,
        Name: "Pharmacies",
        SICCode: null,
        SEOKey: "pharmacies",
        ParentName: null,
        NAICS4: null,
        NAICS6: null
    },
    {
        Id: 8591,
        Name: "Pharmaceutical Consultants",
        SICCode: null,
        SEOKey: "pharmaceutical-consultants",
        ParentName: null,
        NAICS4: null,
        NAICS6: null
    },
    {
        Id: 6836,
        Name: "Pharmaceuticals (Wholesale)",
        SICCode: null,
        SEOKey: "pharmaceutical-products-wholesale",
        ParentName: null,
        NAICS4: null,
        NAICS6: null
    },
    {
        Id: 6836,
        Name: "Pharmaceutical Products Wholesale - Manufacturers",
        SICCode: null,
        SEOKey: "pharmaceutical-products-wholesale",
        ParentName: null,
        NAICS4: null,
        NAICS6: null
    },
    {
        Id: 6836,
        Name: "Pharmacies (Wholesale)",
        SICCode: null,
        SEOKey: "pharmaceutical-products-wholesale",
        ParentName: null,
        NAICS4: null,
        NAICS6: null
    },
    {
        Id: 8589,
        Name: "Pharmacies - Specialty",
        SICCode: null,
        SEOKey: "pharmacies",
        ParentName: null,
        NAICS4: null,
        NAICS6: null
    },
    {
        Id: 6836,
        Name: "Pharmaceutical Supplies (Wholesale)",
        SICCode: null,
        SEOKey: "pharmaceutical-products-wholesale",
        ParentName: null,
        NAICS4: null,
        NAICS6: null
    },
    {
        Id: 8589,
        Name: "Homeopathic Pharmacies",
        SICCode: null,
        SEOKey: "pharmacies",
        ParentName: null,
        NAICS4: null,
        NAICS6: null
    },
    {
        Id: 8589,
        Name: "Pharmacists - Temporary Help",
        SICCode: null,
        SEOKey: "pharmacies",
        ParentName: null,
        NAICS4: null,
        NAICS6: null
    }
]</pre>
       
    </div>
      <div class="method">
        <h2>
            sizeup.api.data.getIndustry
            <a name="getIndustry"></a>
        </h2>
        <p>Returns a single industry based on an industry id.</p>
        <table class="params">
            <thead>
                <tr>
                    <td class="param">Parameter</td>
                    <td class="type">Type</td>
                    <td class="default">Default Value</td>
                    <td class="description">Description</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="param">
                        id
                    </td>
                    <td class="type">number or Array<number></number></td>
                    <td class="default">
                        Required
                    </td>
                    <td class="description">
                        IndustryId or an array of industryIds for the industries requested.
                    </td>
                </tr> 
            </tbody>
        </table>
        <h3>Usage</h3>
<pre class="prettyprint">sizeup.api.data.getIndustry( {
    id: 8589
} );
</pre>
        <h3>Results</h3>
<pre class="prettyprint">[
    {
        Id: 8589,
        Name: "Pharmacies",
        SICCode: "591205",
        SEOKey: "pharmacies",
        ParentName: "Drug Stores &amp; Proprietary Stores",
        NAICS4: {
            Id: 179,
            NAICSCode: "4461",
            Name: "Health and Personal Care Stores"
        },
        NAICS6: {
            Id: 1386,
            NAICSCode: "446110",
            Name: "Pharmacies and Drug Stores"
        }
    }
]</pre>
       
    </div>
</div>