@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<title>SizeUp - Developer Resources</title>
<link href="@Url.Content("~/Content/views/developers/index.css")" rel="stylesheet" type="text/css" />
}

<div id="developers">

</div>