#competition .tabs { width: 100%; }
#competition .mapControls.container { top:0; width: 100%; border-top:1px dashed #ccc; padding:0; height:auto; background-color:#F5F5F5;}
#competition .mapControls.container .filterMessage { width: 50%; display: inline-block; }
#competition .mapControls.container .mapFilter.container ul li { padding: 0.1em; }
#competition .mapControls.container .consumerExpenditures.container .menu { background-image: none; border-radius:0; }

#competition .mapWrapper.container { width: 100%; margin:0; }
#competition .mapWrapper.container .map { width: 100%; height:33em;}
#competition .list.container { width: 100%; }
#competition .businessList { width: 100%; border: none; }
#competition .industryList { float: right; margin: 0.5em 0 0 0.5em; }
#competition .industryPicker.container .title { width: 40%; }
#competition .industryPicker input { width: 40%; }


#competition .tabs:after { border-radius: 0; width:100%; border-left:none; left:0; border-right:none; }
#competition .tabs li { left: 2.2em; }


