#bestPlaces .filters ul.options li .sliderWrap .slider { width: 47%; }
#bestPlaces .filters ul.options li { width: 49%; }
@media screen and (max-width:600px)
{
    #bestPlaces .filters ul.options li { width: 100%; }
}
#bestPlaces h2 #selectList-regionMenu .selectList-list { width:22em; }
#bestPlaces h2 .ui-autocomplete { width: auto !important; }

#contentWrap {overflow:auto; overflow-x:auto; overflow-y:auto; padding:0 2em;}
