@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>SizeUp - Business Intelligence for All</title>
<link href="@Url.Content("~/Content/views/help/contact.css")" rel="stylesheet" type="text/css" />
}

@Html.Raw(ViewBag.Content)