@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
      <title>API for Partners | SizeUp – Best Small Business Intelligence Tool</title>
    <meta name="keywords" content="enterprise, partners, big data, api, small businesses" />
    <meta name="description" content="SizeUp licenses its API to enterprises that want to dramatically increase customer engagement & interact with their customers in genuine & impactful ways." />

    <link href="@Url.Content("~/Content/views/help/contact.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
}
@Html.Raw(ViewBag.Content)