@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <title>Enterprise Partners</title>
    <meta name="title" content="Enterprise Partners" />
    <meta name="keywords" content="enterprise, partners, big data, api, small businesses" />
    <meta name="description" content="SizeUp licenses its API to enterprises that want to dramatically increase customer engagement and interact with their customers in a genuine and impactful way." />

    <link href="@Url.Content("~/Content/views/help/contact.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
}
@Html.Raw(ViewBag.Content)