@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>FAQs | SizeUp – Best Small Business Intelligence Tool</title>
<meta name="keywords" content="faq, frequently asked questions, help" />
<meta name="description" content="What does SizeUp do &amp; whom is it meant to help? Where does the data come from? What industries are included? How local is the information?" />

<link href="@Url.Content("~/Content/views/help/faq.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
}

@Html.Raw(ViewBag.Content)

 