@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>FAQs</title>
<link href="@Url.Content("~/Content/views/help/faq.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
}

@Html.Raw(ViewBag.Content)

 