@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>FAQs</title>
<meta name="title" content="SizeUp FAQs" />
<meta name="keywords" content="faq, frequently asked questions, help" />
<meta name="description" content="What does SizeUp do and who is it meant to help? Where does the data come from? What industries are included? How local is the information? What do the graphs mean?" />

<link href="@Url.Content("~/Content/views/help/faq.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
}

@Html.Raw(ViewBag.Content)

 