@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<title>How It Works</title>
<meta name="title" content="How SizeUp Works" />
<meta name="keywords" content="tutorial, demo, how it works, help, instructions, directions" />
<meta name="description" content="Learn how SizeUp’s three core features can help your business grow by benchmarking your performance against all competitors in your industry, mapping your competitors, customers, and suppliers, and identifying the best places to advertise." />
<link href="@Url.Content("~/Content/views/help/howitworks.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
}

@Html.Raw(ViewBag.Content)