@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<title>How It Works | SizeUp - Best Small Business Intelligence Tool</title> 
<meta name="keywords" content="tutorial, demo, how it works, help, instructions, directions" />
<meta name="description" content="Learn how SizeUp's core features can help you grow your business; benchmark your performance, map your competitors & find the best places to advertise." />
<link href="@Url.Content("~/Content/views/help/howitworks.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
}

@Html.Raw(ViewBag.Content)