@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{

    <script src="http://test.com/scripts/jsapi/data.js"></script>

}




<p id="city"></p>
<p id="metro"></p>










<script type="text/javascript">

    var data = new sizeup.api.data();
    var city = function (data) {
        document.getElementById('city').innerHTML = data.Name + ' ' + data.Value;
    };
    var metro = function (data) {
        document.getElementById('metro').innerHTML = data.Name + ' ' + data.Value;
    };


    data.get('http://sizeup.localhost/api/averageRevenue/chart/?industryId=849&placeId=3051&granularity=City', city);
    data.get('http://sizeup.localhost/api/averageRevenue/chart/?industryId=849&placeId=3051&granularity=Metro', metro);
</script>
