@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{

    <script src="http://www.test.com/scripts/jsapi/loader.js?callback=loaded&apikey=6388E63C-3D44-472B-A424-712395B1AD51"></script>

}




<p id="city"></p>
<p id="metro"></p>










<script type="text/javascript">
    var loaded = function () {
        
        sizeup.api.data.findPlace({ term: 'bost' }, function (data) {
            var d = '';
            for (var x in data) {
                d = d + data[x].City.Name + '<br/>';
            }
            document.getElementById('city').innerHTML = d;
        });


    }
   



</script>
