@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{

    <script src="http://api.beta.sizeup.com/js/?callback=apiLoaded&apikey=6388E63C-3D44-472B-A424-712395B1AD51"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/mustache.js")"></script>

}

<script type="text/template" id="template">
    <h1>API Documetation</h1>

    <h2>Getting Started</h2>
    <p>First, request and API key (MAKE THIS A LINK) blah blah blah</p>

    <p>Include a refernece to the api loader script in your head tag of your page.</p>

    <h2>Basic Example</h2>
<pre class="prettyprint">
&lt;html&gt;
    &lt;head&gt;
        &lt;script src="http://www.sizeup.com/api/jsapi/?callback=loaded&apikey=YOUR_API_KEY_HERE"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
              
        &lt;p id="placeResults"&gt;&lt;/p&gt;

        &lt;p id="industryResults"&gt;&lt;/p&gt;

        &lt;script type="text/javascript"&gt;
            var loaded = function () {       
                sizeup.api.data.findPlace({ term: 'bost' }, function (data) {
                    var d = '';
                    for (var x = 0; x &lt; data.length; x++) {
                        d = d + data[x].City.Name + ',' + data[x].State.Abbreviation + '&lt;br/&gt;';
                    }
                    document.getElementById('placeResults').innerHTML = d;
                });

                sizeup.api.data.findIndustry({ term: 'pharm' }, function (data) {
                    var d = '';
                    for (var x = 0; x &lt; data.length; x++) {
                        d = d + data[x].Name + '&lt;br/&gt;';
                    }
                    document.getElementById('industryResults').innerHTML = d;
                });
            };
        &lt;/script&gt;  
    &lt;/body&gt;
&lt;/html&gt;
</pre>

    <h2>Granularity <a name="granularity"></a></h2>
    <p>
    sizeup.api.granularity is an enumeration object that provides static values for granularity parameters in the Data API. 
    Granularity parameters are used to specify receiving values on the City, County, Metro etc. level.
    </p>
    <p>All supported granularity parameters are:</p>
    <pre class="prettyprint">
    sizeup.api.granularity.ZIP_CODE;
    sizeup.api.granularity.CITY;
    sizeup.api.granularity.COUNTY;
    sizeup.api.granularity.PLACE;
    sizeup.api.granularity.METRO;
    sizeup.api.granularity.STATE;
    sizeup.api.granularity.NATION;
    </pre>

    <h2>Range <a name="range"></a></h2>
    <p>
    sizeup.api.range is range parameter used for some Data API methods.
    </p>
    <pre class="prettyprint">
    //creates a range object and sets the minimun bound to 1 and the maximum bound to 5
    var range = sizeup.api.range(1, 5);
    //changes the bounds to 10 and 50
    range.min(10);
    range.max(50);
    //gets the min and max values in the range object.
    range.min();
    range.max();

    </pre>


    <h2>Data API</h2>
    <p>The data API is exposed via the sizeup.api.data object. The data API has a number of methods to access different types of data available through the API.</p>
    <p>Each method has the same basic signature:</p>
    <pre class="prettyprint">
        sizeup.api.data.findPlace({ term: 'san franc', maxResults: 10 }, 
            function(data){
                //your code to handle the returned data
            }, 
            function(){
                //your code on error
            });
    </pre>


    <h2>Data API Methods</h2>
    <dl>
        {{#sections}}
        <dt>{{label}}</dt>
        {{#items}}
        <dd><a href="#{{functionName}}">{{functionName}}</a></dd>
        {{/items}}
        {{/sections}}           
    </dl>


    {{#sections}}
    <h1>{{label}}</h1>
     {{#items}}
      <div class="method">
        <h2>
            sizeup.api.data.{{functionName}}
            <a name="{{functionName}}"></a>
        </h2>
        <p>{{description}}</p>
        <table class="params">
            <thead>
                <tr>
                    <td class="param">Parameter</td>
                    <td class="type">Type</td>
                    <td class="default">Default Value</td>
                    <td class="description">Description</td>
                </tr>
            </thead>
            <tbody>
                {{#params}}
                <tr>
                    <td class="param">
                        {{name}}
                    </td>
                    <td class="type">{{&type}}</td>
                    <td class="default">
                        {{defaultValue}}
                    </td>
                    <td class="description">
                        {{&description}}
                        {{#supportedOptions}}
                        <br/></br>
                        <strong>Supported Options:</strong>
                        <ul>
                        {{#options}}<li>{{value}}</li>{{/options}}
                        </ul>
                        {{/supportedOptions}}
                    </td>
                </tr> 
                {{/params}}              
            </tbody>
        </table>
        <h3>Usage</h3>
<pre class="prettyprint">
sizeup.api.data.{{functionName}}( {{exampleParamsOutput}} );
</pre>
        <h3>Results</h3>
<pre class="prettyprint">{{results}}</pre>
       
    </div>
    {{/items}}
    {{/sections}}
</script>

<div id="documentation">

</div>

<script type="text/javascript">
    
   
    var template = $('#template').html();
    var jqueryLoaded = false;
    var api = false;
    var runScript = null;

    var formatOutputParams = function (p) {
        var formatters = [
            { pat: /"ZipCode"/g, replacer: 'sizeup.api.granularity.ZIP_CODE' },
            { pat: /"City"/g, replacer: 'sizeup.api.granularity.CITY' },
            { pat: /"County"/g, replacer: 'sizeup.api.granularity.COUNTY' },
            { pat: /"Place"/g, replacer: 'sizeup.api.granularity.PLACE' },
            { pat: /"Metro"/g, replacer: 'sizeup.api.granularity.METRO' },
            { pat: /"State"/g, replacer: 'sizeup.api.granularity.STATE' },
            { pat: /"Nation"/g, replacer: 'sizeup.api.granularity.NATION' },
            { pat: /"new sizeup.api.range(.*)"/g, replacer: 'sizeup.api.range$1' }

        ];
        for (var x = 0; x < formatters.length; x++) {
           p = p.replace(formatters[x].pat, formatters[x].replacer);
        }       
        return p;
    };



    var getResults = function (item, callback) {
        var p = $.extend(true, {}, item.exampleParams);
        sizeup.api.data[item.functionName](p, function (d) {
            item.results = JSON.stringify(d, null, 4).replace(/"(\w+)"\s*:/g, '$1:');
            item.isComplete = true;
            item.exampleParamsOutput = formatOutputParams(JSON.stringify(item.exampleParams, null, 4)).replace(/"(\w+)"\s*:/g, '$1:');
            callback();
        });
    };

    var checkComplete = function(){
        var complete = true;
        for (var section in runScript) {
            for (var item in runScript[section].items) {
                complete = complete && runScript[section].items[item].isComplete == true;
            }
        }
        return complete;
    };


    var loaded = function () {
        if (jqueryLoaded && api) {
            for (var section in runScript) {
                for (var item in runScript[section].items) {
                    getResults(runScript[section].items[item], function () {
                        if (checkComplete()) {
                            document.getElementById("documentation").innerHTML = Mustache.to_html(template, { sections: runScript });
                        }
                    });
                }
            }
        }
    };


    var apiLoaded = function () {
        api = true;
        runScript = createRunScript();
        loaded();
    };

    $(document).ready(function () {
        jqueryLoaded = true;
        loaded();
    });





    var createRunScript = function ()
    {
        var s = [
                    {
                    label: 'Place',
                    items: [
                        {
                            functionName: 'findPlace',
                            description: 'Returns a list of places based on a search term.',
                            params: [
                                {
                                    name: 'term',
                                    type: 'string',
                                    defaultValue: 'Required',
                                    description: 'Search string for a place.'

                                },
                                {
                                    name: 'maxResults',
                                    type: 'number',
                                    defaultValue: '35',
                                    description: 'Maximum number of results to return.'
                                }
                            ],
                            exampleParams: { term: 'san fran' }
                        },
                        {
                            functionName: 'getPlace',
                            description: 'Returns a single place based on a place id.',
                            params: [
                                {
                                    name: 'id',
                                    type: 'number',
                                    defaultValue: 'Required',
                                    description: 'Place Id for the place to return'

                                }
                            ],
                            exampleParams: { id: 3051 }
                        }
                    ]
                },
                {
                    label: 'Industry',
                    items: [
                        {
                            functionName: 'findIndustry',
                            description: 'Returns a list of industries based on a search term.',
                            params: [
                                {
                                    name: 'term',
                                    type: 'string',
                                    defaultValue: 'Required',
                                    description: 'Search string for an industry.'

                                },
                                {
                                    name: 'maxResults',
                                    type: 'number',
                                    defaultValue: '35',
                                    description: 'Maximum number of results to return.'
                                }
                            ],
                            exampleParams: { term: 'pharma' }
                        },
                        {
                            functionName: 'getIndustry',
                            description: 'Returns a single industry based on an industry id.',
                            params: [
                                {
                                    name: 'id',
                                    type: 'number or Array<number>',
                                    defaultValue: 'Required',
                                    description: 'IndustryId or an array of industryIds for the industries requested.'

                                }
                            ],
                            exampleParams: { id: 8589 }
                        }
                    ]
                }

            /*,
    {
        functionName: 'getAverageRevenue',
        description: 'Returns the average revenue in the industry for the level of granularity of a place.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{ value: 'sizeup.api.granularity.CITY' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY }
    },
    {
        functionName: 'getAverageRevenuePercentile',
        description: 'Returns the percentile in the industry for the level of granularity of a place based on a supplied value.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{ value: 'sizeup.api.granularity.CITY' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            },
            {
                name: 'value',
                type: 'number',
                defaultValue: 'Required',
                description: 'Revenue used to calculate the percentile.'
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY, value: 3200000 }
    },
    {
        functionName: 'getAverageRevenueBands',
        description: 'Returns the quantile ranges for average revenue in an industry for the level of granularity of a place, bounded by a level of granularity.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [ {value:'sizeup.api,granularity.ZIP_CODE'}, { value: 'sizeup.api.granularity.COUNTY' },  { value: 'sizeup.api.granularity.STATE' }] }
            },
            {
                name: 'boundingGranularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'sizeup.api.granularity.NATION',
                description: 'Granularity level to restrict the calculation of the quantile.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            },
            {
                name: 'bands',
                type: 'number',
                defaultValue: 'Required',
                description: 'Number of bands to calculate.'
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY, boundingGranularity: sizeup.api.granularity.STATE, bands: 7 }
        
    },
    {
        functionName: 'getAverageEmployees',
        description: 'Returns the average employees in the industry for the level of granularity of a place.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{ value: 'sizeup.api.granularity.CITY' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY }
    },
    {
        functionName: 'getAverageEmployeesPercentile',
        description: 'Returns the percentile in the industry for the level of granularity of a place based on a supplied value.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{ value: 'sizeup.api.granularity.CITY' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            },
            {
                name: 'value',
                type: 'number',
                defaultValue: 'Required',
                description: 'Number of employees used to calculate the percentile.'
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY, value: 5 }
    },
    {
        functionName: 'getAverageEmployeesBands',
        description: 'Returns the quantile ranges for average revenue in an industry for the level of granularity of a place, bounded by a level of granularity.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{ value: 'sizeup.api.granularity.ZIP_CODE' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.STATE' }] }
            },
            {
                name: 'boundingGranularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'sizeup.api.granularity.NATION',
                description: 'Granularity level to restrict the calculation of the quantile.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            },
            {
                name: 'bands',
                type: 'number',
                defaultValue: 'Required',
                description: 'Number of bands to calculate.'
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY, boundingGranularity: sizeup.api.granularity.METRO, bands: 7 }
    },
    {
        functionName: 'getAverageSalary',
        description: 'Returns the average salary in the industry for the level of granularity of a place.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY }
    },
    {
        functionName: 'getAverageSalaryPercentage',
        description: 'Returns the percentage in the industry for the level of granularity of a place based on a supplied value.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            },
            {
                name: 'value',
                type: 'number',
                defaultValue: 'Required',
                description: 'Salary used to calculate the percentile.'
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY, value: 38000 }
    },
    {
        functionName: 'getAverageSalaryBands',
        description: 'Returns the quantile ranges for average revenue in an industry for the level of granularity of a place, bounded by a level of granularity.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' },  { value: 'sizeup.api.granularity.STATE' } ] }
            },
            {
                name: 'boundingGranularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'sizeup.api.granularity.NATION',
                description: 'Granularity level to restrict the calculation of the quantile.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            },
            {
                name: 'bands',
                type: 'number',
                defaultValue: 'Required',
                description: 'Number of bands to calculate.'
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY, boundingGranularity: sizeup.api.granularity.METRO, bands: 7 }
    },

    {
        functionName: 'getCostEffectiveness',
        description: 'Returns the cost effectiveness in the industry for the level of granularity of a place.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY }
    },
    {
        functionName: 'getCostEffectivenessPercentage',
        description: 'Returns the percentage in the industry for the level of granularity of a place based on a supplied value.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            },
            {
                name: 'salary',
                type: 'number',
                defaultValue: 'Required',
                description: 'Salary used to calculate the percentage.'
            },
            {
                name: 'employees',
                type: 'number',
                defaultValue: 'Required',
                description: 'Employees used to calculate the percentage.'
            },
            {
                name: 'revenue',
                type: 'number',
                defaultValue: 'Required',
                description: 'Revenue used to calculate the percentage.'
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY, employees: 24, salary: 45000, revenue: 3500000 }
    },
    {
        functionName: 'getCostEffectivenessBands',
        description: 'Returns the quantile ranges for cost effectiveness in an industry for the level of granularity of a place, bounded by a level of granularity.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' },  { value: 'sizeup.api.granularity.STATE' } ] }
            },
            {
                name: 'boundingGranularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'sizeup.api.granularity.NATION',
                description: 'Granularity level to restrict the calculation of the quantile.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            },
            {
                name: 'bands',
                type: 'number',
                defaultValue: 'Required',
                description: 'Number of bands to calculate.'
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY, boundingGranularity: sizeup.api.granularity.METRO, bands: 7 }
    },

    {
        functionName: 'getEmployeesPerCapita',
        description: 'Returns the employees per capita in the industry for the level of granularity of a place.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{ value: 'sizeup.api.granularity.CITY' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY }
    },
    {
        functionName: 'getEmployeesPerCapitaPercentile',
        description: 'Returns the percentile in the industry for the level of granularity of a place based on a supplied value.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{ value: 'sizeup.api.granularity.CITY' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.STATE}
    },
    {
        functionName: 'getEmployeesPerCapitaBands',
        description: 'Returns the quantile ranges for employees per capita in an industry for the level of granularity of a place, bounded by a level of granularity.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [ {value: 'sizeup.api.granularity.ZIP_CODE' },{ value: 'sizeup.api.granularity.COUNTY' },  { value: 'sizeup.api.granularity.STATE' }] }
            },
            {
                name: 'boundingGranularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'sizeup.api.granularity.NATION',
                description: 'Granularity level to restrict the calculation of the quantile.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            },
            {
                name: 'bands',
                type: 'number',
                defaultValue: 'Required',
                description: 'Number of bands to calculate.'
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY, boundingGranularity: sizeup.api.granularity.STATE, bands: 7 }
    },

     {
         functionName: 'getHealthcareCost',
         description: 'Returns the healthcare cost in the industry for the level of granularity of a place.',
         params: [
             {
                 name: 'industryId',
                 type: 'number',
                 defaultValue: 'Required',
                 description: 'Id of the industry.'
             },
             {
                 name: 'placeId',
                 type: 'number',
                 defaultValue: 'Required',
                 description: 'Id of the place.'
             },
             {
                 name: 'granularity',
                 type: '<a href="#granularity">sizeup.api.granularity</a>',
                 defaultValue: 'sizeup.api.granularity.STATE',
                 description: 'Granularity level of the placeId.',
                 supportedOptions: { options: [ { value: 'sizeup.api.granularity.STATE' }] }
             },
             {
                 name: 'employees',
                 type: 'number',
                 defaultValue: 'null',
                 description: 'Optional parameter used to return a more accurate healthcare cost based on number of employees in a business.'
             }

         ],
         exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.STATE }
     },
     {
         functionName: 'getHealthcareCostPercentage',
         description: 'Returns the percentage in the industry for the level of granularity of a place based on a supplied value.',
         params: [
             {
                 name: 'industryId',
                 type: 'number',
                 defaultValue: 'Required',
                 description: 'Id of the industry.'
             },
             {
                 name: 'placeId',
                 type: 'number',
                 defaultValue: 'Required',
                 description: 'Id of the place.'
             },
             {
                 name: 'granularity',
                 type: '<a href="#granularity">sizeup.api.granularity</a>',
                 defaultValue: 'sizeup.api.granularity.STATE',
                 description: 'Granularity level of the placeId.',
                 supportedOptions: { options: [ { value: 'sizeup.api.granularity.STATE' }] }
             },
             {
                 name: 'value',
                 type: 'number',
                 defaultValue: 'Required',
                 description: 'Healthcare cost used to calculate the percentage.'
             }
         ],
         exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.STATE, value: 4320  }
     },

     {
         functionName: 'getJobChange',
         description: 'Returns the job change in the industry for the level of granularity of a place.',
         params: [
             {
                 name: 'industryId',
                 type: 'number',
                 defaultValue: 'Required',
                 description: 'Id of the industry.'
             },
             {
                 name: 'placeId',
                 type: 'number',
                 defaultValue: 'Required',
                 description: 'Id of the place.'
             },
             {
                 name: 'granularity',
                 type: '<a href="#granularity">sizeup.api.granularity</a>',
                 defaultValue: 'Required',
                 description: 'Granularity level of the placeId.',
                 supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
             }
         ],
         exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY }
     },
    {
        functionName: 'getJobChangePercentile',
        description: 'Returns the percentile in the industry for the level of granularity of a place based on a supplied value.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.STATE }
    },

    {
        functionName: 'getRevenuePerCapita',
        description: 'Returns the revenue per capita in the industry for the level of granularity of a place.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{value: 'sizeup.api.granularity.ZIP_CODE'}, { value: 'sizeup.api.granularity.CITY' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY }
    },
    {
        functionName: 'getRevenuePerCapitaPercentile',
        description: 'Returns the percentile in the industry for the level of granularity of a place based on a supplied value.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{value: 'sizeup.api.granularity.ZIP_CODE'}, { value: 'sizeup.api.granularity.CITY' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY }
    },
    {
        functionName: 'getRevenuePerCapitaBands',
        description: 'Returns the quantile ranges for average revenue in an industry for the level of granularity of a place, bounded by a level of granularity.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{value: 'sizeup.api.granularity.ZIP_CODE'}, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.STATE' }] }
            },
            {
                name: 'boundingGranularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'sizeup.api.granularity.NATION',
                description: 'Granularity level to restrict the calculation of the quantile.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            },
            {
                name: 'bands',
                type: 'number',
                defaultValue: 'Required',
                description: 'Number of bands to calculate.'
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY, boundingGranularity: sizeup.api.granularity.STATE, bands: 7 }
    },


    {
        functionName: 'getTotalEmployees',
        description: 'Returns the total employees in the industry for the level of granularity of a place.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.CITY' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY }
    },
    {
        functionName: 'getTotalEmployeesBands',
        description: 'Returns the quantile ranges for average revenue in an industry for the level of granularity of a place, bounded by a level of granularity.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{ value: 'sizeup.api.granularity.ZIP_CODE' }, { value: 'sizeup.api.granularity.COUNTY' },  { value: 'sizeup.api.granularity.STATE' }] }
            },
            {
                name: 'boundingGranularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'sizeup.api.granularity.NATION',
                description: 'Granularity level to restrict the calculation of the quantile.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            },
            {
                name: 'bands',
                type: 'number',
                defaultValue: 'Required',
                description: 'Number of bands to calculate.'
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY, boundingGranularity: sizeup.api.granularity.STATE, bands: 7 }
    },

    {
        functionName: 'getTotalRevenue',
        description: 'Returns the total revenue in the industry for the level of granularity of a place.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.CITY' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY }
    },
    {
        functionName: 'getTotalRevenueBands',
        description: 'Returns the quantile ranges for total revenue in an industry for the level of granularity of a place, bounded by a level of granularity.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{ value: 'sizeup.api.granularity.ZIP_CODE' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.STATE' }] }
            },
            {
                name: 'boundingGranularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'sizeup.api.granularity.NATION',
                description: 'Granularity level to restrict the calculation of the quantile.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            },
            {
                name: 'bands',
                type: 'number',
                defaultValue: 'Required',
                description: 'Number of bands to calculate.'
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY, boundingGranularity: sizeup.api.granularity.STATE, bands: 7 }
    },


    {
        functionName: 'getTurnover',
        description: 'Returns the turnover in the industry for the level of granularity of a place.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY }
    },
    {
        functionName: 'getTurnoverPercentile',
        description: 'Returns the percentile in the industry for the level of granularity of a place based on a supplied value.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{ value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.STATE }
    },


    {
        functionName: 'getWorkersComp',
        description: 'Returns the workers compensation in the industry for the level of granularity of a place.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'sizeup.api.granularity.STATE',
                description: 'Granularity level of the placeId. ',
                supportedOptions: { options: [{ value: 'sizeup.api.granularity.STATE' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.STATE }
    },
    {
        functionName: 'getWorkersCompPercentage',
        description: 'Returns the percentage in the industry for the level of granularity of a place based on a supplied value.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'sizeup.api.granularity.STATE',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{ value: 'sizeup.api.granularity.STATE' }] }
            },
            {
                name: 'value',
                type: 'number',
                defaultValue: 'Required',
                description: 'Workers compensation rate to calculate percentile.'
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.STATE, value:3.14 }
    },

    {
        functionName: 'getYearStarted',
        description: 'Returns the turnover in the industry for the level of granularity of a place.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'startYear',
                type: 'number',
                defaultValue: 'Required',
                description: 'Year to start counting.'
            },
            {
                name: 'endYear',
                type: 'number',
                defaultValue: 'Required',
                description: 'Last year to return counts.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [ { value: 'sizeup.api.granularity.CITY' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY, startYear: 1986, endYear:2010 }
    },
    {
        functionName: 'getYearStartedPercentile',
        description: 'Returns the percentile in the industry for the level of granularity of a place based on a supplied value.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'placeId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the place.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the placeId.',
                supportedOptions: { options: [{ value: 'sizeup.api.granularity.CITY' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }, { value: 'sizeup.api.granularity.NATION' }] }
            },
            {
                name: 'value',
                type: 'number',
                defaultValue: 'Required',
                description: 'Year to calculate percentile.'
            }
        ],
        exampleParams: { placeId: 3051, industryId: 8589, granularity: sizeup.api.granularity.COUNTY, value: 1998 }
    },
    {
        functionName: 'getBestPlaces',
        description: 'Returns a list of places based on a supplied granularity level, sorted by a given attribute that meets supplied filters.',
        params: [
            {
                name: 'industryId',
                type: 'number',
                defaultValue: 'Required',
                description: 'Id of the industry.'
            },
            {
                name: 'granularity',
                type: '<a href="#granularity">sizeup.api.granularity</a>',
                defaultValue: 'Required',
                description: 'Granularity level of the returned results.',
                supportedOptions: { options: [{ value: 'sizeup.api.granularity.CITY' }, { value: 'sizeup.api.granularity.COUNTY' }, { value: 'sizeup.api.granularity.METRO' }, { value: 'sizeup.api.granularity.STATE' }] }
            },
            {
                name: 'itemCount',
                type: 'number',
                defaultValue: 'Required',
                description: 'Number of results to return.'
            },
            {
                name: 'regionId',
                type: 'number',
                defaultValue: 'null',
                description: 'Id of the region to restrict the results.'
            },
            {
                name: 'stateId',
                type: 'number',
                defaultValue: 'null',
                description: 'Id of the state to restrict the results.'
            },
            {
                name: 'averageRevenue',
                type: '<a href="#range">sizeup.api.range</a>',
                defaultValue: 'null',
                description: 'Range filter for average revenue. '
            },
            {
                name: 'totalRevenue',
                type: '<a href="#range">sizeup.api.range</a>',
                defaultValue: 'null',
                description: 'Range filter for total revenue.'
            },
            {
                name: 'totalEmployees',
                type: '<a href="#range">sizeup.api.range</a>',
                defaultValue: 'null',
                description: 'Range filter for total employees.'
            },
            {
                name: 'revenuePerCapita',
                type: '<a href="#range">sizeup.api.range</a>',
                defaultValue: 'null',
                description: 'Range filter for revenue per capita.'
            },
            {
                name: 'householdIncome',
                type: '<a href="#range">sizeup.api.range</a>',
                defaultValue: 'null',
                description: 'Range filter for household income.'
            },
            {
                name: 'householdExpenditures',
                type: '<a href="#range">sizeup.api.range</a>',
                defaultValue: 'null',
                description: 'Range filter for household expenditures.'
            },
            {
                name: 'medianAge',
                type: '<a href="#range">sizeup.api.range</a>',
                defaultValue: 'null',
                description: 'Range filter for median age.'
            },








f.BachelorOrHigher = QueryString.IntValue("bachelorsDegreeOrHigher");
f.HighSchoolOrHigher = QueryString.IntValue("highSchoolOrHigher");
f.WhiteCollarWorkers = QueryString.IntValue("whiteCollarWorkers");
f.BlueCollarWorkers = QueryString.IntValue("blueCollarWorkers");
f.AirportsNearby = QueryString.IntValue("airportsNearby");
f.YoungEducated = QueryString.IntValue("youngEducated");
f.UniversitiesNearby = QueryString.IntValue("universitiesNearby");
f.CommuteTime = QueryString.IntValue("commuteTime");
f.Attribute = QueryString.StringValue("attribute");





        ],
        exampleParams: { industryId: 8589, granularity: sizeup.api.granularity.COUNTY, itemCount: 3, averageRevenue: new sizeup.api.range(100000, 10000000) }
    }*/
        ];


        return s;
    };
</script>
