@{
    ViewBag.Title = "Best Places";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Best Places</h2>



@section head{
   
}

<div style="width:100%;">
    <div id="container" style="margin:0 auto; width:1000px" >
        <span><a href="http://www.sizeup.com" target="_blank">SizeUp</a></span>
        <script type="text/javascript" src="http://@ViewData["url"]/widget/get/bestPlaces?industry=pharmacies"></script>
    </div>
</div>

