@{
    ViewBag.Title = "Best Places";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Best Places</h2>



@section head{
   
}

<div style="width:100%;">


    <!--
    <div id="container" style="margin:0 auto; width:1000px" >
        <span><a href="http://www.sizeup.com" target="_blank">SizeUp</a></span>
        <script type="text/javascript" src="http://@ViewData["url"]/widget/get/bestPlaces/#attribute=averageRevenue&industry=pharmacies&placeType=city&regionId=4&totalRevenue=1000000&totalRevenue=null"></script>
    </div>-->


    <div id="container" style="margin:0 auto; width:1000px" ><span><a href="http://sizeup.localhost" target="_blank">SizeUp</a></span><script type="text/javascript" src="http://sizeup.localhost/widget/get/bestPlaces/#attribute=averageRevenue&industry=pharmacies&placeType=city&regionId=130064&totalRevenue=1000000&totalRevenue=null"></script></div>
</div>

