@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BusinessUSA</h2>




<div>
<span><a href="http://www.sizeup.com" target="_blank">SizeUp</a></span>
<script type="text/javascript" src="http://@ViewData["url"]/widget/get?key=B6F3DC18-86B9-4177-BC5F-2C77F0642F94"></script>
</div>