@{
    ViewBag.Title = "HighContrast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HighContrast</h2>




<div>
<span><a href="http://www.sizeup.com" target="_blank">SizeUp</a></span>
<script type="text/javascript" src="http://@ViewData["url"]:10000/widget/get?key=6388E63C-3D44-472B-A424-712395B1AD51&theme=highcontrast"></script>
</div>

