@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>




<div>
<span><a href="http://www.sizeup.com" target="_blank">SizeUp</a></span>
<script type="text/javascript" src="http://@ViewData["url"]/widget/get?key=A29B38B7-50E3-43C4-8CA2-078927E40EA4&theme=highContrast"></script>
</div>