@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Staples</h2>




<div>
<span><a href="http://www.sizeup.com" target="_blank">SizeUp</a></span>
<script type="text/javascript" src="http://@ViewData["url"]/widget/get?key=79FF6254-F439-4B46-9AC4-E0FCD61E1FC4&industryId=8495&placeId=12095&feature=featureSelect"></script>
</div>
