@{
    ViewBag.Title = "Wide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wide</h2>



@section head{
    <script type="text/javascript" src="http://@ViewData["url"]/widget/api"></script>
}


<div id="container">

</div>


<script>
    var driver = sizeup.widget.topPlaces({
        container: 'container'
    });
</script>