<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="APIContext" connectionString="metadata=res://*/API.APIContext.csdl|res://*/API.APIContext.ssdl|res://*/API.APIContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-stg-db01.gisplanning.net;initial catalog=SizeUpAPI;persist security info=True;user id=sizeup;password=sizeupmaps4u!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SizeUpContext" connectionString="metadata=res://*/SizeUpContext.csdl|res://*/SizeUpContext.ssdl|res://*/SizeUpContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-stg-db01.gisplanning.net;initial catalog=SizeUpData_old;persist security info=True;user id=sizeup;password=sizeupmaps4u!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AnalyticsContext" connectionString="metadata=res://*/Analytics.AnalyticsContext.csdl|res://*/Analytics.AnalyticsContext.ssdl|res://*/Analytics.AnalyticsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-stg-db01.gisplanning.net;initial catalog=SizeUpAnalytics;persist security info=True;user id=sizeup;password=sizeupmaps4u!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="Crypto.Password" value="G0goG4dgetMaps!" />
    <add key="Crypto.Salt" value="0xA3d121FF5D2A960122" />
    
    
    <add key="TimeSlice.Industry.Year" value="2013" />
    <add key="TimeSlice.Industry.Quarter" value="1" />
    <add key="TimeSlice.Demographics.Year" value="2012" />
    <add key="TimeSlice.Demographics.Quarter" value="1" />
    <add key="TimeSlice.ConsumerExpenditures.Year" value="2012" />
    <add key="TimeSlice.ConsumerExpenditures.Quarter" value="1" />
    
    
    <add key="Data.MinimumBusinessCount" value="3" />

    <add key="Data.Advertising.MaxResults" value="30" />
    <add key="Data.Business.MaxResults" value="10" />
    <add key="Data.BestPlaces.MaxResults" value="30" />
    
    
    <add key="API.CallbackName" value="cb" />
    <add key="API.TokenName" value="t" />
    <add key="API.OriginName" value="o" />
    <add key="API.SessionName" value="s" />
    <add key="API.TokenExpiration" value="10" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" requestValidationType="SizeUp.Core.Web.RequestValidator" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <machineKey decryptionKey="5DA3F90B042BF788696540B806A38E97898DFFCA2B174707" validationKey="1ECF331703240FBDBE65E062C0743A666EE8A5C773ABEF5DDDE1F042AD7B525A01E7DDC8CD5F15063806D1EB8CC0CBCCD52BA555071B64DB2CE560F2832A015B" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="TimingModule" type="SizeUp.Core.Diagnostics.TimingModule, SizeUp.Core" />
      <add name="P3PHeader" type="SizeUp.Core.Web.P3PHeader, SizeUp.Core" />
    </modules>
  </system.webServer>
</configuration>