<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="APIContext" connectionString="metadata=res://*/API.APIContext.csdl|res://*/API.APIContext.ssdl|res://*/API.APIContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-stg-db01.gisplanning.net;initial catalog=SizeUpAPI;persist security info=True;user id=sizeup;password=sizeupmaps4u!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SizeUpContext" connectionString="metadata=res://*/SizeUpContext.csdl|res://*/SizeUpContext.ssdl|res://*/SizeUpContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-stg-db01.gisplanning.net;initial catalog=SizeUpData_old;persist security info=True;user id=sizeup;password=sizeupmaps4u!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AnalyticsContext" connectionString="metadata=res://*/Analytics.AnalyticsContext.csdl|res://*/Analytics.AnalyticsContext.ssdl|res://*/Analytics.AnalyticsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gisp-stg-db01.gisplanning.net;initial catalog=SizeUpAnalytics;persist security info=True;user id=sizeup;password=sizeupmaps4u!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <customErrors mode="Off" xdt:Transform="Replace">
  </customErrors>

  <system.web>

  </system.web>
</configuration>