@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>Business Listings by State</title>
<link href="@Url.Content("~/Content/views/business/find.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
<meta name="robots" content="noindex" />
}

<div id="businessListings" class="state">
    <h1>Business Listings by State</h1>
    @foreach(var col in ViewBag.States)
    {
    <div class="col">
        <ul>
            @foreach(var item in col)
            {
            <li>
                <a href="/find-business/@item.SEOKey/" class="inverse">@item.Name</a>
            </li>
            }
        </ul>
    </div>
    }

</div>





