@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
<title>Business Listings by State</title>
<link href="@Url.Content("~/Content/views/business/business.css")" rel="stylesheet" type="text/css" />
}
<h2>StateList</h2>
