@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<title>Terms Of Service</title>
<meta name="title" content="SizeUp Terms of Service" />
<meta name="keywords" content="terms, agreement, obligations" />
<meta name="description" content="Your use of SizeUp is governed by the terms of this agreement. By accessing SizeUp, you agree to these terms." />

<link href="@Url.Content("~/Content/views/product/terms.css")?@SizeUp.Core.Web.CacheBuster.Buster" rel="stylesheet" type="text/css" />
}

<div id="terms">
@Html.Raw(ViewBag.Content)
</div>